[2013-03-27 21:06] dlebauer opened #2 "Create a script that provides on-demand updated documentation of the database"
This should make documentation easier, current, and more accurate. Our current options are to generate the ER diagrams by hand and export other metadata from SQL using workbench, phpmyadmin, schemaspy, or a similar program. If Rails could generate a database schema with table relationships defined in the SQL dump, we could choose one of these options.

This could either be a live webpage (ideally)

[2014-05-02 17:08] dlebauer opened #42 "Link from "report a problem" to issues on github"
The "report a problem" should link to here: https://github.com/PecanProject/bety/issues/new

[2014-07-24 18:25] mdietze opened #111 "Search for Runs table not working"
When I type search teams in the search window on the Runs table, either all the entries go grey (and none ever return as selected) or the page crashes. Typically I am searching for words in the the Parameters List, which are in the table itself (e.g. trying to find the runs that were sensitivity analyses for SLA).

It would also be nice to search for specific sites as well, but that understandably

[2014-08-07 19:24] bcow opened #121 "Search for Inputs table not working"
Just like previous search problems:
When typing search teams in the search window on the Inputs table, all the entries go grey.
After typing in a search and hitting enter, the following error is displayed:

"We're sorry, but something went wrong.
We've been notified about this issue and we'll take a look at it shortly."

[2014-09-03 21:20] dlebauer opened #135 "Re-align fields in species/show page"
* remove "Plant"
* Move USDA Species Symbol to the end
* USDA Species Symbol should be populated with "AcceptedSymbol" field

![image](https://cloud.githubusercontent.com/assets/464871/4141644/2d1f99e6-33b0-11e4-8716-b7a711c3f931.png)

refs #75; [RM-2211](https://ebi-forecast.igb.illinois.edu/redmine/issues/2211)

[2014-09-08 18:56] robkooper opened #141 "Cloning PFT with Ruby 2.0 gives `NoMethodError`"
When using Ruby 2.0,

When cloning a pft record you will get the following error : `NoMethodError: undefined method 'insert_record' for #<Array:0x000000052541f8> from `,

This is due to the fact that ruby 2.0 does not have that function anymore, or something else. See also https://github.com/rails/rails/issues/11026.

Upgrading from rails 3.0.18 to 3.2.19 (latest in 3 series) will solve this probl

[2014-10-08 16:03] dlebauer opened #144 "Add pfts_cultivars table"
Implement the table or changes as described in #145
This issue does not cover changes to the user interface, which will be a separate issue.

[2014-10-08 20:09] dlebauer opened #145 "Design database changes required to restrict pfts to specific cultivars"
I would appreciate feedback on the following changes to the database schema.

I have come up with two possible options (see below), and would appreciate feedback - especially from @mdietze, @robkooper, @gsrohde

This task requires

1. [ ] create the resulting ER diagram to represent the new table (and 1st degree relations)
2. [ ] review to make sure that this is logical and select one of the optio

[2014-10-17 20:26] dlebauer opened #146 "How to query additional information beyond what is provided by the search download?"
A user asked:

[2014-12-02 20:20] dlebauer opened #149 "Review and update overleaf document on constraints"
Please see explanation and list of constraints on the [BETYdb Constraints](https://authorea.com/users/5574/articles/6719/_show_article) document

* Combine other text written by @gsrohde from Box into the BETYdb Constraints document

[2014-12-02 20:22] dlebauer opened #150 "Migrate information / issues about constraints from Redmine to GitHub"
* [Redmine 2033](https://ebi-forecast.igb.illinois.edu/redmine/issues/2033)
* [Redmine 1915](https://ebi-forecast.igb.illinois.edu/redmine/issues/1915)

Check all subtasks / related issues

[2014-12-02 20:55] gsrohde opened #151 "1. Get Assets Pipeline working"
Some steps:
1. Replace all hard-coded asset references (esp. image tags) in view templates.
2. Test out production setup on pecandev.
3. Start drafting instructions for users.

[2014-12-02 20:59] gsrohde opened #152 "2. Try out upgrade from Rails 3.1 to Rails 3.2 (or 4!)"

[2014-12-02 21:01] gsrohde opened #153 "3. Write out instructions for users for upgrading."

[2014-12-02 21:01] gsrohde opened #154 "4. Have Rob and/or David try upgrade."

[2014-12-02 21:03] gsrohde opened #155 "5. Deploy Rails Upgrade"

[2014-12-22 18:19] bkrohn opened #157 "how can I query all switchgrass yields with fertilization rates"
Hi,

I am researching switchgrass and would like to query fertilization rates, yield, ecotype, and lat/long.  I've gotten yield but haven't found fertilization rates.  Can anyone help?

[2015-01-06 16:48] dlebauer opened #158 "Auto-increment pft name when creating a clone"
On the pfts show page, when creating a clone, the name is duplicated.

Ideally, the user who 'clones' would be prompted (required?) to create a meaningful name. This could be done by simply not allowing the new pft to be saved until a new name is created.

The easiest solution would be to auto-increment the name field by default (i.e. plants --> plants2). Or maybe plants_clone1, plants_clone2. How

[2015-01-06 21:40] gsrohde commented on #144
This has been done and released.  Note the new table is called `cultivars_pfts` following the Rails convention of putting the names of the joined tables in alphabetical order.

[2015-01-06 21:40] #144 closed

[2015-01-07 19:36] dlebauer opened #161 "latitude range should be [-90, 90]"
In 471b893df7573539403cc0e00a5e7b16265f69a0, @robkooper added lat and lon fields to the traits and yields views

It does appear that the records with lat out of range have had the lat and lon switched. However, this did not appear prior to the conversion to PostgreSQL.

[code]

However, for some reason this results in some sites with latitudes that are out of bounds ([source](https://gist.github.c

[2015-01-07 20:17] robkooper opened #162 "Broken constraints"
When loading the database into a version of BETY with the current constraints it fails:

[code]

[2015-01-07 20:24] robkooper commented on #162
If I did my SQL correct, here are the broken PFT's:
[code]

[2015-01-07 20:30] gsrohde commented on #162
It's good we are talking about this now since I was about to add a bunch more foreign key constraints with the "NOT VALID" option.  This allows one to add the constraint before cleaning up the data (allowing us to do "lazy" cleanup)--it only affects updates (including inserts and deletes), not existing data.  But I didn't take into account how your database syncing script works.

[2015-01-07 20:38] dlebauer commented on #162
Yes, these are orphaned keys - perhaps due to deletion of a duplicate species.

I think once we have the 'not valid' flag it will be easier to go through and identify these orphaned foreign keys.

easy fix for this case (I have applied)

[code]

@robkooper please close if this works now. Then we don't need to add a 'not valid' option in this case.

[2015-01-07 21:03] gsrohde commented on #162
Of the 82 foreign key constraints I was about to add, I had to add the "NOT VALID" option to 27 of them because of needed cleanup of the database.  It seems like the options are to delay adding these 27 constraints until we do the necessary database cleanup or coming up with a workaround to the problems the bad data cause to the load.bety.sh script.

[2015-01-07 21:07] robkooper commented on #162
I think part of adding a constraint should be testing and fixing the data that is currently in the database. Adding a flag is kludge and will require in PEcAn to make sure we check the flag as well as in any other place in the BETY interface.

[2015-01-07 21:19] robkooper commented on #162
The following pfts do not exist:

[code]

[2015-01-07 21:27] gsrohde commented on #162
I was of course planning to do the "ALTER TABLE VALIDATE CONSTRAINT ___" statement (in a follow-up migration, I guess) on each "NOT VALID" constraint once the necessary cleanup was done (this removes the NOT VALID flag).  Mainly I wanted to "get these constraints we've been talking about so long done and in place already"--we could at least in that way ensure we don't generate new bad data before

[2015-01-07 21:33] dlebauer commented on #162
in such cases the solution is fairly straightforward

[code]

But in general, I agreed with Scott that fixing data at the same time we implement constraints would confound a well defined task (adding constraints) into an unconstrained task (fixing data) that will require personnel that we don't currently have ...

Is the problem that the data that is synced must respect the constraints? Is there a

[2015-01-07 21:39] robkooper commented on #162
The problem is that the script that is used to sync the database first loads the schema and then each subset of data from the psql file, inserting each row one at a time. If a constraint is placed it will validate the constraint against the data and thus fail inserting data that does pass the constraint.

[2015-01-07 21:41] robkooper commented on #162
import of database succeeded with no more errors.

[2015-01-07 21:53] dlebauer commented on #162
so ... this issue can be closed?

@gsrohde could you create an issue that summarizes the "NOT VALID" flags and other constraint violations that occur as you implement constraints on your development copy of the database? Perhaps start with one issue per constraint type, and create a list like:

* [ ] orphaned pfts_species.pft_id records
[code]
* [ ] orphaned pfts_species.specie_id records
* [ ] ..

[2015-01-07 21:59] robkooper commented on #162
Constraints are fixed, database loads.

[2015-01-07 21:59] #162 closed

[2015-01-07 22:00] gsrohde commented on #162
Will do.  FYI there are 25 "problem" foreign key constraints.  If I find that many of them only involve a few rows, I may combine some of these into one issue if that's OK.

[2015-01-07 22:04] gsrohde opened #163 "citations_sites: missing citations"
[code]

[2015-01-07 22:08] gsrohde opened #164 "citations_sites: missing sites"
select site_id, count(*), array_agg(citation_id) as citation_id_list from citations_sites where site_id not in (select id from sites) group by site_id;
 site_id | count | citation_id_list
---------+-------+------------------
      46 |     1 | {290}
     559 |     1 | {276}
     570 |     1 | {216}
     660 |     1 | {253}
    1085 |     1 | {712}
    1087 |     1 | {712}
    1121 |     1 | {735}

[2015-01-07 22:19] gsrohde opened #165 "citations_treatments: missing citations and/or treatments"
BOTH MISSING:

select citation_id, treatment_id from citations_treatments where citation_id not in (select id from citations) and treatment_id not in (select id from treatments);
 citation_id | treatment_id
-------------+--------------
         361 |         1171
         369 |          698
         208 |         1094
(3 rows)

CITATION MISSING:

select citation_id, count(*), array_agg(treatment_i

[2015-01-07 22:21] dlebauer commented on #162
I meant one issue per constraint type (e.g. one issue for the foreign key constraints etc ... one for value constraints, etc.) some may be easier to tick off than others ...

[2015-01-07 22:55] gsrohde opened #166 "covariates: missing traits and/or variables"
BOTH MISSING:
select trait_id, variable_id from covariates where trait_id not in (select id from traits) and variable_id not in (select id from variables);
 trait_id | variable_id
----------+-------------
(0 rows)

TRAIT MISSING:

select trait_id, count(*), array_agg(variable_id) as variable_id_list from covariates where trait_id not in (select id from traits) and variable_id in (select id from va

[2015-01-07 23:07] gsrohde opened #167 "cultivars: missing species"
select id, specie_id, name, ecotype, notes from cultivars where specie_id not in (select id from species) order by id;
 id  | specie_id |     name     | ecotype |                        notes
-----+-----------+--------------+---------+------------------------------------------------------
  83 |         0 |              |         |
  84 |         0 |              |         |
  85 |         0 | Gre

[2015-01-07 23:11] gsrohde opened #168 "inputs: missing users"
select id, user_id from inputs where user_id not in (select id from users);
 id  | user_id
-----+---------
   6 |      -1
 204 |      -1
(2 rows)

Does "-1" have some special significance?

[2015-01-07 23:24] dlebauer commented on #168
Not sure where the -1 came from, but the first is mine and the other belongs to @mdietze

[code]

[2015-01-07 23:24] #168 closed

[2015-01-07 23:24] gsrohde opened #169 "load.bety.sh and update.psql.sh should filter out covariates that refer to filtered-out traits"
Otherwise we can't have a foreign-key constraint on covariates.trait_id.

[2015-01-07 23:30] gsrohde opened #170 "managements: missing citations"
select citation_id, count(*), array_agg(id) as ids_of_rows_referring_to_this_citation from managements where citation_id not in (select id from citations) group by citation_id order by citation_id;
 citation_id | count | ids_of_rows_referring_to_this_citation
-------------+-------+----------------------------------------
         369 |     1 | {2400}
         484 |     3 | {3034,3035,3036}
(2 rows

[2015-01-07 23:34] gsrohde opened #171 "managements_treatments: missing managements and/or treatments"
MISSING MANAGEMENTS:

select management_id, count(*), array_agg(treatment_id) as treatment_id_list from managements_treatments where management_id not in (select id from managements) group by management_id;
 management_id | count | treatment_id_list
---------------+-------+-------------------
          1696 |     1 | {735}
          1703 |     1 | {735}
          2313 |     1 | {746}
          231

[2015-01-07 23:44] dlebauer commented on #167
[code]

[code]

The rest of these cultivars are not referenced and thus I deleted them:

[code]

[2015-01-07 23:44] #167 closed

[2015-01-08 00:03] dlebauer commented on #163
* I've fixed citation_id = 474 (it was a duplicate of 733)
* the sites listed that are associated with citation_id 484 in citations_sites are:

[code]

@mdietze what is the appropriate citation for these?

[2015-01-08 00:16] mdietze commented on #163
Noormets et al 2007 Age-Dependent Changes in Ecosystem Carbon Fluxes in Managed Forests in Northern Wisconsin, USA. Ecosystems 10(2): 187-203, doi:http://dx.doi.org/10.1007/s10021-007-9018-y

[2015-01-08 00:19] dlebauer commented on #164
These were duplicates of EBI farm plots:

[code]

This site was entered as a test

[code]

[2015-01-08 00:44] #164 closed

[2015-01-08 01:09] dlebauer commented on #165
No need to keep any where both are missing:

[code]

Treatments 2043 and two named 'test' are obsolete

[code]

[code]

[2015-01-08 01:18] dlebauer commented on #170
these managements are not associated with any treatments, so there is no way to track them down and they are probably orphaned.

[code]

[2015-01-08 01:18] #170 closed

[2015-01-08 01:32] dlebauer commented on #166
All orphaned covariates deleted
[code]

and those with missing variables (this record was not valid)

[code]

[2015-01-08 01:32] #166 closed

[2015-01-08 01:41] dlebauer commented on #171
A check of the citations with missing managements shows that these orphans have been replaced by new managements

[code]

So I have deleted these

[code]

[2015-01-08 01:46] dlebauer commented on #163
[code]

[2015-01-08 01:46] #163 closed

[2015-01-08 05:33] robkooper commented on #158
I think a cleaner way is for the clone button to have a field next to it that has to have the new name, and has to be unique, otherwise it comes back and shows a message that the name is not unique (maybe with a link to the pft with that specific name).

[2015-01-08 05:47] robkooper commented on #161
David I think is due to your code (https://gist.github.com/dlebauer/e76c6bec32b1d29f1a16) I think you inserted the lat/lon in the wrong order. ST_MakePoint takes 2 arguments X,Y which is lon/lat. A quick check shows that some of the values that fail the constraints are those that are in this gist.

[2015-01-08 05:56] dlebauer commented on #161
I'll look into this- thanks for identifying the likely source of this error ... I'll review it tomorrow. Howver, according to [the documentation](http://postgis.net/docs/ST_MakePoint.html), ST_MakePoint can take an optional third argument, z. elevation, as well as a fourth, m, but I may have applied it incorrectly.

[2015-01-08 05:57] dlebauer commented on #161
Ah, now I see, _wrong order_. At least it will be an easy fix

[2015-01-08 16:07] gsrohde opened #172 "pfts_priors: missing pfts and/or priors"
MISSING PFTS:

select pft_id, count(*), array_agg(prior_id) from pfts_priors where pft_id not in (select id from pfts) and prior_id in (select id from priors) group by pft_id order by pft_id;
 pft_id | count |                               array_agg
--------+-------+-----------------------------------------------------------------------
     29 |    19 | {1,5,24,35,39,45,47,52,57,63,70,75,77,80,83

[2015-01-08 16:11] gsrohde opened #173 "priors: missing variables"
select * from priors where variable_id not in (select id from variables);
 id  | citation_id | variable_id | phylogeny | distn | parama | paramb  | paramc | n |            notes             |     created_at
   |     updated_at
-----+-------------+-------------+-----------+-------+--------+---------+--------+---+------------------------------+------------------
---+---------------------
 209 |

[2015-01-08 16:14] gsrohde opened #174 "sites: missing users"
Note this row has "DELETE ME" in the sitename column:

select * from sites where user_id not in (select id from users);
  id  |                                  city                                   | state  | country | mat | map | soil | som |
                      notes                                | soilnotes |     created_at      |         updated_at         |    sitename
    | greenhouse |

[2015-01-08 16:26] dlebauer commented on #174
[code]

[2015-01-08 16:30] dlebauer commented on #173
I don't use uniform priors, but there are no associated PFTs; I will delete this one.

[2015-01-08 16:30] #173 closed

[2015-01-08 17:50] gsrohde opened #175 "traits: missing citations, cultivars, methods, sites, treatments, users, and variables; inconsistent cultivars/species and citations/treatments"
MISSING CITATIONS:

[code]

INCONSISTENT CITATIONS/SITES
[code]

INCONSISTENT CITATIONS/TREATMENTS

[code]

MISSING CULTIVARS (see also cultivar-species inconsistencies below):

[code]

INCONSISTENT SPECIES:

[code]

MISSING METHODS:

[code]

MISSING SITES:

[code]

MISSING TREATMENTS:

[code]

MISSING USERS:

[code]

MISSING VARIABLES:

[code]

[2015-01-08 18:04] gsrohde opened #176 "yields: missing cultivars and sites"
MISSING CULTIVARS:

[code]

MISSING SITES:

[code]

[2015-01-08 18:07] dlebauer commented on #161
Should be fixed by the queries here: https://gist.github.com/dlebauer/e76c6bec32b1d29f1a16#file-update_sites_switch_latlon-sql

Looks much better:

![image](https://cloud.githubusercontent.com/assets/464871/5667630/ef59a204-972e-11e4-9d39-4ae8494f14f0.png)

[2015-01-08 18:07] #161 closed

[2015-01-08 20:58] gsrohde commented on #145
@dlebauer Can I close this?

[2015-01-08 21:22] dlebauer commented on #145
Yes, this can be closed though to addresss the valid points raised by @mdietze:
1. if there is a case where research conflicts with the constraints, we can remove the constraint.
2. we can address issues with the interface at the time of implementation;

[2015-01-08 21:22] #145 closed

[2015-01-08 21:42] gsrohde commented on #174
This created another orphaned citations_sites row that didn't show up before.

[code]

[2015-01-09 15:24] dlebauer commented on #174
delete from citations_sites where citation_id = 178 and site_id = 1013;

[2015-01-09 15:24] #174 closed

[2015-01-09 16:18] gsrohde commented on #162
I just saw this--too late now.  I haven't yet gotten to writing up any migrations for anything other than foreign key constraints.

[2015-01-09 16:24] dlebauer commented on #162
what you've been doing is fine

[2015-01-09 16:45] dlebauer commented on #176
I've converted the orphaned cultivars to NULL. It will take a bit more work to sort out the orphaned sites.

[code]

[2015-01-09 16:46] gsrohde commented on #171
Are there managements_treatments entries for the new managements that correspond to the old managements?

[2015-01-09 16:50] dlebauer commented on #171
Yes - I found them by 1) Identifying the associated citation and then 2) querying managements associated with the citation. This is related to a glitch in the interface that prevents data entry technicians from unlinking managements.

[2015-01-09 16:50] #171 closed

[2015-01-09 16:54] gsrohde commented on #171
Is there a bug report for that?

[2015-01-09 17:03] dlebauer commented on #171
Bug report for inability to unlink managements is here: https://ebi-forecast.igb.illinois.edu/redmine/issues/2334

Indeed, it looks like the feature is implemented in pull request #106, but is still awaiting tests to be written.

[2015-01-09 17:19] dlebauer commented on #158
@robkooper good idea

[2015-01-12 16:19] #2 closed

[2015-01-12 16:19] #146 closed

[2015-01-13 18:32] robkooper commented on #169
What flag is filtered out traits, best it to ignore those in the dump script so they never make it out of the server.

[2015-01-13 21:13] dlebauer opened #177 "Remove counties and locations_yields tables"
* locations_yields
* counties
* sessions

The locations_yields and counties table are deprecated. It was originally created by @mulroony to support mapping of model output, but this approach has since been replaced.

The sessions table has never been used [Redmine 2048](https://ebi-forecast.igb.illinois.edu/redmine/issues/2048)

[2015-01-13 23:13] gsrohde opened #178 "missing posteriors"
This query, I presume, shouldn't return anything:

[code]

[2015-01-19 05:02] robkooper commented on #178
I think we can probably also delete the ones that have no container_type.

[2015-01-19 17:08] dlebauer commented on #178
[code]

[2015-01-19 17:08] #178 closed

[2015-01-20 16:53] gsrohde commented on #169
The load.bety.sh script (or is it the dump script?) filters out all traits and yields where the access_level is less than 3.  But it keeps all covariates, some of which refer to these filtered-out rows (via the trait_id column).  This breaks the foreign-key constraint on covariates.trait_id.

[2015-01-20 17:32] gsrohde opened #179 "treatments: missing users"
Tasks:

* [ ] Delete bogus(?) treatment row.
* [ ] Add constraint: `ALTER TABLE "treatments" ADD CONSTRAINT "fk_treatments_users_1" FOREIGN KEY ("user_id") REFERENCES "users" ("id")`

The row is:

[code]

[2015-01-21 15:09] robkooper opened #180 "-1 is valid for model_id for workflows"
-1 is used for those models that have no entry in the database but still have all the required pieces, thus -1 is a valid value when writing to the workflow table.

[2015-01-21 16:19] dlebauer commented on #180
@robkooper

What scenario are you describing?

* A workflow with a model that exists, and has wrappers in PEcAn, but is not in the database? Why not just require a record for the model in the database?
* A workflow that doesn't use a model?
* other?

Some options:

* require a record in the models table
* create a record in the models table with id = -1
* create an arbitrary "dummy" row for an "un

[2015-01-21 16:25] mdietze commented on #180
I know that Rob was using -1 in the system tests on read.settings

[2015-01-21 16:33] robkooper commented on #180
If you specify a model with no id, but with a type, and binary it is a valid way of describing the model for PEcAn to operate, however the model might not exist in the database (for example when you want to use your own version of ED). At this point I can not find a model_id and will use -1 to indicate the model is not in the database.

[2015-01-21 16:56] dlebauer commented on #180
@robkooper would it be reasonable to either

* use "NULL" instead of -1 - that is the way we handle foreign keys that do not have associated records.
* enter a new record in the models table?

In the case you mention, we would at least have a model name, server, binary, and modeltype.

[2015-01-21 16:58] robkooper commented on #180
I don't want to add throw away models to the system because a user is experimenting with a new model. Once it is official for others to use it should be added to the database.

I'll try and see what happens with the NULL.

[2015-01-21 18:14] dlebauer commented on #180
Shouldn't `write = FALSE` for an experimental run? Is there a case where provenance would be useful for a workflow that includes an arbitrary model?

I think that 'official' is vague. Neither commits nor tags have any requirement that the version be 'official' or intended for general use, and interesting research can be done on versions that are not 'official' releases (e.g. how model skill change

[2015-01-21 20:08] gsrohde commented on #149
I moved the authorea documentation to overleaf.  The read-only version is at https://www.overleaf.com/read/wxptyrksypkx

To edit, go to https://www.overleaf.com/2086241dwjyrd

[2015-01-21 20:21] gsrohde commented on #149
@dlebauer Originally I had thought of this as a working document--something to use only while we were in the process of designing and implementing constraints.  But then I got the impression you were thinking of it as something more permanent, perhaps even as something that would become a significant piece of the database documentation.  If this is true, it seems it will gradually need to be rewri

[2015-01-21 20:40] dlebauer commented on #149
The idea was first to serve as a proposal that could be reviewed and developed, and later to serve as documentation that that both gives background and an list of the specific constraints that we applied. The tense is not nearly as important as the background and details, and to have all of these details in one place (or linked to from one place). I just assume the .tex file go in the BETYdb repos

[2015-01-23 20:08] gsrohde opened #181 "citations: add uniqueness constraint"
* [ ] _Optional but recommended--see below._ Normalize white space in title and author columns
* [ ] Consolidate duplicate citation rows
* [ ] Add citation uniqueness constraint
* [ ] _Optional--see below._ Add a trigger function to ensure title and author columns are whitespace-normalized upon insertion or update

The minimal constraint we wish to add is

[code]

To see violators, run

[code]

Th

[2015-01-23 22:23] gsrohde opened #182 "cultivars: (name, specie_id) should be a candidate key"
* [x] Eliminate or update rows with NULL names
* [x] Eliminate or update rows with NULL specie_id
* [x] Consolidate rows with matching (name, specie_id) values
* [x] Add not-NULL and uniqueness constraints - READY TO BE DONE
* [x] Normalize whitespace in the name column
* [x] Add whitespace normalization constraint - READY TO BE DONE
* [x] _Optional:_ Add a trigger function to automatically normal

[2015-01-23 23:48] gsrohde opened #183 "dbfiles: Add constraints for two candidate keys"
* [ ] Correct uniqueness violations
* [ ] Correct not-NULL violations
* [ ] Add uniqueness constraints
* [ ] Decide what, if any, normalization and value constraints to use
* [ ] Add normalization and/or value constraints
* [ ] Add not-NULL constraints

The two proposed uniqueness constraints in lines 1300-1301 of the gist at https://gist.github.com/dlebauer/59d9e44ec29838259fa4 are

[code]
(I've

[2015-01-26 17:04] gsrohde opened #184 "formats: make dataformat a key"
* [ ] Add not-NULL constraint to dataformat column
* [ ] Eliminate duplicate dataformat values
* [ ] Add uniqueness constraint to dataformat column
* [ ] Consider adding value constraint to dataformat column
* [ ] Consider adding uniqueness constraints to other columns

# Not-NULL constraint

There are no rows with NULL in this column so we can already add

[code]

# Duplicate dataformat values

T

[2015-01-26 17:21] dlebauer commented on #181
## Fixed citations with null year

* added manually through interface
* removed one with no information (citation_id = 731)
[code]
* removed citation only used on orphaned management
[code]

[2015-01-26 17:53] dlebauer opened #185 "Create generic function for updating duplicates"
When implementing uniqueness constraints, duplicate records arise

Need a function (in sql or r) that will do the following:

* identify dependent tables
* make all referents point to same record
* delete duplicate

The arguments to the function would be `tablename`, `record` and `duplicate_record`

To identify all referring tables:

[code]

[2015-01-26 18:30] dlebauer commented on #183
* I replaced null values of file_path in dbfiles with an empty string

@robkooper @mdietze

* the remaining violation here is https://www.betydb.org/dbfiles/215
* some of the records in dbfiles with a file path that starts `/usr/local/ebi/paperclip/files/` have auto-generated file names that are included at the end of the file_path field. The file_name field contains readable text, but does not ac

[2015-01-26 19:02] dlebauer commented on #182
* fixed null values of cultivars.name
* fixed null values of specie_id
[code]

[2015-01-26 20:03] mdietze commented on #183
id 215: It is unclear to me from this message what the "violation" is in this record. It has a machine, file path, and file name. Is there something wrong with the values for any of these?

Paperclip: Yes, we still want those files. I'm fine if you migrate them to another location on the server, so long as you update all the file paths, but is that really worth the effort? (i.e. is the paperclip f

[2015-01-26 20:36] dlebauer commented on #176
More sites fixed:

[code]

[2015-01-26 20:43] gsrohde commented on #185
Here's the SQL function I came up with.  It doesn't handle the case where an update would cause a uniqueness violation except by reporting the error and continuing.

You can try this out by pasting the code into a psql session or Navicat query window (preferably on a _copy_ of BETYdb until we're sure there are no glitches).  The function arguments, if it isn't obvious, are (1) the name of the tabl

[2015-01-26 21:27] dlebauer commented on #183
dbfiles.id = 215 has no container_id, so it violates a not-null constraint

The issue with the paperclip files is that the values in the `file_path` and `file_name` fields are incorrect. Paperclip gave a random name to each file, though this name is currently under `file_path This could be corrected by either a) renaming the file or b) updating the records, e.g.
[code]
This should be okay, as long

[2015-01-26 21:58] mdietze commented on #183
id 215: Went through all the input records and I believe that the record associated with this was probably deleted so this dbfile record can be deleted

paperclip: I didn't realize the last bit in the PATH was the file name, not part of the path (that's not how that record is supposed to be used). I think it would be much  better to change the file name back to the original (what's in the filename

[2015-01-26 22:27] dlebauer commented on #183
[code]

files copied to `/home/share/data/dbfiles/` and database updated ([see gist](https://gist.github.com/dlebauer/494ffed159cd8ef4600a))

[2015-01-26 22:31] dlebauer commented on #183
@gsrohde this should be ready to implement. I've updated the tasks

[2015-01-27 16:31] gsrohde commented on #183
@dlebauer Are we dispensing with this constraint:
[code]
As I mentioned, there are _many_ violations.

[2015-01-27 16:36] gsrohde commented on #185
@dlebauer It occurs to me now that I should update this function to update the `updated_at` column if it exists (and I think it always or nearly always does) and also update the `updated_user_id` column if it exists, or if not, the `user_id` column if _it_ exists.

If you agree, should I also do this when I am normalizing the whitespace in textual columns?  (I've already done some whitespace norma

[2015-01-27 17:01] mdietze commented on #183
I somehow missed that you were adding the constraint that the container_type and container_id pair be unique. That constraint SHOULD BE DROPPED since it counter to the database design. The design of the dbfiles table REQUIRES that these be non-unique since they point of the dbfiles table is to allow a 1:many relationship between the "container" and the individual files. For example, a single Input

[2015-01-27 18:14] dlebauer commented on #185
Yes,

looks like it just requires adding `, updated_at = now() ` before `WHERE` in the update statement

Technically, yes, though don't worry about the previously updated rows. I have frequently forgotten to update this field.

[2015-01-27 18:34] gsrohde opened #186 "inputs: add candidate key"
* [ ] Decide what NOT NULL constraints to use
* [ ] Implement NOT NULL constraints
* [ ] Consolidate duplicate inputs rows
* [ ] Add uniqueness constraint

# Uniqueness

[code]

yields 4 groups of duplicates involving a total of 9 rows.

The constraint we wish to add is

[code]

# Not-NULL constraints

In order for `(site_id, start_date, end_date, format_id)` to serve as a key, each of the columns

[2015-01-27 18:41] gsrohde opened #187 "inputs_runs: Make (input_id, run_id) a key"
* [x] Add UNIQUE and NOT NULL constraits

The code is
[code]

[2015-01-27 20:39] gsrohde opened #188 "inputs_variables: make (input_id, variable_id) a key"
* [x] Add UNIQUE and NOT NULL constraints to make (input_id, variable_id) a key

The code is
[code]

[2015-01-27 20:43] gsrohde opened #189 "likelihoods: make (run_id, variable_id, input_id) a key"
* [x] Add constraints to make `(run_id, variable_id, input_id)` a key

The code is
[code]

[2015-01-27 20:46] gsrohde opened #190 "machines: make hostname a key"
* [x] Add constraints to make hostname a key

The code is
[code]

[2015-01-27 21:06] gsrohde opened #191 "managements: make (date, mgmttype) a key"
* [ ] Eliminate NULL date values
* [ ] Consolidate duplicate rows
* [ ] Add NOT NULL and UNIQUE constraints

# NULL date values

[code]
yields 200 rows!

# Non-uniqueness of (date, mgmttype)

[code]

yields 678 groups, some involving as many as two dozen or more rows!  This will only increase after NULLs are eliminated. Is this really a viable key, or do we need to include another column?

To see

[2015-01-27 21:17] gsrohde opened #192 "managements_treatments: make (treatment_id, management_id) a key"
* [x] Add NOT NULL constraints to treatment_id and management_id columns

A unique index already guarantees uniqueness, so we need only add

[code]

[2015-01-27 21:24] gsrohde opened #193 "methods: make (name, citation_id) a key"
* [ ] Update or eliminate rows with null citation_id
* [ ] Add not NULL constraints
* [ ] Add uniqueness constraint

# Null citation_ids

[code]
yields 4 rows.

# Constraints

Add them with
[code]

[2015-01-27 21:34] mdietze commented on #184
The dataformat column has been deprecated. Don't make it a key. We should create an issue to migrate the legacy information in that table into the formats_variables relationships and then drop the column in a fairly soon release.

[2015-01-27 22:15] gsrohde opened #194 "mimetypes: make type_string a key, and add value constraints to it"
* [x] Add NOT NULL and uniqueness constraints
* [x] Design a suitable value constraint
* [x] Fix row 835
* [x] Add value constraint

# Key constraints

Run
[code]

# Designing suitable value constraint

As a start, something like

[code]

This is sufficiently strict to catch the typo in row 835 (`applicaiton/x-bytecode.python`).  But on the other hand, it may make it too difficult to add values wi

[2015-01-27 22:21] gsrohde opened #195 "pfts_priors: make (pft_id, prior_id) a key"
* [x] Add NOT NULL constraints

There is already a uniqueness constraint (via a unique index) so we need only ensure the column values are non-NULL.

Run
[code]

[2015-01-27 22:25] gsrohde opened #196 "models: decide on an appropriate key"
The originally-proposed was model_path, but this column was removed in June 2014.

[2015-01-27 22:32] dlebauer commented on #196
@mdietze `(model_name, revision)`?

[2015-01-27 23:01] gsrohde opened #197 "pfts: make name a key"
* ~~consolidate rows with equal names~~
* [x] Add NOT NULL and uniqueness constraints
*  ~~Constrain name to contain no whitespace~~

# Duplicate {name, modeltype_id}

[code]
shows that there are no violations of this constraint

# Key constraints

Run
[code]

# Value constraint

Is there any reason to allow whitespace in names?  If not:
[code]

[2015-01-27 23:15] mdietze commented on #196
Yeah, it's probably safe to say that ( model_name, revision ) should be unique.  I am nervous, however, that the rush to add a ton of constraints is going to continue to break the database sync system, in particular as the database expands to more and more modeling teams.

[2015-01-28 02:32] robkooper commented on #197
name of pft does not have to be unique, we can have a populus per model, i think a good constraint would be (name, modetype_id)

[2015-01-28 03:57] dlebauer commented on #197
Good idea @robkooper - there are no duplicates when `name, modeltype_id` are used

@gsrohde i've updated the original issue to reflect this change - should be ready to implement.

[2015-01-28 04:24] dlebauer commented on #196
I appreciate your concern regarding the implementation of constraints.

This isn't rushed ... we started defining and reviewing constraints last summer. The implementation was delayed until after AGU, so we are trying to move forward along a steady, clearly defined path: Define constraints --> prepare database --> implement constraints. If it seems rushed, it may be the amount of activity due to t

[2015-01-28 05:46] dlebauer commented on #121
Fixed in BETYdb 3.3 https://github.com/PecanProject/bety/releases/tag/betydb_3.3

[2015-01-28 05:46] #121 closed

[2015-01-28 05:48] dlebauer commented on #111
This was resolved in BETYdb 3.3 https://github.com/PecanProject/bety/releases/tag/betydb_3.3

[2015-01-28 05:48] #111 closed

[2015-01-28 14:07] mdietze commented on #196
There are two issues when it comes to syncs. The short term issue is the addition of constraints breaking the sync due to legacy database errors -- this could be resolved by doing sync tests before pushing constraints to the live database. The longer term issue is that the constraints that are being imposed were proposed prior to getting the sync system up and running. There may be constrains that

[2015-01-28 14:43] dlebauer commented on #196
I had not thought of this. We should probably have a meeting about these issues and how to resolve them. I don't think that allowing invalid or duplicate records is a good answer. Perhaps duplicates could be fixed on import using the function in #185.

Please suggest how you would like thhis to be communicated. I was unaware of any issues that arose prior to the NACP meeting  - or that this was lo

[2015-01-28 14:54] mdietze commented on #196
Yes, we should have that conversation

On advanced warning, we've been discussing the PEcAn development in out weekly Skype telecon which you are always encouraged to attend so you know what we're planning and we know what you're planning

On Twitter, your messages do **NOT** include links to the release notes

[2015-01-28 14:58] dlebauer commented on #196
Sorry. I'll fix the tweets.

I didn't realize the weekly telecon had started up again this semester.

[2015-01-29 21:52] gsrohde opened #198 "posteriors: make (pft_id, format_id) a key"
* ~~[ ] Assign each row a format_id~~
* [x] Delete existing rows (and dependents)
* [x] Add not NULL constraints
* [ ] Add uniqueness constraint

# Existing nulls.

Currently, all rows have null format_id;

# Adding not NULL constraints

[code]

~~ALTER TABLE posteriors ALTER COLUMN format_id SET NOT NULL;~~

# Uniqueness

The uniqueness constraint is:
~~ALTER TABLE posteriors ADD CONSTRAINT uniqu

[2015-01-29 22:02] dlebauer commented on #198
@gsrohde you can delete all existing rows from this table and apply the constraints

[2015-01-29 22:31] gsrohde opened #199 "priors: make (variable_id, phylogeny, notes) and (citation_id, variable_id, phylogeny) keys"
* [ ] Eliminate NULLS
* [ ] Add not NULL constraints
* [ ] Consolidate or distinguish duplicates
* [ ] Add uniqueness constraints

# Eliminate existing NULLS

[code]
yields 77 rows.

[code]
yields 14 rows.

[code]
yields 13 rows.

`variable_id` is never NULL.

# Add not NULL constraints

[code]

# Add uniqueness constraints

[code]
yields 6 groups of duplicates of size 2 or 3.

[code]
yields 10 gr

[2015-01-29 22:50] gsrohde opened #200 "runs: make key"
* [ ] Verify proposed key
* [ ] Implement constraints

# Proposed key

The proposed key is
[code]

The runs table is currently empty, so this can be implemented now on ebi-forecast.

# Constraints

[code]

[2015-01-29 23:07] gsrohde opened #201 "sites: make key"
_IN PROGRESS_

* [ ] Verify proposed key
* [ ] Eliminate NULLs from geometry column
* [ ] Eliminate NULLs from sitename column
* [ ] Consolidate duplicate rows
* [ ] Add constraints

# Proposed key

Originally, we had proposed `sitename` as a key.  Now, it seems `(

[2015-01-30 19:56] gsrohde opened #202 "species: design a strategy for eliminating duplicates"

[2015-01-30 20:16] dlebauer opened #203 "Create API key for users"
* [x] generate api keys for existing users
* [x] show api key on users/show page
* [x] generate api key when new account is created
* [x] add key to email sent for new accounts

There is an apikey field in the users table, but only a few accounts have keys.

[2015-01-30 22:44] gsrohde opened #204 "traits: make a key"
* [ ] Verify proposed key
* [ ] Clean up existing data
* [ ] Add constraints

The proposed key has _many_ (15!) columns: `(site_id, specie_id, citation_id, cultivar_id, treatment_id, date, time, variable_id, entity_id, method_id, date_year, date_month, date_day, time_hour, time_minute)`.  This is not a real problem, but it does bring up the question of whether this is the correct set to use as a k

[2015-01-30 23:30] gsrohde opened #205 "users: make keys"
* [ ] Verify proposed keys
* [ ] Eliminate NULLs and duplicates if necessary
* [ ] Add constraints

# Proposed keys

The spreadsheet proposes `(apikey)`, `(email)`, `(login)`, and `(salt)` as keys, and the GIST proposes `(crypted_password)` as well.  I'm only convinced that `login`, `apikey`, and possibly `email` should be a keys.

It seems unlikely that `crypted_password` or `salt` will ever be n

[2015-01-30 23:38] gsrohde opened #206 "variables: make name a key"
* [ ] Consolidate duplicates
* [ ] Add constraints

# Uniqueness violations

[code]
yields three groups of duplicate names comprising 7 rows.

`name` is never NULL.

# Constraints to add

[code]

[2015-01-31 05:25] dlebauer opened #207 "Update API documentation"
Please describe how the following operations can be performed in the API:
* join tables (across one to many and across many to many, e.g. via `managements_treatments`)
* subset rows `where x in ( ...)`
* subset columns `select colA, colB, ... from table ...`
* select distinct values (or count distinct values as in : `select scientificname, count(*) as n from traits_and_yieldsview group by scientif

[2015-01-31 05:42] dlebauer opened #208 "Automatically query covariates associated with a given trait"
When traits are selected, appropriate covariates should also be returned. For example, kinetic rates need a temperature covariate.

@gsrohde where is the table of variable <--> covariate pairs that you used to implement the checks in the bulk uploads?

[2015-02-02 16:07] gsrohde commented on #208
The table is `trait_covariate_associates`.  FYI, as I mentioned earlier, the Rails app has view access to it but no way to change it.

[2015-02-02 16:28] gsrohde opened #209 "workflows: Make key"
* [ ] Verify proposed key
* [ ] Update or delete rows containing NULL in key columns
* [ ] Add constraints

# Proposed key

The proposed key is `("site_id", "model_id", "params", "advanced_edit", "start_date", "end_date")`.

# Existing key violations

There is only one row, so obviously there are no uniqueness violations.

The existing row is NULL in the `params` column.

# Constraints to add

[co

[2015-02-02 17:41] gsrohde opened #210 "yields: make key"
* [ ] Verify proposed key
* [ ] Clean up existing data
* [ ] Add constraints

# Proposed key

The proposed key is `("citation_id", "site_id", "specie_id", "treatment_id", "cultivar_id", "method_id", "entity_id", "date_year", "date_month", "date_day")`.  The last four columns don't yet exist.

Note that the proposed key for `traits` includes both `date` and the `date_year`, `date_month`, and `date_

[2015-02-02 19:13] gsrohde opened #211 "ensembles: should this have a key?"
There is no natural key defined in either the constraints spreadsheet or the GIST.

[2015-02-02 19:19] gsrohde opened #212 "treatments: Should this have a key?"
The constraints spreadsheet offers `(citation_id, site_id, name)`, but currently neither `citation_id` nor `site_id` are columns in this table.  The GIST doesn't have a uniqueness constraint on this table (other than the usual primary key constraint on `id`).

[2015-02-02 19:50] gsrohde opened #213 "citations_sites: Finish making key"
* [x] Add not-NULL constraints

`(citation_id, site_id)` is already constrained to be unique, but the constituent columns should be constrained to be non-NULL.

The constraints to add are
[code]

[2015-02-02 20:08] gsrohde opened #214 "All created_at and updated_at columns should default to NOW()"
* [x] Consider (and comment on) proposed change
* [ ] Implement default (and possible not NULL constraint)

Although these columns will get set properly (I think) when an insertion happens via the Rails interface, there is no harm that I can see in making this a default at the database level.  Too often these columns are NULL.

We might consider requiring them to be non-NULL.  This would entail up

[2015-02-02 20:16] gsrohde opened #215 "citations_treatments: Finish making key"
* [x] Update or delete row with NULL citation_id.
* [x] Add not NULL constraints

`(citation_id, treatment_id)` is constrained to be unique, but the constituent columns should be constrained to be non-NULL.

In fact, `citation_id` is NULL in one row.

The constraints to add are
[code]

[2015-02-02 20:23] gsrohde opened #216 "covariates: Finish making key"
* [ ] Fix rows with NULL trait_id
* [ ] Add not-NULL constraints

`(trait_id, variable_id)` is constrained to be unique, but the constituent columns should be constrained to be non-NULL.

Currently, 9 rows have NULL in the `trait_id` column.

The constraint to add are:
[code]

[2015-02-02 21:51] dlebauer commented on #215
The null citation_id was a duplicate

[code]

[2015-02-04 03:23] dlebauer commented on #201
We can import this gist https://gist.github.com/dlebauer/be9eedffeadbdb71bf82 where I have standardized the city, state, and country codes (using the ArcGIS standardize addresses toolbox)

[2015-02-04 20:20] robkooper commented on #214
sure sounds great.

[2015-02-06 19:14] gsrohde commented on #200
@dlebauer , @robkooper I just read a note pertaining to this in the "Constraints for BETYdb" document: "finished_at will not be available when record is created"  (I assume `finished_at` really means `finish_time`.)

So either this has to initially be set, say, to `start_time`, or we can't have a NOT NULL constraint on this.  In the latter case the proposed key really isn't a key (though, it seems

[2015-02-06 19:21] gsrohde commented on #200
Ah, now I see that the table includes `start_time`, `finish_time`, `start_date`, `finish_date`, `started_at`, and `finished_at`.  Which of these should be part of the key?

[2015-02-06 19:29] dlebauer commented on #200
In the constraints table, it says to add the following comments:

[code]

so the `*_time` information will be available when the run starts. Only the `*_at` information will not be available. I think `null` would be fine, but we could use `now()` and interpret `started_at == finished_at` as not finished.

[2015-02-08 00:10] dlebauer opened #220 "Bulk data upload"
@lovelilyinfall asks:

* [x] question answered below
* [x] upload [feng_luquillo.csv](https://gist.github.com/dlebauer/daee0daa631f98ae73aa)
* [ ] verify that upload looks sound, and eliminate mentioned possible duplicate.

[2015-02-08 00:18] dlebauer commented on #220
This feature exists, but is currently accessible to administrators. If you follow the instructions and use the templates in the [BETYdb data entry documentation](https://www.authorea.com/users/5574/articles/6800/_show_article), you can enter the metadata (site, treatment, citation info) into the web interface and send the upload file to an administrator (@dlebauer or @gsrohde at betydb.org or cont

[2015-02-08 02:02] lovelilyinfall commented on #220
Thanks for your help. I do not have access to the csv templates. When I clicked on "traits.csv", I get to a google drive page telling I will need permission to access the template. Can you please grant me access?

![image](https://cloud.githubusercontent.com/assets/5421381/6094861/6b4d0c3a-af0c-11e4-941f-177d3084a233.png)

[2015-02-08 02:09] dlebauer commented on #220
@gsrohde could you please either make the templates publicly available or post them somewhere and update the link in the documentation?

[2015-02-08 02:24] lovelilyinfall opened #221 "New trait data entry can not be added to BETY"
I recently have some problems adding new trait data to BETY through the web interface. After I enter the values for the new trait and click “create”, I get a confirmation page saying “Trait was successfully created”. But below that line it says “404 Sorry no Trait/Yield data here ”. When I try to search the trait data I have just entered using species name “Psychotria berteriana”, it shows no entr

[2015-02-08 02:49] dlebauer commented on #221
I've changed your access_level from 3 to 2. See if this works now.

I've marked this as a bug because you should be able to enter data with access level 3.

@gsrohde this is username `feng22` who has `page_access_level = 2` (manager); permission to add records should be available with `page_access_level` >=3`, and I do not think it should depend on the users `access_level`,

[2015-02-08 02:55] lovelilyinfall commented on #221
@dlebauer Yes, it is working. Thanks!

[2015-02-09 16:23] gsrohde commented on #183
@dlebauer Is there ever a case where the same file will be referenced more than one in this table, such as the same file stored in two different locations?  If not, we can also require uniqueness for md5.

[2015-02-09 17:36] mdietze commented on #183
md5 won't be unique because the files won't be unique (indeed md5 was added to ensure that two files are identical, not unique). The same files will often be stored in multiple locations. I can't see any sensible uniqueness constraints on the dbfiles table other than two rows should not be identical in all entries. Is that even worth the effort?

[2015-02-09 23:05] lovelilyinfall commented on #220
@dlebauer @gsrohde

Hi David and Scott,

Can you please upload the csv file I sent to you. It is too big to be uploaded here. So I zipped it and sent to you. I have already created a citation, site and treatment in BETY.  Citation id is 782, site id is 1226 and treatment id is 2434.

I included five variables (SLA, leafP, leafN, leafC and c2n_leaf). All of them have the units specified by BETY. Ho

[2015-02-10 01:42] dlebauer commented on #220
I haven't gotten the email ...could you try box or Dropbox (or scp to a server)?

Can you send links to the two different leafC records with different units?

Regarding access_level, if you want data exported to the VMs database, it should be public. But PEcAn will let you access BETYdb on ebi-forecast as described in the [PEcAn wiki](https://github.com/PecanProject/pecan/wiki/PEcAn-Configuration#

[2015-02-10 01:54] lovelilyinfall commented on #220
Sorry, the email with the csv file to be uploaded was rejected due to size violation. I just got a message saying it was undeliverable. I will try something else then.

Here is the link:
https://www.betydb.org/variables/11
https://www.betydb.org/variables/434

Both have a variable name of "leafC", but the units are different.

[2015-02-10 03:50] dlebauer commented on #220
I changed the name of variable 434 to leafC-mass-fraction. We will use
percent. variable 11 is the orignial and canonical value.

[2015-02-10 05:31] dlebauer opened #224 "API does not restrict query by genus or species as indicated in documentation"
https://www.betydb.org/yields.json?genus=Miscanthus

Should return all yields for the species where genus = 'Miscanthus'

But it seems to return all yield records.

So it does not appear that the API is working as documented in the [Data Access](https://www.authorea.com/users/5574/articles/7062/_show_article) guide.

[2015-02-10 15:04] gsrohde commented on #183
The first column set mentioned -- (file_name, file_path, machine_id) -- should be unique.  Unless perhaps a given file can be associated with multiple containers.

[2015-02-10 15:04] lovelilyinfall commented on #220
Ok, thanks. For the species column, should I us USDA symbol or full species name?

[2015-02-10 15:22] mdietze commented on #183
that sounds reasonable, though file_name should be able to be either NULL or default to blank

[2015-02-10 15:27] dlebauer commented on #220
The full species name
On Tue, Feb 10, 2015 at 9:04 AM Xiaohui Feng (Sunny) <
notifications@github.com> wrote:

[2015-02-10 17:23] dlebauer opened #225 "Invalid byte sequence in UTF-8"
- [This version of a csv](https://www.dropbox.com/s/vas28bbg8msquwu/feng_luquillo_invalid_byte_sequence.csv?dl=0)  prepared by Xiaohui for bulk upload (gh-220) produces an "Invalid byte sequence error".
- [This version of the file](https://www.dropbox.com/s/494x4cmdduj9hju/feng_luquillo_fixed.csv?dl=0), which I copy-pasted to a gist and then downloaded as 'raw' does not

(note that these files sti

[2015-02-10 17:42] dlebauer opened #226 "Ignore empty columns"
* [ ] If a user attempts to upload a dataset and an optional column has all values of `NA` or `NULL` or `` (empty string), ignore the column.
* [ ] Allow records where n = 1 (or, ignore these and allow upload script to set this to default of 1).

[2015-02-10 17:58] dlebauer opened #227 "Improvements to Bulk Upload UI"
When uploading bulk data files, we will run across some of the existing warning messages.

This issue will serve as a log / discussion of more effective ways that we can handle these.

[2015-02-10 17:59] dlebauer commented on #227
[Xiaohui's file](https://gist.github.com/dlebauer/daee0daa631f98ae73aa) for gh-220, I get the following errors.

![image](https://cloud.githubusercontent.com/assets/464871/6132908/d05fee1a-b11b-11e4-9ab1-c7caa1d1fb4b.png)

[2015-02-10 18:08] lovelilyinfall commented on #220
Hi David, will I be able to see the data through bety web interface once it get uploaded?

[2015-02-10 18:48] dlebauer commented on #220
yes

On Tue Feb 10 2015 at 12:08:52 PM Xiaohui Feng (Sunny) <
notifications@github.com> wrote:

[2015-02-10 22:01] Viskari opened #228 "Issues installing postGIS with postGRES 9.4"
We are currently having difficulties getting all the libraries required by PEcAn installed on to our server, with one of the current issues being the postGIS and Raster libraries. Attached is the error message we are getting. Another little oddity in it is that even though we have the newer postgres version 9.4 installed, during installation it continues to refer to the 9.3.5 version. Below is the

[2015-02-10 23:31] gsrohde commented on #220
The data has been uploaded.

A few notes:

I specified the maximum allowable number of significant digits (4) rather than the default (3) for the measurement values.

As with all bulk uploads, all the new rows are marked unchecked.

It looks like one item in this set was entered manually through the web interface, so now we have a duplicate.  (Go to https://www.betydb.org/traits?utf8=%E2%9C%93&Dat

[2015-02-11 01:26] lovelilyinfall commented on #220
Thanks! I did enter a SLA value for Psychotria berteriana to test if I can enter traits manually. But I do not see a duplicate at the given link. This is a screen shot of what I see. I would like to delete the duplicate? Has it been deleted?
![capture](https://cloud.githubusercontent.com/assets/5421381/6140185/c7db8302-b162-11e4-8575-24c641fe9491.JPG)

[2015-02-11 01:39] dlebauer commented on #220
I deleted i
On Tue, Feb 10, 2015 at 7:26 PM Xiaohui Feng (Sunny) <
notifications@github.com> wrote:

[2015-02-11 01:42] lovelilyinfall commented on #220
Also, for future reference, I want to make the csv file better to make it easier for you to upload. I understand that the csv file should have a date column, but the template does not specify what format the date should be in, yyyy-mm-dd, or mm-dd-yyyy? In addition, if I want to include a covariate for a variable, how do I let you know in the csv the covariate is not a second variable?

[2015-02-11 01:54] dlebauer commented on #220
Covariates: there is a list in the documentation of required covariates - things like leaf temperature. I think it is in the appendix. (@gsrohde, has this been updated?)

But all records in a row are linked by a common `entity_id`, so, eg your leafN and leafC could be queried.

You might need to update the PEcAn query.traits function to use this, in particular to avoid using both leafN and c2n_lea

[2015-02-11 02:00] lovelilyinfall commented on #220
so if i have leaf N and c2n_leaf, the PEcAn query. traits function will get two c2n_leaf values for me?

[2015-02-11 02:02] dlebauer commented on #220
I think it will assign a mean, n=2, and a SE. This should be a bug on the
pecan repository.
On Tue, Feb 10, 2015 at 8:00 PM Xiaohui Feng (Sunny) <
notifications@github.com> wrote:

[2015-02-11 20:26] gsrohde commented on #225
@dlebauer  It's not clear what more needs to be done here; the data has been uploaded with the corrected file.

It's probably true the error message could be more helpful, such as telling where in the file there error occurs.  At the very least, the documentation should be clear about the requirement that the file be valid UTF8.  If this is something you want me to address, add a comment here to t

[2015-02-11 21:00] Viskari commented on #228
A few further details on the issue:

We are trying to install it with the command:
 ./configure --with-pgconfig=/usr/pgsql-9.4/bin/pg_config --with-projdir=/data/software/proj/4.8.0 --with-jsondir=/data/software/json-c/0.12 --with-gdalconfig=/data/software/gdal/1.11/bin/gdal-config --with-geosconfig=/data/software/geos/3.4.2/bin/geos-config --with-xml2config=/data/software/libxml2/2.9.1/bin/xml2-c

[2015-02-11 21:01] gsrohde commented on #220
Regarding the recognized trait variables and covariates list, it can be viewed here: https://www.betydb.org/trait_covariate_associations

Currently, for a column heading to be recognized as the name of a trait variable or covariate, it must be in this list.  And for a trait variable to be in this list, it must have at least an optional covariate.  So when adding the 4 new trait variable names to t

[2015-02-11 22:55] #220 closed

[2015-02-11 23:27] dlebauer commented on #220
@gsrohde this is sensible: T is temperature; C, N, P are elements.

On Wed, Feb 11, 2015 at 4:01 PM gsrohde <notifications@github.com> wrote:

[2015-02-12 02:29] dlebauer commented on #225
Adding instructions to export from Excel as UTF-8 to the documentation would just make it even more dense, and this should be something we can automate.

The gem [Charlock Holmes](https://rubygems.org/gems/charlock_holmes) seems to provide a more comprehensive solution. Or maybe this won't be an issue in later versions of rails (seems v 1.9.2 is oft-cited)

But maybe this solution on [Stackoverflo

[2015-02-12 06:13] gsrohde commented on #183
What does it mean for file_name to be blank or NULL?  There currently is only one case of this.

[2015-02-12 13:05] robkooper commented on #183
if it is a directory that is referred to the filename can be blank.

[2015-02-13 04:15] gsrohde commented on #183
So if there is more than one file in that directory, how will you know which one it is?  Or will it just be assumed there is exactly one file in the directory if file_name is blank?

[2015-02-13 04:46] mdietze commented on #183
The entry would be referring to ALL the files in the directory, not a single file. Even when file_name isn't blank it is often referring to multiple files and file_name is actually just the common prefix to all the files. A good example would be a GIS shapefile, which is actually 4 files, each with the same prefix but with different extensions. Another common example in PEcAn is meteorology, where

[2015-02-13 21:17] dlebauer commented on #224
* [ ] update api documentation with urls that work
* [ ] see if api can query views
 * [ ] enable api to access equivalent of traits_view (or traitsandyield_view)

[2015-02-13 23:16] gsrohde opened #230 "citations value constraints: needed cleanup and decisions"
#### vol
* [ ] Decide if we can add CHECK (vol > 0).

If so:
* [ ] Fix violations.
* [ ] Add constraint to new migration.

#### pg
* [ ] Decide if we can add CHECK (pg ~ '^([1-9]\d*(\u2013[1-9]\d*)?)?$').

If so:
* [ ] Fix violations.
* [ ] Make an issue to update the BETYdb Rails app to insert pg in the right form and/or write a trigger function to do so.
* [ ] Add constraint to new migration.

#

[2015-02-16 04:22] gsrohde opened #231 "covariates value constraints: needed cleanup and decisions"
#### level
- [ ] Analyze instances where this is NULL and see if cleanup is required and whether constraints are warranted.  See issue #267.
#### n
- [x] Decide if n can be 1; change 1's to NULL if not.
  - n can be 1
- [ ] Add CHECK (n >= 1)
#### stat, statname, n consistency
- [x] Decide on consistency constraints
- [x] Fix cases where stat is not null but no statname is given (17 rows) -- see i

[2015-02-16 04:36] gsrohde opened #232 "cultivars value constraints: needed cleanup and decisions"
* [x] Decide what values should be allowed for ecotype
 * (for now) ecotype should be any string or ''
* [x] Write constraint for ecotype
 * not null;

See discussion in the cultivars subsection of section 3 of https://www.overleaf.com/2086241dwjyrd#/5297403/.

[2015-02-16 04:46] gsrohde opened #233 "dbfiles value constraints: needed cleanup and decisions"
* [x] Decide on constraints for file_name, file_path, and container_id
* [x] Add to new migration

See dbfiles in secion 3 of https://www.overleaf.com/2086241dwjyrd#/5297403/.

[2015-02-16 04:51] gsrohde opened #234 "ensembles value constraints: needed decisions"
* [x] Decide if any constraints on runtype besides NOT NULL
* [x] Add constraint if needed (must be either 'ensemble' or 'sensitivity analysis')
* [x] Constrain `notes` to be not null

[2015-02-16 05:04] gsrohde opened #235 "formats value constraints: needed cleanup and decisions"
* [x] Decide on constraints for dataformat, header, and skip
* [x] Clean up any violations
* [x] Add constraints

[2015-02-16 05:07] gsrohde opened #236 "formats_variables value constraints: needed cleanup and decisions"
* [x] Decide on constraints for all columns
* [x] Clean up any violations
* [x] Add constraints

[2015-02-16 14:14] gsrohde opened #237 "inputs value constraints: needed cleanup and decisions"
#### start_date, end_date
* [ ] Decide if should be not NULL
* [ ] Decide if there should be other constraints
* [ ] Fix violations
* [ ] Add constraints to migration

#### access_level
* [ ] Decide if should be not NULL

If so:
* [ ] Fix violations
* [ ] Add constraint to migration

* [ ] Decide whether require access_level IN (1, 2, 3, 4)

If so:
* [ ] Fix violations
* [ ] Make domain and change

[2015-02-16 17:03] gsrohde opened #238 "machines value constraints: needed cleanup and decisions"
Decide on what value constraints should be used.  Except for "dlebauer-desktop", existing values all look like IP addresses.

We should probably wait to do this until pull request #217 is dealt with (or do them in conjunction).

[2015-02-16 20:19] gsrohde opened #239 "managements value constraints: needed cleanup and decisions"
#### citation_id
- [x] Decide if this should be not NULL
- [ ] If so, clean up violators [UNCHECKED THIS 9/11/2015: 16 rows still have null `citation_id`]
- [x] Decide on consistency constraint
  - not necessary / applicable (see notes added below)
- [ ] Clean up data if needed
- [ ] Add to migration
#### date, dateloc
- [ ] Decide what constraints to use
  - dateloc is defined in the data entry d

[2015-02-16 20:35] gsrohde opened #240 "mimetypes value constraints: needed cleanup and decisions"
* [ ] Decide what value constraint to use for type_string
* [ ] Add constraint to migration

# Details

GH #194 suggests

[code]
which doesn't require any cleanup but might be too restrictive of future types.

Something simpler and more flexible would be `CHECK(type_string ~ '^[a-z-]+/[a-z.0-9_-]+( \([a-z ]+\))?$')`.

[2015-02-16 20:58] gsrohde opened #241 "modeltypes_formats value constraints: needed cleanup and decisions"
#### tag
* [x] Decide whether to require single non-empty word, lower case
* [x] Add constraint to migration

# Details

All entries currently satisfy `CHECK (tag ~ '^[a-z]+$')`.  Use this if not too restrictive.

[2015-02-16 21:09] gsrohde opened #242 "pfts value constraints: needed cleanup and decisions"
#### name
* [x] Decide on constraint
 * text, not null--already constrained to not null by earlier migration
 * whitespace-normalized
* [x] Add to migration

#### definition
* [x] Make not null

#### pft_type
* [x] Decide on constraint
 * either 'plant' or 'cultivar' or empty string (and NOT NULL!)
* [x] Add to migration

# Details

## name

All values currently match '^[-\w]+(\\.[-\w]+)*$'.

## p

[2015-02-16 21:42] gsrohde opened #243 "priors value constraints: needed cleanup and decisions"
#### phylogeny
* [x] Decide if a more restrictive value constraint than is_whitespace_normalized can be used
 * not needed this is for human-readability. Would be nice to have standardized capitalization (e.g. 'plants', but not necessary. [See comment below.]
* [x] If so, add it to migration--WILL GO WITH ONLY WHITESPACE NORMALIZATION FOR NOW

#### distn
* [x] Constrain to a finite set of predeter

[2015-02-16 21:47] gsrohde opened #244 "projects value constraints: needed cleanup and decisions"
* [ ] Decide if any constraints other than not null constraints are appropriate
* [ ] If so, add.

# Comments

outdir should perhaps look like a directory, so some value constraint might be possible.

[2015-02-16 21:51] gsrohde opened #245 "runs value constraints: needed cleanup and decisions"
- [x] Decide what constraints are possible
- [ ] Decide on precise form of started_at constraint (pending resolution of #257) [Resolved for now by assuming local machine time; see note]
- [ ] Add them.
# Details

At the least, all textual columns will be set to NOT NULL.

[2015-02-16 22:39] gsrohde opened #246 "sites value constraints: needed cleanup and decisions"
#### city, state, country
* [ ] Decide on constraints
* [ ] Add them

#### soil
* [ ] Decide if there is a reasonable value constraint
* [ ] If so, add it.

#### som
* [ ] Decide what a reasonable range restriction is.
* [ ] Add constraint.

#### greenhouse
* [ ] Decide if this can be null.
* [ ] If not, add constraint.

#### local_time
* [ ] Decide how to change this column.

#### geometry
* [ ]

[2015-02-16 23:42] gsrohde opened #247 "species value constraints: needed cleanup and decisions"
#### spcd
* [ ] Decide on range
* [ ] Implement constraint

#### genus
* [ ] Decide if proposed constraint is ok
* [ ] Clean up table
* [ ] Add constraint to migration

#### species
* [ ] Decide on a reasonable constraint
* [ ] Clean up table
* [ ] Add constraint to migration

#### scientificname
* [ ] Decide on a reasonable constraint
* [ ] Clean up table
* [ ] Add constraint to migration

# Deta

[2015-02-17 18:04] dlebauer commented on #247
I've updated the task description (added notes below the bullets) to clarify where needed

[2015-02-17 18:29] dlebauer commented on #245
make sure to look at not-null value constraints defined in the [google spreadsheet](https://docs.google.com/spreadsheets/d/1fJgaOSR0egq5azYPCP0VRIWw1AazND0OCduyjONH9Wk/edit#gid=702736141).

At least, all *id fields are integers, all times are ... times. created_at, updated_at should be > 2010-01-01; etc.

[2015-02-17 18:43] dlebauer commented on #238
* hostname = ip address. (I've fixed the offending `dlebauer-desktop`
* created_at, updated_at > 2010-01-01

[2015-02-17 20:26] gsrohde opened #248 "traits value constraints: needed cleanup and decisions"
#### date, dateloc, time, timeloc, date_year, date_month, date_day, time_hour, time_minute
- [ ] Decide what constraints to use
- [ ] Clean up data if needed
- [ ] Add to migration
#### mean
- [ ] Clean up NULLs
- [ ] Add not-null constraint to migration
#### n
- [ ] Decide if n can be 1; change 1's to NULL if not.  Similarly for 0.
- [ ] Add CHECK (n >= 2) or CHECK (n >= 1) or CHECK (n >= 0)
####

[2015-02-17 20:43] gsrohde opened #249 "treatments value constraints: needed cleanup and decisions"
#### control
* [ ] Decide how to handle cases where control is NULL
* [ ] Add not NULL constraint
* [ ] Decide what other constraints apply to control
* [ ] Add them

# Details

control is NULL in 190 rows.

From the Uniqueness portion of the constraints spreadsheet: "there must be a control for each (citation_id, site_id) tuple".  "A control" means a treatment for which `control = true`.  The mea

[2015-02-17 22:18] gsrohde opened #250 "users value constraints: needed cleanup and decisions"
#### area
* [ ] Decide on constraints
* [ ] Add to migration

#### salt
* [ ] Eliminate NULLs
* [ ] Add not null constraint

#### remember_token, remember_token_expires_at
* [ ] Decide what to do with these columns

#### state_prov, postal_code
* [ ] Decide if any constraints beyond not NULL and whitespace-normalized apply
* [ ] If so, add them

# Details

## area

This column currently isn't very

[2015-02-17 22:56] gsrohde opened #251 "variables value constraints: needed cleanup and decisions"
#### description
* [ ] Fix value that isn't whitespace-normalized
* [ ] Add constraint

#### units
* [ ] Decide if any constraints are possible besides whitespace-normalization and not null
* [ ] If so, add

#### min, max
* [ ] Decide whether to change these columns

#### standard_name, standard_units, label, type
* [ ] Decide what to do with these columns

# Details

## description

The prevent_c

[2015-02-17 23:03] gsrohde opened #252 "workflows: decide what constraints to use"
* [ ] Decide what constraints to use

For now, these constraints will be added:

[code]

[2015-02-17 23:36] gsrohde opened #253 "yields value constraints: needed cleanup and decisions"
[These are very similar to those for traits (GH #248).]
#### date, dateloc, date_year, date_month, date_day
- [ ] Decide what constraints to use
- [ ] Clean up data if needed
- [ ] Add to migration
#### mean
- [ ] Decide if a maximum bound is appropriate
- [ ] If so, add constraint
#### n
- [ ] Decide if n can be 1; change 1's to NULL if not.  Similarly for 0.
- [ ] Add CHECK (n >= 2) or CHECK (n

[2015-02-18 21:33] gsrohde commented on #221
@dlebauer

The traits do get added, even when the user's access level is 3.  The problem is that the default access_level for new traits is 2, and users aren't allowed to view rows that have a more restrictive access_level than the access_level they are logged in with.

Perhaps the solution is to make an exception if the user_id on the row matches their own user_id.  This way a user will always be

[2015-02-18 21:45] gsrohde commented on #242
@dlebauer For the name constraint, what to you mean by "text"?

[2015-02-18 21:56] gsrohde commented on #243
@dlebauer So I've got:

* n >= 0
* parama NOT NULL

Can n be NULL?  It is often NULL now.

We could enforce lower case on phylogeny.  Is it worthwhile?

[2015-02-18 22:00] gsrohde commented on #245
You don't need to mention constraints that are already inherent in the data types being used ("all *id fields are integers").  That said, there may be cases where the _wrong_ data type has been used.  (For example, variables.min and variables.max are varchar, not numeric.)

[2015-02-18 22:16] gsrohde commented on #245
The NOT NULL constraints for the non-textual columns were dealt with in GH issue #200.  The one exception (of the NOT-NULL constraints specified in the google spreadsheet) is the column `started_at`.  So I've added a non-NULL constraint for it to my draft migration and also specified it to be <= NOW().

[2015-02-19 04:37] dlebauer commented on #221
Indeed, this was the intent of the design - so users can always edit data that they created.

[2015-02-19 17:41] dlebauer opened #254 "Upload revised Miscanthus dataset"
TODO
* [ ] upload mischanthus data
* [ ] merge with previously existing records

@echeng7 reviewed Miscanthus records (per [Redmine 2271](https://ebi-forecast.igb.illinois.edu/redmine/issues/2271)).

The data are in this [google spreadsheet](https://docs.google.com/spreadsheets/d/1hrvMTMc7scvQFgit7QqF68vfxxNufNC--3RJfSDhne4/edit#gid=1587131847)
* download the [miscanthus sheet as csv here](https:/

[2015-02-19 18:24] gsrohde commented on #254
I was partly wrong about the citation column headings: Not "citations.author", but not "author" either--it's "citation_author", etc.

Other corrections: "sitename" --> "site", "cultivars.name" --> "cultivar".

These are easy corrections which I could do.

Somewhat more problematic are:

"date" values must give year, month, and day:  "1999" is not a valid entry, but "1999-01-01" is.

Missing values

[2015-02-19 19:45] gsrohde commented on #254
By "citation_author", etc." I meant the year and title also need to be changed (to citation_year and citation_title).

We don't currently do anything with dateloc.  Maybe we should.  At one point, I think we talked about allowing YYYY and YYYY-MM in addition to YYYY-MM-DD and then setting dateloc automatically accordingly, but we dropped or tabled the idea.

I found that going back to using the se

[2015-02-19 21:44] dlebauer commented on #254
This dataset is a 'special case'. As long as you record the final yields.id
value for each row in the spreadsheet, we can update dateloc using SQL.

On Thursday, February 19, 2015, gsrohde <notifications@github.com> wrote:

[2015-02-19 22:03] gsrohde commented on #177
@dlebauer Regarding sessions:

Patrick's comment from March 21, 2012, when switching session_store.rb to store session information in the sessions table was 'Moving session key info from cookie to DB. Just better to do it this way'.

session_store.rb was switched back to using Cookie storage by Andrew's commit from January 22, 2013 (log message "Start Rails 3 upgrade").  I think this switch wasn't

[2015-02-19 22:09] dlebauer commented on #177
@gsrohde Its your call, but it would be useful to know if there is any value to keeping this table around - beyond @mulroony's statement that it is "Just better". Does it affect functionality or reliability?

[2015-02-19 22:40] gsrohde opened #255 "Treatment Edit page button mislabelled"
It shouldn't say "Create" since we are modifying an existing treatment.

[2015-02-19 23:40] gsrohde commented on #212
Thinking about this again, the bulk upload code assumes that for any citation, the value of `treatments.name` will be unique across all treatments associated with the citation via the `citations_treatments` table.  To see cases where this does not hold, run
[code]

Often, however, like-named treatments are distinguished by definition, as the following query shows:
[code]

We could perhaps relax th

[2015-02-19 23:41] gsrohde commented on #254
COMMENT IN PROGRESS

Column value errors:

In general, the treatment column value should match the "name" column of the treatments table.  Often (or maybe always when a definition exists) the definition has been appended to the column value (usually or always separated from the name by a colon).

Errors by citation:

Acaroglu: Treatment name is "Control" not "Control : Observational".

Bullard: Tr

[2015-02-20 01:42] echeng7 commented on #254
I have updated all the treatments.

I'm not sure if you still want me to anything with the dates / dateloc.

[2015-02-20 18:30] dlebauer commented on #254
@echeng7 don't worry about dateloc - these will be inserted programatically (as mentioned in my previous comment)

[2015-02-23 20:10] gsrohde commented on #177
My guess is that Andrew took this out to get a Rails 3 version up and running fast, and he may even have intended the change to be temporary but then forgot about it.  Or it might even have been changed automatically by whatever scripts were run (if any) to facilitate the Rails version upgrade.

In any case--and I haven't delved into this very deeply--the little I have read suggests database stora

[2015-02-23 20:55] gsrohde commented on #254
@echeng7 Where is the updated spreadsheet?  The "google spreadsheet" link above just downloads a short file called "all.yielddata - Color Codes.csv" with no data in it.

[2015-02-23 21:11] echeng7 commented on #254
There should be data on the sheet tabs at the bottom.

[2015-02-23 21:17] dlebauer commented on #254
@gsrohde The link I posted directs to csv. Try removing format=csv or look
in your google drive
On Mon, Feb 23, 2015 at 3:11 PM echeng7 <notifications@github.com> wrote:

[2015-02-23 21:48] gsrohde commented on #254
@dlebauer The link _does_ get a csv file--unfortunately, it downloads the wrong sheet of the Excel file.

I went directly to my google drive and found what I wanted.

[2015-02-23 23:21] gsrohde commented on #254
@echeng7 Ok, now all treatment names match what's in the database except one:

"propagation method, unfertilized : micropropagation by in vitro tillering" doesn't match any treatment associated with Lewandowski 1997.

There are other problems.

@echeng7 I don't know why you changed the species column entries since I didn't mention these being a problem, but please change them back to what they wer

[2015-02-24 15:45] echeng7 commented on #254
@gsrohde I have fixed the one treatment that was incorrect.

Also, I assumed that I made a mistake with the species because for the cultivar I had listed genus, species, and cultivar instead of only cultivar. They have been corrected now.

[2015-02-24 17:00] gsrohde commented on #254
@dlebauer The spreadsheet looks good now except for the four items which I put checkboxes for in my most recent comment.  Please fix or instruct Emily as to what you want done.

(Also, I'm still having to delete double quote marks from empty fields after I download the spreadsheet, but it isn't much trouble to delete them.)

[2015-02-24 17:31] dlebauer commented on #254
@echeng7 can you please address the issues with checkboxes, and mark the boxes done when fixed?

[2015-02-24 22:55] gsrohde commented on #214
Since Rails uses "timestamp without time zone" for its timestamp columns (created_at and updated_at) and then just always stores UTC times, we have to do the same, so the defaults need to be
[code]

[2015-02-25 16:41] echeng7 commented on #254
@gsrohde I believe all issues have been addressed. However, I am unable to mark the boxes.

[2015-02-25 18:23] echeng7 commented on #254
@gsrohde  After reviewing with Dr. LeBauer, Rows 318 and 330 (Yields 958 & 970) were deleted off the GoogleDoc as it was a summation yield over the entire experiment.

[2015-02-25 20:41] gsrohde commented on #254
@echeng7 and/or @dlebauer : The only thing remaining to be resolved is the Gutenzell vs. Gutenzell-Hürbel problem.  I see you marked the one called Gutenzell as a duplicate, but I'm not sure it is: The two sites have different mat, map, and soil types, and, going by either the geometry (lat,lon) or the city names, the two places are an hour and a half apart by car.  In any case, marking the Gutenz

[2015-02-25 21:33] gsrohde commented on #242
@dlebauer Unless you have an objection, I'll require names to consist of sequences of one or more alphanumeric characters (including underscore and hyphen) separated by dots (periods).  All current names comply with this.

[2015-02-25 22:00] gsrohde opened #257 "timestamp columns"
@dlebauer , @robkooper

There are several columns of type "timestamp without time zone".  Rails, by convention, uses this type for the "created_at" and "updated_at" columns included in most tables.  It can get by with not storing time zone information by always assuming the time is UTC in these columns: If you insert or update a row via the Rails interface, the current UTC time--not the local time

[2015-02-25 22:31] gsrohde commented on #246
@dlebauer Can existing NULL greenhouse values be changed to FALSE?

[2015-02-25 22:32] gsrohde commented on #246
@dlebauer Did you read my comments on the problem of using an integer for local_time?

[2015-02-26 00:44] robkooper commented on #197
white spaces can be in the name.

[2015-02-26 02:50] dlebauer commented on #254
@echeng7 could you please check the original references? Seeing as all
citations associated with these sites are from Lewandowsky, it is likely
that these are nearby. The differences in MAT/MAP could be due to the
source of this data;

However, the differences in soil may indicate that these experiments were
conducted in different fields or plots. It would be worth checking. If
these really are al

[2015-02-26 17:02] gsrohde commented on #247
@dlebauer With the updated genus constraint (allowing hyphens), there are two violations.  One has "Psychotria grandis" as the genus, and is probably a duplicate.  The other has "NULL" (the string, not a real NULL) as the genus and "palm, other" as the common name.  If you clean these up, I can add this constraint to the current batch of value constraints.

[2015-02-26 17:12] dlebauer commented on #247
I've fixed these. You are certainly welcome to go ahead and apply the
simple fixes - removing a text string "NULL" seems pretty clear; the Genus
also has a clear resolution (I suspect moving the genus name to the genus
column, setting scientificname as `Psychotria grandis-duplicate` but you
are in a better position to know how to do this).

If you have any doubt about whether to make a change, fee

[2015-02-26 21:44] gsrohde commented on #247
I think we can be more restrictive about allowing spaces an periods in species column values be requiring that they only occur as part of ' var. ', ' ssp. ', ' x ', 'L.', etc.  The following selected only 34 of the 1729 rows having non-empty species column values:

[code]

Most of these are obvious errors: missing periods or inclusion of the genus name in the species column.

[2015-02-26 21:49] gsrohde commented on #247
@dlebauer Shall I go ahead and fix what seem to me like obvious errors (including repeated genus name in the scientificname column)?

[2015-02-27 00:03] dlebauer commented on #247
Please do.
On Thu, Feb 26, 2015 at 3:50 PM gsrohde <notifications@github.com> wrote:

[2015-02-27 02:23] gsrohde opened #258 "Species edit page is poorly styled"
Everything is flush left.  Also, the "Show" button just returns one to the edit page.

[2015-02-27 20:15] echeng7 commented on #254
@gsrohde @dlebauer
All the Lewandowski citations state "Gutenzell," however, if you type in the lat/lon into GoogleMaps, it says Gutenzell-Hürbel.

Additionally, I made a chart on each of the citations Lewandowski is associated with. There are some differences in the elevations, mean annual precipitation, and types of soil/texture.
![image](https://cloud.githubusercontent.com/assets/3441501/642034

[2015-02-28 04:19] dlebauer commented on #254
SDo, only one has latitude and longitude? Can you check the original
citations - can you tell if these are the same site, perhaps different
plots within the same site?

If they are different plots at the same site, can you identify the
different names used in the original publication to distinguish the
different fields. Even a sitename like "Miscanthus Field Planted in 1999"
I suspect the differen

[2015-02-28 06:37] echeng7 commented on #254
The information above was all I could extract from the original citations. Since it was all written by the same author, I would assume that it is the same site and different plots. However, based on Google maps, Gutenzell-Hurbel is a pretty large city so all the info is not specific enough.

[2015-02-28 07:10] dlebauer commented on #254
When in doubt, ask Iris_Lewandowski@uni-hohenheim.de

[2015-03-02 20:31] serbinsh opened #259 "Correct config for pg_hba.conf"
In the RHEL documentation for PostgreSQL it is listed that the correct config for the pg_hba.conf file is:

In this file, you will see a line like this local all all peer Assuming this is a fresh install of PostgreSQL, you can give password access to user bety by adding the line local bety bety md5 immediately before this. Then save the file.

However I have also been told:

Fix postgresql
add thi

[2015-03-02 20:35] robkooper commented on #259
I think they are equivalent, the first bety indicates only access to database bety not others (like FIA). the MD5 indicates what password to use.

the 127.0.0.1 and ::1/128 is just alos allow this coming from a network connection and not just a socket. This is needed otherwise PEcAn code might not work since it tries to connect to localhost.

[2015-03-02 21:13] serbinsh commented on #259
Got it.  I think I will leave it setup with the multiple entries.

[2015-03-03 15:18] gsrohde commented on #259
FYI

The two general formats for configuring client authentication used here are
[code]
So besides the difference between using "all" and "bety" in the database slot that Rob mentioned, there's the difference between using "trust" and "md5" as the authentication method.  "trust" means anyone who has access to the server can log in to the database as the specified user (in this case "bety") without

[2015-03-04 20:44] gsrohde commented on #202
@dlebauer

The script /informational queries/species_cleanup/xsltproc.sh in the bety-qaqc github repository should do most of the work.

Run it with the -i option to see how to use it.  (Let me know if the instructions are clear enough.)

Try it out on a test copy first.  Then we can talk about moving forward with it.

[2015-03-05 18:08] dlebauer commented on #247
from @gsrohde

Box Sync/EBI-modeling/BETYdb/database integrity/informational queries/species_cleanup/out.28715.html

The rows with the id (first column) marked in red are rows that can be deleted without losing any information.  (Running the generated script “delete_duplicate_species.sql” against ebi_production will carry out the deletions—both of the species rows themselves and any referencing ro

[2015-03-05 22:34] gsrohde commented on #254
@dlebauer

I uploaded all rows not involving site "Gutenzell".  The resulting rows have ids 17651--18295.  I did a sort of sanity-check query under the assumption that the rows with the id numbers listed in the yields.id column of the spreadsheet should match the newly-inserted rows and that the order corresponds as well.  The query had the form
[code]

In other words, it joins the yields rows tha

[2015-03-05 22:36] gsrohde opened #261 "Bulk upload bug: dateloc column is not ignored if present"
If there is a dateloc column in the CSV file for a bulk upload, this value gets inserted into the new traits or yields row.  But the display_csv_file screen of the wizard tells the user this column will be ignored.

[2015-03-05 22:48] gsrohde opened #262 "Bulk upload should not insert NULL in textual columns"
Where possible, the bulk upload should insert the empty string '' when data is missing for a column.

This may be solved by setting default values for these columns at the database level.

[2015-03-06 02:51] dlebauer commented on #262
Are there any columns that will have a default of NULL? Or will this not be
an issue after the value constraints are set?

[2015-03-06 03:12] dlebauer commented on #254
The fact that there are differences between the old records and the new is
expected - this was the objective.

I'd rather keep the old records in a different database than having
negative ids. Actually, if you could post both as gists, I'd like to take a
look.

I think we should keep any of the rows (n, stat, notes) that Emily did not
check. Does that sound correct @echeng7?

[2015-03-06 03:30] echeng7 commented on #254
Yes please keep those rows. Thanks.

On Thu, Mar 5, 2015 at 9:12 PM, David LeBauer <notifications@github.com>
wrote:

--
Emily Cheng
University of Illinois at Urbana-Champaign | 2015
Molecular and Cellular Biology Major | Chemistry Minor
Pre-Student Osteopathic Medicine Association | UIUC Chapter President
Illini Emergency Medical Services | Records Officer | EMT- B

[2015-03-06 16:32] echeng7 opened #263 "Upload Switchgrass Data Set"
Data are in the [all.yielddata](https://docs.google.com/spreadsheets/d/1hrvMTMc7scvQFgit7QqF68vfxxNufNC--3RJfSDhne4/edit#gid=1987818390) Google doc spreadsheet here:

[2015-03-06 16:32] echeng7 commented on #263
@dlebauer @gsrohde

[2015-03-09 02:52] gsrohde commented on #262
In the four tables that the bulk upload touches, there are only a very few columns with textual type--namely, `statname` and `notes` in the traits and yields tables, `statname` in the covariates table, and `name` and `notes` in the entities table.  These should, I think, default to the empty string.

Any column that doesn't explicitly set a default automatically defaults to NULL.  (This means colu

[2015-03-09 15:27] echeng7 commented on #254
I have received an email back from Ms. Lewandowski and she has confirmed that the location is Gutenzell-Hürbel. She states that she does not have the coordinates but the data was extracted from the same field. How should I go about editing the sites since they have different soils and elevations?
@dlebauer @gsrohde

[2015-03-09 15:42] dlebauer commented on #254
@echeng7 can you ask her why there are different soil types reported? Are
these different plots within the same field, or the same exact field?

On Mon, Mar 9, 2015 at 10:27 AM, echeng7 <notifications@github.com> wrote:

[2015-03-09 16:29] gsrohde commented on #254
@echeng7 I just noticed there are two rows with yields.id = 16942.  They are the same except for the date: one is 1995 and 1994.  Could you double-check these?

[2015-03-09 16:35] echeng7 commented on #254
@gsrohde I have changed the sheet to reflect the edit.

On Mon, Mar 9, 2015 at 11:29 AM, gsrohde <notifications@github.com> wrote:

--
Emily Cheng
University of Illinois at Urbana-Champaign | 2015
Molecular and Cellular Biology Major | Chemistry Minor
Pre-Student Osteopathic Medicine Association | UIUC Chapter President
Illini Emergency Medical Services | Records Officer | EMT- B

[2015-03-09 19:33] dlebauer commented on #198
the `posteriors.format_id` column should be removed

[2015-03-09 19:45] dlebauer commented on #198
I can't think of a reasonable uniqueness constraint for the posteriors that doesn't require a cross-table lookup of dbfiles.

[2015-03-09 19:55] #259 closed

[2015-03-09 22:06] gsrohde commented on #254
@dlebauer Here is a GIST containing three SQL statements: https://gist.github.com/gsrohde/b4b4e12878364b05f5c6

The first saves the information from the old miscanthus rows (listed by id in the yields.id column of the CSV file) to a file in CSV format.

The second copies information from the newly-added rows (from the upload) to the old rows.  This is what you should look over most carefully, to m

[2015-03-10 16:52] gsrohde commented on #200
I assume the comment on runs.started_at should be:

COMMENT ON COLUMN "public"."runs"."started_at" IS 'system time when run begins';

[2015-03-10 22:06] gsrohde commented on #238
After the migration AddSyncId is applied (see pull request #217), this table will have the following columns and constraints:
[code]

The TimeConstraints migration (see pull request #264) will impose constraints on `created_at` and `updated_at`.

A possible additional constraint is

[code]

(@robkooper Is this a reasonable constraint?)

An obvious additional constraint is to ensure ranges implied

[2015-03-12 14:59] gsrohde opened #265 "Catalogue of needed Rails validations"
ONGOING

It is anticipated that some of the database constraints will make errors more likely when inserting or updating data via the Rails interface.  This is a list of validations that should be added so that the user is provided with helpful error messages when attempting an insertion or update the is or will be prevented by database constraints.

#### citations
* [ ] validate page numbers

###

[2015-03-13 16:45] dlebauer commented on #247
@gsrohde

* this looks ready for the `delete_duplicate_species.sql` and `consolodate_species.sql`
* please update (check off, modify) the list of tasks in the topmost post;
  * I added a 'cleanup' section and a task to add these scripts to the PecanProject/bety-qaqc repository

[2015-03-13 16:57] dlebauer commented on #254
@gsrohde that looks good please go ahead with the upload.

The only question is the comment that y2.user_id is the last person to edit the row - it makes sense that it is handled this way, but is this the default in the rails application?

[2015-03-13 17:22] gsrohde commented on #234
Will use CHECK (runtype IN ('ensemble', 'sensitivity analysis')).

[2015-03-13 19:17] gsrohde opened #266 "Implement consistency with page level access and what shows up in menus"
For example, with page access level 3, you can see "Inputs" in the "Runs" menu, but clicking on it just takes you to the home page.

[2015-03-13 20:45] dlebauer commented on #231
in general, all of these fields should be handled the same way as they are handled in the traits and yields table (where level here is analogous to mean in the other tables)

[2015-03-13 22:13] gsrohde opened #267 "covariates table has 61 instances where level is NULL"
* [ ] Clean up covariates table
* [ ] Decide if we can further constrain level and if so how (such as disallow NULL or only allow it in certain cases)

# Details

Currently, level is constrained by a trigger function that checks if the value is within the range specified by the associated variable whenever an covariate insert or update is done and whenever a variable update is done.

But no check

[2015-03-13 22:50] gsrohde opened #268 "covariates table has 17 instances where stat is not null but no statname is given"
It looks like these are cases where the level, n, and stat columns have been re-purposed to represent dates, with year = level, month = n, and day = stat.  If we are going to do this, we should at least have the constraint
[code]
**_and_** this usage should also be documented **_with a comment in the database_**. But this pretty ugly--there must be a better way.

Here's the query that makes this a

[2015-03-16 16:20] gsrohde commented on #243
The phylogeny column is also part of a proposed key, so it would be preferable not to have two entries that differ only in capitalization. For now, I've simply updated the database to put everything in lower case except terms like "C3", "C4", "CAM", and "PAVI2", but I haven't implemented any constraint that will prevent these "duplicates" from occurring in the future. It would also be good to cons

[2015-03-16 16:41] gsrohde commented on #243
What does it mean for n to be zero?

[2015-03-16 16:48] gsrohde commented on #244
For now I have:

name, outdir, description or NOT NULL

name is whitespace-normalized (no whitespace other than spaces, no leading or trailing spaces, no double spaces)

[2015-03-16 17:38] gsrohde commented on #245
While created_at and updated_at are always UTC (or should be), the comments on started_at and finished_at refer to 'machine time'.  Thus, we'll assume the constraint should be `started_at <= NOW()::timestamp` where the explicit cast to timestamp, while not necessary, makes clear we are comparing `started_at` with the current local or machine time.

[2015-03-16 22:51] gsrohde commented on #247
@dlebauer The deletes have been done and the script has been run in consolidation mode with this output: https://gist.github.com/gsrohde/9c989afe686a54b1c62b

The dark green rows will be kept and the others in the same group will be merged with them by updating references.  Check over to see if there should be any exceptions.

[2015-03-17 15:29] gsrohde commented on #247
@dlebauer Here is what remains after doing the "easy" deletions and consolidations:

https://gist.github.com/gsrohde/adc365ef114790b55cf9

There are 19 groups of duplicates (down from 209).

[2015-03-17 16:28] dlebauer commented on #247
I've updated all of these so that the duplicates match. Generally, these were cases of synonyms, and I kept the "Accepted" synonym chosen by USDA plants.

[2015-03-17 21:36] gsrohde commented on #247
@dlebauer

Two last groups to fix: https://gist.github.com/gsrohde/175081eaa95e563c8ce4#file-out-25948-html

But even after this, we're still not quite ready to make `scientificname` unique because there are 162 rows where scientificname is the empty string.  So either we need to clean these up too, or we could, instead, implement a partial index on scientificname that would require non-empty name

[2015-03-17 21:59] dlebauer opened #269 "Species with missing scientificname, genus, species, and commonname"
There are 19 species records that have no scientificname, genus, species, or commonname. All are associated with citation_id 199 (Xiaohui Feng, field data).

Some are apparently plant communities. A few appear to be specific species, and four have no information.

For communities please give a descriiption that we can put in the commonname field (similar to how the USDA plants database has entries

[2015-03-18 02:18] dlebauer commented on #244
Yes, outdir should like a directory
On Mon, Mar 16, 2015 at 11:48 AM gsrohde <notifications@github.com> wrote:

[2015-03-18 02:20] dlebauer commented on #243
sorry, n>o

[2015-03-18 12:42] mdietze commented on #269
This should be assigned to Sunny since it's her data

[2015-03-18 12:51] dlebauer commented on #269
Does she have a github account?
On Wed, Mar 18, 2015 at 7:42 AM Michael Dietze <notifications@github.com>
wrote:

[2015-03-18 18:04] dlebauer commented on #247
Partial index works

On Tuesday, March 17, 2015, gsrohde <notifications@github.com> wrote:

[2015-03-18 18:09] mdietze commented on #269
@lovelilyinfall

[2015-03-18 19:30] dlebauer commented on #207
Example queries from PEcAn,

Note that we don't _necessarily_ want to be exposing users to foreign keys, this is how we do it in PEcAn

[code]

[2015-03-18 19:59] dlebauer opened #270 "enable querying of traitsandyieldsview by genus, trait"
Currently, the API allows users to query traitsandyieldsview::

    https://www.betydb.org/search.json

and to refine this by a generic search

    https://www.betydb.org/search.json?search=panicum+yield

What we want is to be able to is something more like:

    https://www.betydb.org/search.json?genus=panicum&trait=Ayield

[2015-03-18 20:00] dlebauer commented on #224
I think @gsrohde has resolved the overarching bug that disabled this feature (perhaps upon a previous rails or ruby upgrade)

[2015-03-19 17:35] echeng7 opened #271 "Fike2006SPU and Sanderson1999SCG Yields Correlation"
Hello Dr. LeBauer,

I am having trouble finding the numbers in the papers that correlate to the entered yields in BETYdb so I can assign them to treatments. Can you please look into this for me?

Fike2006 PDF Link: http://ac.els-cdn.com/S0961953405001819/1-s2.0-S0961953405001819-main.pdf?_tid=9ddb219e-ce5d-11e4-8fc9-00000aacb35e&acdnat=1426786400_981208aff2b8ed1dfb6c7010b0e7d2fa

Sanderson PDF Lin

[2015-03-19 17:36] echeng7 commented on #271
@dlebauer

[2015-03-19 17:49] echeng7 opened #272 "Poplar Data: Multiple Errors in BETYdb"
Hello!

I have come across the same problem throughout all the Poplar citations. Many of the yields have been associated to a combination of wrong sites, cultivars, treatments, and species.

Example:
![uploads/43213296-b5d7-4938-bb5b-ad90f41e6ebb/blob](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F43213296-b5d7-4938-bb5b-ad90f41e6ebb%2Fblob)

In this situation, all the cultivars ar

[2015-03-20 21:10] gsrohde commented on #207
@dlebauer I've drafted updates to the API documentation (https://www.authorea.com/users/5574/articles/7062/_show_article#2).  I put major changes in boldface (except where I couldn't--namely the sample queries) pending firming everything up and also so you can see what has changed.

All the queries in that document now work (try them out on pecandev)--some with no changes, others with minor change

[2015-03-20 21:52] gsrohde commented on #207
UPDATE:

To answer the questions posed in the original issue text:

1. Tables can currently only be joined if they are specified as associations in the corresponding Rails models (via "has_one", "has_many", "belongs_to", etc.).  Moreover, there is some limit what we can do in the "where" clause if a table is only indirectly associated. (I'll say more about this later.)
2. `where x in (...)` can be

[2015-03-24 13:26] lovelilyinfall commented on #269
These data are not my field data collected from EBI farm. EBI farm did not have these species planted. In addition, all my data from EBI farm are on species level. I have looked but not found the literature for these data. I think you can delete them.

[2015-03-27 21:14] gsrohde opened #273 "add_id_many_to_many migration causes Rails errors in Rails 3.2"
To see the error, check out branch `rails32`.  Then:

1. Run `rake db:migrate`.
2. Start the rails server: `rails s`
3. In a browser, visit `localhost:3000/citations` and click the checkmark in the Actions column of any row in the citations list.
2. Visit `localhost:3000/treatments/new`, type anything into the "Name" field, and click "Create".
3. The error is something like
[code]

To see the erro

[2015-03-27 21:37] gsrohde commented on #273
The solution seems to be to explicitly set `id` as primary key for the `CitationsSites` and `CitationsTreatment` models:

[code]

This seems to fix all RSpec tests, but there may be other models where this is needed that aren't covered by the tests.

[2015-04-01 18:20] dlebauer commented on #203
can be closed after deploying #229

[2015-04-01 18:22] dlebauer commented on #207
@gsrohde what is the status of this? When will it be deployed / working on betydb.org?

[2015-04-01 18:48] gsrohde commented on #207
As I said in my previous comment, all the queries in the existing API document already work, but in some cases I had to update that document to correct the syntax required to execute the queries.

I didn't pull Yilin's request #260 for three reasons: I wasn't sure it was needed now that I have shown how to do all the queries listed in the current API document; the API for using her additions seeme

[2015-04-01 19:47] dlebauer commented on #207
This was per @phenolphtalein's comment that the queries weren't working. Yilin - could you please check the documentation again, and if any of the queries don't work, please open a separate issue?

[2015-04-06 15:24] phenolphtalein commented on #207
The reason I used the join method for api_search is that I never got "include" to work properly. In the screenshot below I pasted the exact same url from the documentation (except that I'm using my local copy of the database), but the include doesn't seem to do anything and it's still returning all the yields...
![screen shot 2015-04-06 at 10 18 05 am](https://cloud.githubusercontent.com/assets/72

[2015-04-06 20:15] gsrohde commented on #207
@dlebauer @phenolphtalein

Sorry--my comment from the 1st was misleading.

The queries I mentioned are working in the lastest version of BETYdb master, but that code hasn't been deployed to betydb.org yet.  (My comment from March 20th says to try the queries on pecandev, but later comments of mine make it sound like they already work on the live site.  I think these queries _may_ have worked on th

[2015-04-07 19:36] #152 closed

[2015-04-07 19:36] #153 closed

[2015-04-07 22:22] gsrohde commented on #254
@dlebauer I already did the upload (except for the Gutenzell rows).  Did you mean go ahead and run the scripts in the Gist to save the old rows; update them with data from the new rows; and delete the new rows?

Regarding the SQL statements in the GIST: I think you were right about how `user_id` is used.  We use it to signify the person who created the row.  (In fact, the Rails app displays this a

[2015-04-07 23:17] gsrohde commented on #263
I assumed the spreadsheet to use is the switchgrass tab of the all.yielddata Google doc spreadsheet here: https://docs.google.com/spreadsheets/d/1hrvMTMc7scvQFgit7QqF68vfxxNufNC--3RJfSDhne4/edit#gid=1987818390

@echeng7 Is there any reason you didn't just delete the greyed-out lines that are to be ignored?  Are they there for a reason?

Here is a summary of problems:

1. The Balasko paper "Yield a

[2015-04-08 00:11] dlebauer commented on #254
* @gsrohde Per the lead researcher for these studies, all of the Gungtzell rows are identical and should use the site "Gutenzell"
* go ahead and run the gist code, assuming the newer value is correct
 *  @echeng7 please confirm that the new value is correct, or else fix the record after Scott has run the updates

[2015-04-08 17:06] gsrohde commented on #254
@echeng7 Emily, I was wondering why so many rows where the date column had year and month information or full year, month, and day information before now only have a year?  I'd say a dozen or two at least.  For example, the rows with yields.id values 892--911.  For example, the row with id 892 currently has date value 1993-04-10 in the database, but your spreadsheet just has original_date value 19

[2015-04-08 17:19] gsrohde commented on #254
@dlebauer It's still not clear which of the two Gutenzell sites I should use (275 or 276), or should I just pick one?

[2015-04-08 18:08] dlebauer commented on #254
* it is clear that the date should be kept if the spreadsheet gives year and the database has yyyymmdd, assuming the year value is the same
* use the site that is not marked duplicate

[2015-04-08 18:25] dlebauer commented on #208
need to add `betydb_covariates` function to the ropensci/traits package

[2015-04-08 18:27] dlebauer opened #274 "Write function to query managements for traits package"
start with

* planting date
* fertilization

[2015-04-08 20:10] gsrohde commented on #203
Not really done—I haven’t merged pull request #229 let alone deployed it.  But I’ll work on merging it now.

From: David LeBauer <notifications@github.com<mailto:notifications@github.com>>
Reply-To: PecanProject/bety <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Wednesday, April 8, 2015 at 1:28 PM
To: PecanProject/bety <bety@noreply.github.com<mailto:bety@noreply.github.com>>
Cc: S

[2015-04-09 15:20] gsrohde commented on #254
I've updated the old rows from the newly-uploaded ones and then deleted the latter.

@echeng7 Could you double-check the yield value (the mean) for https://www.betydb.org/yields/16954?  It was 11.68 and is now 11.86.  I want to make sure this wasn't just a typo.

I still have to upload the Gutenzell-related yields.

[2015-04-09 20:19] gsrohde commented on #254
Gutenzell yields have now been uploaded.  This can be closed pending Emily's response to the immediately preceding comment.

[2015-04-09 23:51] echeng7 commented on #254
It is supposed to be 11.86. It was entered incorrectly the first time.

On Thu, Apr 9, 2015 at 3:19 PM, Scott Rohde <notifications@github.com>
wrote:

--
Emily Cheng
University of Illinois at Urbana-Champaign | 2015
Molecular and Cellular Biology Major | Chemistry Minor
Pre-Student Osteopathic Medicine Association | UIUC Chapter President
Illini Emergency Medical Services | Records Officer | EMT-

[2015-04-10 15:33] dlebauer commented on #263
@echeng7 can you review and fix each of these issues?

[2015-04-10 17:05] #254 closed

[2015-04-10 17:11] gsrohde commented on #263
@echeng7 I'm in the process of making a few notes on how to fix some of these issues.

[2015-04-10 17:16] echeng7 commented on #263
Will do. I've had several exams yesterday and today and I will be at a
conference this weekend but I will work on them as soon as I can.
On Apr 10, 2015 12:11 PM, "Scott Rohde" <notifications@github.com> wrote:

[2015-04-10 17:26] gsrohde commented on #263
@echeng7 I'm finished making notes.  If the problems for two items were basically the same, I didn't necessarily make a note for each one.  Let us know if you have any questions about how to fix these.

If you want to learn how to use the bulk-upload validator yourself, stop in next time you are in the neighborhood and we can show you.

[2015-04-13 17:06] echeng7 commented on #263
- Is there any reason you didn't just delete the greyed-out lines that are to be ignored? Are they there for a reason?
I left them there because they were on the original site but I am unable to check them due to various reasons. I would like to go back to them if I am able to get access to them.

- As you have said, "there are two sites with sitename "Chickasha, OK". They have different values in

[2015-04-13 17:13] echeng7 opened #275 "Upload Poplar Data Set"
Data are in the all.yielddata Google doc spreadsheet here: https://docs.google.com/a/illinois.edu/spreadsheets/d/1hrvMTMc7scvQFgit7QqF68vfxxNufNC--3RJfSDhne4/edit#gid=1338120831

Yields have been updated as much as they can be. Again, ignore the grayed out ones. Thanks!

@dlebauer @gsrohde

[2015-04-13 17:52] gsrohde commented on #263
@echeng7 Some answers (and a question) ...

* Chickasha, OK - "How should I determine which should be duplicated?": It's arbitrary, though if you can easily tell that one site is referred to by traits or yields more often than the other, then mark the less-used site as the duplicate.
Eventually, we want to eliminate duplicate site names (or, if the sites really do have some significant difference,

[2015-04-15 22:00] gsrohde opened #276 "Private issues in Redmine issue #2612"

[2015-04-17 21:37] gsrohde opened #277 "Need RSpec test for creating new Managements"

[2015-04-20 21:47] gsrohde opened #278 "observe_field calls in maps and sites views don't work correctly"

[2015-04-20 22:13] gsrohde opened #279 "Search in covariate edit page doesn't work properly."

[2015-04-21 15:03] gsrohde commented on #278
Also, the edit user page.  (This page used to have password field disabled by default and a checkbox to enable changing the password.)

[2015-04-21 20:14] gsrohde opened #280 "Covariates and Species edit pages need to be re-styled"
- [x] Covariates and Species edit pages and covariates show page have no left-margin and are hard to read.
- [ ] "Show" button on species returns one to the edit page; should return to list of records
- [ ] Can delete most fields from species pages (approx. anything with CamelCase)

[2015-04-22 14:54] dlebauer commented on #258
Duplicated by #280

[2015-04-22 14:54] #258 closed

[2015-04-22 18:19] dlebauer commented on #270
will be enabled by #281 in order to support dlebauer/traits#1

[2015-04-22 18:20] dlebauer commented on #207
@phenolphtalein please confirm that the new documentation is correct and let me know if I can close this.

[2015-04-22 18:20] dlebauer commented on #208
enabled in dlebauer/traits#1

[2015-04-22 18:20] #208 closed

[2015-04-22 21:47] gsrohde opened #282 "Can't create two new managements in a row for a given treatment."
To reproduce:

Go to the edit page of a treatment.
Click 'Create new management'
Click the white 'Create' button in the new management form.
Repeat the last two steps.  If you look at the Javascript console, you'll notice a 404 error for the second call to /treatments/create_new_management.

[2015-04-24 16:09] echeng7 commented on #263
For the Missaoui citation, the dataset does refer to the one not marked duplicate. However, in this case, the yields in both citations that were entered in need  to in the system. Those from the duplicate citation should be later associated with the one not marked with duplicate. Does this make more sense? @gsrohde

[2015-04-24 16:11] echeng7 opened #283 "Upload Salix Data Set"
Data are in the all.yielddata Google doc spreadsheet here:

https://docs.google.com/spreadsheets/d/1hrvMTMc7scvQFgit7QqF68vfxxNufNC--3RJfSDhne4/edit#gid=109120137

@dlebauer @gsrohde

[2015-04-24 17:14] dlebauer commented on #203
deployed in BETYdb 4.0

[2015-04-24 17:14] #203 closed

[2015-04-24 17:33] dlebauer commented on #270
This works

https://www.betydb.org/search.json?search=panicum+yield+heaton

[2015-04-26 21:39] echeng7 opened #284 "Entering Dates"
Entering the dates now requires for you to enter the year, month, and day or else it will not show up at all. For example, if only the year was given in a citation and LOC is year, I must enter 1995-01-01. If only 1995 was entered, no date will show up. I am unsure if this is intentional but I noticed it this week and thought it should be brought to your attention. @gsrohde

[2015-04-27 21:26] gsrohde commented on #284
@echeng7 Thanks very much for mentioning this!

Please be especially alert for things that may be broken or don't work the way you are used to and please bring them to our attention.  We recently did a major update to BETYdb, and it is likely there are other unexpected changes that we aren't yet aware of.

One other problem that I'd like to call your attention to--**_this is even more important th

[2015-04-29 02:26] dlebauer commented on #284
@gsrohde did you fix these errors yet?

[2015-04-29 14:47] gsrohde commented on #284
I plan to deploy the fixes today.

[2015-04-29 17:48] dlebauer opened #285 "Upload Cassava datasets"
Available on [Google Drive](https://docs.google.com/spreadsheets/d/1Mt4mkTbFGHRIb8UOHCxScwV5QmdJlK3E7EW4y1BBSYk/edit?usp=sharing)

[2015-04-30 16:15] dlebauer opened #286 "Enter EBI Farm biomass data"
* google doc: https://docs.google.com/spreadsheets/d/1X99XGEACoLUnyXZj5k3l-Qu96ldyt4p79SKAw1hixBc/edit#gid=0

* any data 2012 or later should have access_level 1; others have access_level 4
* Yields
 * [ ] currently we have aboveground 2008-2011;
* [ ] Root Biomass 2008-2012
 * "root_biomass_area": total belowground biomass
 * rhizome_biomass: (miscanthus only)
 * depth covariate

[2015-04-30 16:29] gsrohde commented on #284
@echeng7

This, and the additional problems I mentioned in the above comment, are now fixed.

[2015-04-30 16:29] #284 closed

[2015-05-01 17:14] gsrohde opened #287 "User interface enhancement: missing treatment error"
If you leave a cell in the treatment column blank, the error will be "Treatment is inconsistent with citation". It would be more helpful if it said the treatment data was missing.

Note that the bulk upload _requires_ a treatment to be associated with each trait or yield.  The treatment column isn't required in the upload file, but if not present, the treatment must be the same for all rows in the

[2015-05-01 22:13] gsrohde commented on #286
@echeng7 I've given you access to the Bulk Data Upload wizard.  This will allow you to check the data files you are creating to make sure they are in the correct format and that all the needed meta-data is present.

To use the wizard, follow these steps:

1. Go to the Google Spreadsheet document showing yield data, and click on the tab for the data table you want to check.
2. In the GoogleDocs Spr

[2015-05-04 16:29] gsrohde commented on #263
@echeng7 Some of the rows are greyed out in some columns but not in others.  It's unclear to me if these rows should be included in the upload or not.  The rows in question are:
* rows 279-281: Columns G and H are greyed out.
* rows 347-522 (the "Fike" citation rows): All columns are greyed out except for A, B, D, and G.
* rows 1182-1229 and 1319-1366: These are greyed out in column A.  Is this si

[2015-05-06 17:09] echeng7 commented on #263
The switchgrass tab should be ready for upload now.

On Mon, May 4, 2015 at 11:29 AM, Scott Rohde <notifications@github.com>
wrote:

--
Emily Cheng
University of Illinois at Urbana-Champaign | 2015
Molecular and Cellular Biology Major | Chemistry Minor
Pre-Student Osteopathic Medicine Association | UIUC Chapter President
Illini Emergency Medical Services | Records Officer | EMT- B

[2015-05-07 03:12] dlebauer commented on #285
@gsrohde These have all passed the tests. Can I go ahead and upload them

[2015-05-07 18:37] dlebauer opened #288 "Add ability to upload managements to bulk upload"
* [x] define a format for management data that includes enough information to associate each row with a treatment
  * [ ] use the same format (or as close to as is useful) as is exporting management information (#318)
* [x] write a script that will take this file and generate insert statements that can then be reviewed and run manually
 * given a csv file with citation information, `treatments.nam

[2015-05-07 19:53] gsrohde opened #289 "Treatment edit page has wrong button label"
It says "Create" instead of "Update".

[2015-05-07 20:07] gsrohde commented on #263
@echeng7  I uploaded this after making a few changes, both in the database and in the CSV file.

Here are the changes I needed to make to the CSV file:

1. One Balasko citation year still said 1982 instead of 1984.
3. I had to change NCSU1 and NCSU2 to NCSU-1 and NCSU-2.
4. The row for the yield with id 2464 had "college" as the name of the cultivar.  Since there is no such cultivar name, I change

[2015-05-07 22:33] gsrohde commented on #275
@echeng7

Problems:

* [ ] 1. Record 7961 (line 121): This has cultivar "Beaupre" which is a cultivar of Populus trichocarpa × deltoides, not Populus trichocarpa.  I'm guessing this is a typo, and that the species on this line should be Populus trichocarpa x deltoides like the lines above it (which also have cultivar Beaupre).
* [ ] 2. The species name "P. trichocarpa x balsamifera" should be "P.

[2015-05-08 15:15] gsrohde commented on #283
@echeng7 Please try the Bulk Upload validation feature on this spreadsheet to see the problems.  Regarding the "date" column: If no dates need to be updated, remove this column or append "-ignore" to the column heading: "date-ignore".  If dates _do_ need to be updated, then they all need a month and day in addition to the year.  If only the year is available from the data source, then use "01" for

[2015-05-08 15:40] gsrohde commented on #227
Other issues:

1. After clicking the line number of an error, there should be an easy way to return to the top.
2. The column headings should perhaps be repeated every 5 or 10 rows so that it is easier to understand what the data cells far down in the table refer to.  Alternatively, if there is a way to scroll the table data while keeping the headings in place, this could be implemented.

[2015-05-08 17:24] echeng7 commented on #263
The changes you had made are correct, as well as only the date column being kept the same.
@gsrohde

[2015-05-08 18:08] echeng7 commented on #275
I have fixed all the problems above. I don't know if it is just me but I keep getting an error when I check the bulk upload with rows 408, 409, 414, and 415. The cultivars are copied straight from the database with their respective species onto the spreadsheet but when it is uploaded, it changes. Can you look into this for me?

@gsrohde

[2015-05-08 19:23] echeng7 commented on #283
Again, same problem as the popular set,  I don't know if it is just me but I keep getting an error when I check the bulk upload with rows 33, 34, 35, 57, 58, 59, 60. The cultivars are copied straight from the database with their respective species onto the spreadsheet but when it is uploaded, it changes. Can you look into this for me?

Also, some of the yields did not specifically say which specie

[2015-05-08 19:26] dlebauer commented on #283
Emily can you try opening the CSV in notepad and copy pasting in the
cultivar names?
On Fri, May 8, 2015 at 2:23 PM echeng7 <notifications@github.com> wrote:

[2015-05-08 21:50] gsrohde commented on #263
Old rows have been saved to `old_switchgrass_yields_rows.csv` in directory
[code]
on ebi-forecast and then updated with the newly-uploaded versions.  The latter were then deleted.

[2015-05-08 21:50] #263 closed

[2015-05-10 04:10] echeng7 commented on #283
It still will not work for me. Other suggestions?

On Fri, May 8, 2015 at 2:26 PM, David LeBauer <notifications@github.com>
wrote:

--
Emily Cheng
University of Illinois at Urbana-Champaign | 2015
Molecular and Cellular Biology Major | Chemistry Minor
Pre-Student Osteopathic Medicine Association | UIUC Chapter President
Illini Emergency Medical Services | Records Officer | EMT- B

[2015-05-10 04:11] dlebauer commented on #283
Change both names to something simple like "testname1"
On Sat, May 9, 2015 at 11:10 PM echeng7 <notifications@github.com> wrote:

[2015-05-10 04:13] dlebauer commented on #283
What do you mean by 'when it is uploaded, it changes'? Can you provide
screenshots?
On Sat, May 9, 2015 at 11:11 PM David LeBauer <dlebauer@gmail.com> wrote:

[2015-05-11 15:54] gsrohde commented on #275
@echeng7 The problem in rows 408 and 414 is that although the cultivar name "Wedesbuttel 95 x Turesson 141"  exists in the database, it is associated with the species "Populus tremula × tremuloides", whereas the upload file uses the species name "P. tremuloides × P. tremula".  Although the latter is a valid species name (i.e., it is listed in the species table in the database), it isn't the specie

[2015-05-11 16:32] gsrohde commented on #283
@echeng7 The problem here was that in the database, "Salix schwerinii x S. viminalis" had an extra space before the "x".  But the upload software will strip out any extra spaces before trying to match against the database, so even though the species name as typed in the upload file exactly matched the database entry, when the software turned your double space into a single space (it assumes double

[2015-05-11 16:36] gsrohde commented on #283
@echeng7 In regard to your question about some of the yields not specifically saying which species they were from and whether they should be changed to Salix spp., please ask David about this.

[2015-05-11 20:30] echeng7 commented on #283
Also, some of the yields did not specifically say which species they were from. Should it be changed to Salix spp.?
@dlebauer

[2015-05-11 20:32] echeng7 commented on #275
@dlebauer

[2015-05-11 21:14] dlebauer opened #290 "Add foliar chemistry from UNH database"
[Foliar Chemistry Database of the Northeastern Ecosystem Research Cooperative](http://www.folchem.sr.unh.edu/)

[as .csv file](https://docs.google.com/spreadsheets/d/1E-BUsUviJlhndiU69iKiTiFn6bp8zDpiFO-3zSO8T_g/edit?usp=sharing)

[2015-05-12 00:12] dlebauer commented on #275
Yes, Scott's solution - change the species name - sounds correct to me

On Monday, May 11, 2015, echeng7 <notifications@github.com> wrote:

[2015-05-12 00:13] dlebauer commented on #283
Yes, Salix spp.

On Monday, May 11, 2015, echeng7 <notifications@github.com> wrote:

[2015-05-12 20:49] gsrohde commented on #278
Removed observe_field code code and related code from sites and maps.  Restored password-edit checkbox to user edit page.

[2015-05-12 21:01] #154 closed

[2015-05-12 21:01] #155 closed

[2015-05-12 21:22] gsrohde commented on #177
@dlebauer I think we should write a migration to delete the locations_yields table and the counties table and then close this.  Sound OK?

[2015-05-12 21:29] gsrohde commented on #158
@dlebauer @robkooper Here's where things are at with this: Right now, pressing "Clone Record" on the "show" page creates a new PFT that is just like the one you cloned from except the name has "-copy" appended to it.  And you land on the "show" page for the copy.  If you want to give it a new name, you can then press the "Edit Record" button, change the name in the "Name" field, and press the "Upd

[2015-05-12 21:41] gsrohde commented on #141
Not an issue (I think!)--we now officially support Ruby version 2.1.5, but anything >= 1.9.3 probably works.

[2015-05-12 21:41] #141 closed

[2015-05-12 21:55] gsrohde commented on #42
@dlebauer Is this superseded by the Feedback tab the Yilin implemented?

[2015-05-12 22:20] dlebauer commented on #271
@echeng7

### Fike et al

* I think that annual means may have been imputed from ANOVA statistics but the calculation has been lost
* please see [Parrish et al 2001](http://web.ornl.gov/info/reports/2003/3445605367634.pdf) in the [Mendeley switchgrass folder](https://www.mendeley.com/groups/4649051/_/papers/). All of the data, and more are in A13-20. Please include data for two treatments (one cut

[2015-05-12 22:21] #215 closed

[2015-05-12 22:22] #213 closed

[2015-05-12 22:28] gsrohde commented on #198
@dlebauer If no Uniqueness constraint is warranted, close this.

[2015-05-12 22:35] gsrohde commented on #197
The same constraint has been added twice in two different migrations:

`ADD CONSTRAINT unique_names_per_modeltype UNIQUE(name, modeltype_id)`

`ADD CONSTRAINT unique_name_per_model UNIQUE (name, modeltype_id)`

One of these (the latter) should be removed.

[2015-05-12 22:37] #195 closed

[2015-05-12 22:38] #194 closed

[2015-05-12 22:39] #192 closed

[2015-05-12 22:40] #190 closed

[2015-05-12 22:40] #189 closed

[2015-05-12 22:41] #188 closed

[2015-05-12 22:42] #187 closed

[2015-05-12 22:44] #182 closed

[2015-05-13 01:26] #198 closed

[2015-05-13 01:27] dlebauer commented on #42
yes!

[2015-05-13 01:27] #42 closed

[2015-05-13 01:31] dlebauer commented on #158
that works. I think the important point is that it doesn't create two pfts with the same name

[2015-05-13 01:31] #158 closed

[2015-05-13 01:31] dlebauer commented on #177
yes!

[2015-05-13 02:07] gsrohde commented on #273
All known issues of this type are fixed.

[2015-05-13 02:07] #273 closed

[2015-05-13 12:50] robkooper commented on #158
What happens if I create a second copy?

[2015-05-13 16:02] robkooper opened #291 "Show modeltype with posterior"
Question was to show modeltype in table with posteriors (https://github.com/PecanProject/pecan/issues/479). This can be done using the following query:

[code]

[2015-05-13 18:57] gsrohde commented on #158
It will get the name originalname-copy-copy.

[2015-05-13 19:00] gsrohde commented on #158
Actually, I don't know what will happen if you go back to the original and make a second clone of it, but I suspect you will get an error unless you renamed originalname-copy to something else before doing so.  This is the same as if you tried to make a new PFT re-using an existing name.

[2015-05-13 19:14] dlebauer commented on #158
Would it be sufficient for the error to say 'name already in use' (as with
most website usernames)?
On Wed, May 13, 2015 at 2:00 PM Scott Rohde <notifications@github.com>
wrote:

[2015-05-14 21:32] dlebauer opened #292 "model/<id>edit and modeltypes/<id>/edit links are broken"
When I try to edit a model, it gives a 500 Internal error.

Specifically, going to https://www.betydb.org/models/7/edit

puts this in the log:

[code]

Similarly, navigating to https://www.betydb.org/modeltypes/2/edit gives:

[code]

[2015-05-14 21:49] gsrohde commented on #207
@dlebauer @phenolphtalein

I just updated the whole of the Data Access document (https://www.authorea.com/users/5574/articles/7062/_show_article) and I think it is now reasonably accurate and up-to-date, so I am closing this issue.

[2015-05-14 21:49] #207 closed

[2015-05-14 21:51] #224 closed

[2015-05-14 21:56] #270 closed

[2015-05-15 03:35] robkooper commented on #292
Not sure what happened, this used to work.I think i saw something about routes being changed?

[2015-05-18 14:28] gsrohde commented on #292
I'm pretty sure I fixed this but haven't deployed yet, or maybe this is one broken route I neglected.  I'll try to get to this ASAP.

[2015-05-19 19:40] gsrohde commented on #292
@dlebauer You should now be able to edit the collection of files associated with a model and the collection of formats associated with a modeltype.  Let me know if there are any remaining issues, otherwise close this.

[2015-05-19 19:52] #292 closed

[2015-05-19 21:43] gsrohde opened #293 "Pre-filled-in species name shouldn't disappear in Cultivar update form when a validation error occurs."

[2015-05-20 17:46] gsrohde commented on #233
Only remaining constraints (which will be implemented by draft value constraint migration) are on the values of `md5` and `container_type`.

[2015-05-20 17:52] dlebauer commented on #233
can `md5` and `container_type` both have defaults of either NULL or empty string?

[2015-05-20 18:34] gsrohde commented on #243
@dlebauer If `n` should be _greater_ than 0, what should be done with the 50 existing rows where `n` _equals_ 0?

[2015-05-20 19:02] gsrohde commented on #245
@dlebauer All the runs created in March and April have a NULL in the `started_at` column.  Is this an error, or should we forget about having a not-NULL constraint on this column?

[2015-05-20 19:12] dlebauer commented on #245
Delete these rows, add constraint, and then we will fix pecan
On Wed, May 20, 2015 at 2:02 PM Scott Rohde <notifications@github.com>
wrote:

[2015-05-20 19:17] dlebauer commented on #243
Change constraint to n>= 0, to allow for prior so based on 'expert knowledge'

[2015-05-20 19:17] gsrohde commented on #237
@dlebauer You said the other day to make `raw` default to false.  Looking back over these comments, I see that I fixed violations of `raw NOT NULL` constraint by changing NULL to TRUE.  Should FALSE still be the default?  Also, please see pending issues with `start_date`, `end_date`, and `format_id`--if you want to table these issues, I'll leave related constraints out of the migration.

[2015-05-20 19:26] dlebauer commented on #237
Depends on definition of "raw" and specific datasets. I still think default should be null, and perhaps existing files evaluated on a per file basis

Start date / end date do not apply to some inputs. Perhaps these should be allowed to be NULL

[2015-05-20 20:34] gsrohde opened #295 "BETYdb Web interface only deals with PFTs consisting of species, not those consisting of cultivars"
There is no mechanism for adding cultivars to a PFT via the Rails app.  And if you try to add a species to a PFT that consists of cultivars, it fails--as it should--but silently, without giving any error message.

[2015-05-20 20:54] gsrohde commented on #243
@dlebauer I'll also allow `n` to be NULL unless you don't want this and tell me how to handle the 80 rows that currently have NULL in the `n` column.

[2015-05-20 21:19] gsrohde opened #296 "Site elevation can't be updated on the site edit page"
When you press `Update`, the elevation reverts to whatever it was originally.

[2015-05-20 21:31] dlebauer commented on #296
Okay to remove this field from the edit and new record interfaces.
On Wed, May 20, 2015 at 4:19 PM Scott Rohde <notifications@github.com>
wrote:

[2015-05-20 21:31] gsrohde opened #297 "Can non-point geometries have an altitude?"
@robkooper @dlebauer

It seems that `st_z(st_centroid(sites.geometry))` is always NULL.  Is this as it should be?

[2015-05-20 21:33] dlebauer commented on #243
N can be 0 where it is currently NULL
On Wed, May 20, 2015 at 3:54 PM Scott Rohde <notifications@github.com>
wrote:

[2015-05-20 21:42] gsrohde opened #298 "Sites lat, lon, and elevation always default to zero"
@dlebauer @robkooper Should we require these fields to be filled in (at least lat and lon) when creating a new site?  When updating an existing one?

[2015-05-20 21:44] dlebauer commented on #298
Yes, assuming that only points will be added in the interface
On Wed, May 20, 2015 at 4:42 PM Scott Rohde <notifications@github.com>
wrote:

[2015-05-20 21:47] gsrohde commented on #246
@dlebauer I have a constraint `clay_pct + sand_pct <= 100`.  Should `som` be included?  That is, should `clay_pct + sand_pct + som <= 100`

[2015-05-20 21:56] dlebauer commented on #246
no, SOM often is not included in this sum

On Wed, May 20, 2015 at 4:47 PM Scott Rohde <notifications@github.com>
wrote:

[2015-05-20 21:56] dlebauer commented on #246
i.e. sand+silt+clay is defined as 100%

On Wed, May 20, 2015 at 4:56 PM David LeBauer <dlebauer@gmail.com> wrote:

[2015-05-20 22:22] dlebauer commented on #180
@robkooper I still don't see where it would be useful to allow modeltype_id to equal -1 (but not, say, -2), or why this would be preferable to `max(id) + 1`, we do have a billion rows on this table per server after all .... and the row can be deleted at some point if the user wants to. What if user 1 creates a model with modeltype_id = -1 and then user 2 wants to experiment with a model?

So, can

[2015-05-21 19:16] mdietze commented on #180
@dlebauer -1 is preferable to N+1 because as soon as someone adds a new modeltype we'd have to renumber all past records. I don't know if @robkooper had a chance to play with whether NULL works or not but I'm in favor of changing the constraint.

[2015-05-22 15:36] gsrohde opened #299 "Traits list doesn't display properly for users with page access level 4."
The last three columns are mis-aligned: "Viewers" will see the access level dropdown under the QA/QC heading, the actions under the Access Level heading, and blank cells under the Action heading.

[2015-05-22 16:35] gsrohde opened #300 "Wrong latitude and longitude values"
Please check and correct if necessary the latitude and longitude values for the sites with site numbers 1259--1266.  For example, if you look at site 1265 (https://www.betydb.org/sites/1265), you will see it has a longitude of 2000.0.  And site 1262 has a longitude of 76.51667, but this should be a negative number (West) not a positive number (East) since it is in Columbia.

[2015-05-22 16:43] dlebauer commented on #300
@Lynnicia can you please check - and update if necessary - the lat/lon coordinates for the sites that you entered?

[2015-05-22 20:13] Lynnicia commented on #300
@dlebauer Ahh yes, this is an error in BETYdb. For some reason, the longitude keeps changing to 2000. The value 2000 is the elevation as 2000 m. "Plants were grown in the open at a high-altitude site near Cali, Colombia(elevation 2000 m, mean annual temperature 17 °C)." (El-Sharkawy et. al., 1992) I will try to change this now. No latitude and longitude are given for this site.

[2015-05-27 20:28] gsrohde commented on #296
I added an error message that says you can't update the elevation _unless_ you also update the latitude or longitude.  (To update _only_ the elevation, the user will have to update one of the other values too and then change it back to what it was.)

@robkooper Do you have any idea why updating the site geometry to `SRID=4326;Point(old_lon, old_lat, new_masl)` and then saving has no effect.  (save

[2015-05-27 20:37] gsrohde commented on #300
@Lynnicia The bug you mentioned has been fixed but hasn't yet been deployed to the production Web site.

[2015-05-27 20:47] gsrohde commented on #247
All constraints that are checked off are part of pull request #301.  Remaining work will be deferred to another migration.

[2015-05-27 20:47] dlebauer commented on #300
@Lynnicia could you please provide the lat / lon coordinates for these sites; I can update the database manually for now.

[2015-05-28 15:43] gsrohde commented on #261
Not only `dateloc` was being recognized and used, but also `statname`, `stat`, `created_at`, and `updated_at`, despite being marked as "Ignored" on the validation page.

[2015-05-28 15:55] dlebauer commented on #261
Can these be allowed, and just not marked 'ignored'?

On Thursday, May 28, 2015, Scott Rohde <notifications@github.com> wrote:

[2015-05-28 16:43] gsrohde commented on #261
You mean actually used?  Yes.  So instead of _really_ ignoring them, I should allow the values to actually be used and inserted?

[2015-05-28 23:16] Lynnicia commented on #300
@dlebauer Treatment Site Site near Cali was assumed to be in the nearest elevation of 2,000 m from the city Cali on Google Maps: https://www.google.com/maps/@3.5049652,-76.5845739,15z/data=!5m1!1e4

[2015-05-29 19:25] gsrohde opened #302 "Questionable defaults for data access level in edit forms for traits and yields"
When updating an object, usually the editing form is pre-filled with the existing values of all attributes of the object.  This includes select dropdowns as well: usually the default value equals whatever the current value is.  But this is not the case for the "access_level" attribute of traits and yields.

In the yields editing form, the access level defaults to the data access level of the user

[2015-05-29 21:44] gsrohde opened #303 "QA/QC column of yields listing works incorrectly"
A user with "Creator" or "Viewer" page access level will see a select box for editing the "checked" status of a yield record if and only if his/her data access level is strictly less (i.e. more privileged) than the data access level of the yield being edited.  (The exception to this is the case where the logged-in user is the one who created the yield record--users will always see the "checked" se

[2015-06-01 16:28] dlebauer commented on #302
We used to have it where a user with page access level 3 could only edit a record if they entered it themselves. Only a manager or administrator (page access level 2 or 1) could edit a record entered by someone else.

That said, editing a record should not change the access level, unless the access level is intentionally changed during the edit.

[2015-06-01 18:47] dlebauer commented on #303
1. Yes, should be less than or equal to.
2. should be:
 * anyone can mark a record that they can view as -1 `(current_user.access_level <= y.access_level and y.checked == 1) `
 * anyone can mark their own records as unchecked.` ( y.user_id == current_user.id ) `
 * administrators and managers can change 'checked' status `( current_user.page_access_level <= 2 ); then ...".)`

[2015-06-01 19:27] gsrohde opened #304 "New (db) File should be restyled"
Not only does this look bad, the feedback tab crowds the form controls--this causes one of the RSpec tests to fail (perhaps intermittently).

[2015-06-03 17:21] zhangwenx opened #305 "Map link does't work in Sites"
browser: Firefox
Go to Data -> Sites -> click on any link under map in Listing Sites, the pop-up window results Not Found.

[2015-06-03 17:38] zhangwenx opened #306 "Error message is returned when delete a new added site"
Browser: Firefox
Go through demo PEcAn_Demo_Handout.1.4.0.pdf/Additional material/2.3 (To add a new site). After add a new site, cannot delete this new site. It returns Error message:
" PG::ForeignKeyViolation: ERROR: update or delete on table "sites" violates foreign key constraint "fk_inputs_sites_1" on table "inputs" DETAIL: Key (id)=(99000000001) is still referenced from table "inputs". : DELE

[2015-06-03 17:46] zhangwenx opened #307 "Layout is incorrect at Editing species page"
Browser: Firefox
Go to Date -> Cultivars -> any link under Species ->click on Edit Record, the next page has a wrong layout

[2015-06-03 20:18] zhangwenx opened #308 "Link to "CF Guidelines" is broken on PEcAn Virtual Machine"
Browser: Firefox
Go to Data -> Variables -> Edit record: C F Guidelines is a broken link that next page result in "Not Found".

[2015-06-03 20:21] zhangwenx opened #309 "Variable's type cannot be updated"
Browser: Firefox
Go to Data -> Variables -> Edit record -> select a random Type -> Update -> click on Show: The type is not updated, always be empty

[2015-06-03 20:26] zhangwenx opened #310 "Some of citations cannot be deleted"
Browser: Firefox
Some of the listing Citations cannot be deleted by using the  delete action,  for example Data -> Citations -> delete the citation that "Author: Aasamaa Year: 2010"
An error message returned: PG::ForeignKeyViolation: ERROR: update or delete on table "citations" violates foreign key constraint "fk_yields_citations_1" on table "yields" DETAIL: Key (id)=(428) is still referenced from

[2015-06-03 20:34] dlebauer commented on #308
When I do this, I am re-directed to https://www.betydb.org/guidelines.html (as expected)

Are you using betydb.org, or another instance?

Could you paste the url that you see when you hover over or copy the "CF Guidelines" link?

[2015-06-03 20:39] dlebauer commented on #309
I've reproduced this error. The following appears in `log/production.log`:

[code]

[2015-06-03 20:40] zhangwenx commented on #308
Yes, I am testing on vm 1.4.2. I think that is why. (  http://localhost:6480/guidelines.html )

[2015-06-03 20:42] dlebauer commented on #308
Not sure why this would be an issue on the VM. The page should be in [public/guidelines.html](https://github.com/PecanProject/bety/blob/master/public/guidelines.html).

[2015-06-03 20:46] dlebauer commented on #310
This is expected behavior, and is the result of the foreign key constraints that were added.

The interface does not allow records to be deleted if they will leave orphaned records (in this case, we require records on the yields table to have a citation). If you want to delete this citation, you would need to either change or delete all of the records it is linked to.

[2015-06-03 20:46] #310 closed

[2015-06-03 20:51] robkooper commented on #310
We should make it clearer in the interface though, maybe list all those items that are there that need to be removed as well.

[2015-06-03 20:52] zhangwenx opened #311 "Layout is incorrect at Covariates showing and editing page"
VM 1.4.2 , Firefox
When click on show/edit action at any of Covariates from list, the layout on the next page is incorrect.

[2015-06-03 21:01] zhangwenx opened #312 "Links on Editing covariate page are broken on PEcAn Virtual Machine"
The linkes "Extracting information from tables and graphs" , "Extracting data from a figure using R", "Extracting data from a figure using GetData " on the Editing covariate page are broken. The pop-up windows are result in "Not Found".

[2015-06-04 02:06] dlebauer commented on #307
Closing as duplicate of #280 (please reopen and update if this is incorrect)

[2015-06-04 02:06] #307 closed

[2015-06-04 02:10] dlebauer commented on #311
Closing as duplicate of #280 (please reopen and update if this is incorrect)

[2015-06-04 02:10] #311 closed

[2015-06-04 02:16] dlebauer commented on #312
@zhangwenx Thank you for checking the buttons in BETYdb. Could you post screenshots?

These links work on BETYdb.org, but it is not clear why they are on this page except as a relic ... These help popular are from a very old version of the documentation and I think the docs--> data entry workflow should be sufficient. More helpful help would be great, if anyone is available to (re) implement such

[2015-06-04 18:05] gsrohde commented on #305
This is likely a VM issue.  Unless you set up the VM to be able to connect to external sites, you will get an error when a page needs to do so.  In this case, it is trying to get information from maps.google.com.

[2015-06-04 18:13] robkooper commented on #305
The VM used in this case is connected to the internet so this should not be an issue.

[2015-06-04 18:15] dlebauer commented on #305
Would it help to post the activity as recorded in the `production.log`?

On Thu, Jun 4, 2015 at 1:13 PM, Rob Kooper <notifications@github.com> wrote:

[2015-06-04 18:16] gsrohde commented on #306
The error message now will say "There are still inputs that refer to this site." once fixes are deployed.

[2015-06-04 18:28] zhangwenx commented on #312
Sure. This is what I get:
![issue312](https://cloud.githubusercontent.com/assets/9668009/7991403/819deb28-0abd-11e5-84d8-727314c19fb9.png)

[2015-06-04 19:24] zhangwenx commented on #305
When I click on the map link, the page is loaded as
"Not Found
The requested URL /sites/map was not found on this server.
Apache/2.4.7 (Ubuntu) Server at localhost Port 6480"
app is not deployed root context, to /bety instead

[2015-06-04 19:43] zhangwenx opened #313 "Citation in Editing Management page consistently take the global citation value on PEcAn Virtual Machine"
Go to the Editing Management page, select any citation value from pull-down menu, then click on update. The updated Management citation value is not same as the selected citation value in editing page, but same as the global citation which is checked from Data->Citation.

[2015-06-04 19:47] dlebauer commented on #313
The expected behavior is for the selected citation to refer to the one from which data are being entered. I think the solution is to **remove the field from the managements/edit page**, so that users are not given the choice of selecting another citation.

[2015-06-04 19:51] gsrohde commented on #308
This is a problem that only shows up in subdirectory deployments (i.e., home page is at http://hostname/subdir instead of http://hostname).  Fixed in commit b62ea598 using a named route in the link-helper.  Let me know if not!

[2015-06-04 19:52] dlebauer commented on #305
On the betydb.org site, I don't get the error page, but the link doesn't seem to point anywhere.

I'd suggest removing the link from the page. It is a feature that is 'nice to have' but certainly not essential.

[2015-06-04 19:54] dlebauer commented on #312
This is fixed by #280, which is ready for release in the next version of BETYdb

[2015-06-04 19:54] #312 closed

[2015-06-04 19:57] dlebauer commented on #305
This will be fixed by Pull Request #314

[2015-06-04 19:57] #305 closed

[2015-06-04 20:31] gsrohde commented on #309
Fixed in commit 0a6aad9ffa7 (once deployed).

[2015-06-04 21:28] gsrohde commented on #313
Fixed by commit 9b419739: The citation is no longer editable, and it would be changed when you edit other attributes of a management.

[2015-06-04 22:12] gsrohde commented on #305
Commit fa57d76d will restore functionality of the map link on the listing page for subdirectory deployments.  Pull Request #314 deals with a slightly different issue--the "Map" text on the Show page, which isn't even a link but is just inert text.  We will remove it.

[2015-06-08 20:51] gsrohde opened #315 "Close currently-existing pull requests"
* [x] #106 give manager role access to delete yield, management and treatment records
* [x] #217 Add sync info to machines table
* [x] #223 Draft migration addressing issues in GH #41
* [x] #256 auto update documentation
* [x] #264 New migration to impose constraints on created_at and updated_at columns
* [x] #301 Value constraints batch 1
  * [x] Revise migration per Rob's feedback

[2015-06-08 20:57] gsrohde opened #316 "Update documentation"
Tasks:

* [ ] Deployment procedures (wiki)
* [ ] Testing -- make sure this is up to date
* [ ] ?
* [ ] ?
* [ ] ?

[2015-06-08 20:58] gsrohde opened #317 "Make new release of BETYdb incorporating recent bug fixes and new constraints"
Update Release Wiki at the same time.

[2015-06-09 18:43] dlebauer commented on #225
If we can do a one or few liner (e.g. from above), please implement this so that it can handle csv files exported from Excel more cleanly.

[2015-06-09 18:44] dlebauer commented on #285
Or have they been uploaded already?

[2015-06-09 22:41] gsrohde commented on #302
@dlebauer I've changed the edit forms to preselect the access_level corresponding to the current value.  This doesn't  solve the problem that a user with less than full data access can lock him/herself out of a record by changing the access level to a level more restrictive than his/her own data access level, though these changes make it less likely that a user will do so inadvertently (in the cas

[2015-06-10 20:56] gsrohde commented on #225
What I could do is this:

If the file fails to parse as UTF-8, then I could retry with ISO-8859-1 (= Latin1)--or rather, WINDOWS-1252, which is a superset of ISO-8859-1, perhaps issuing a warning.  (The warning could also specify the line number of the first line that won't parse as UTF-8.)  Since every file will parse as WINDOWS-1252  (I think), I can't really try to guess other possible encoding

[2015-06-10 22:44] dlebauer opened #318 "Export managements associated with records"
* [ ] find (and print) all managements for treatment+citation matches that already exist
    * [ ] use the Miscanthus data set as input
    * [ ] query is here:
    * [x] here is the output: https://gist.github.com/dlebauer/02dc9f54202626b57884
* [ ] add button on general search page to export a sparate csv file from the advanced search page that contains enough information to link with the curren

[2015-06-17 15:58] gsrohde commented on #303
After implementing (1.) above and fixing a long-standing bug (see the commit message at https://github.com/PecanProject/bety/commit/3703fbf23d9c8897edcb38545dd60792f5ab66c3), things will work as described below.  I'm waiting to deal with (2.) until I am sure I understand it correctly.

Here are how things work now (or _will_ work after code modifications have been deployed):

* Administrators can

[2015-06-17 17:16] gsrohde opened #320 "Citations index page puts PDF url in the URL column."
This in and of itself may not be such a big problem, but for citations where the URL column value exists and the PDF column value does not, nothing is shown in the URL cell.

Probably the best behavior is to default to one and fall back to the other.

[2015-06-17 18:52] gsrohde commented on #262
Placing on hold until database design issues are resolved.

[2015-06-17 19:17] gsrohde opened #321 "New site page shouldn't have "Show" button."

[2015-06-17 19:24] gsrohde opened #322 ""New" pages should replace button label "Back" with "All Records"."
The Edit pages already do this.  So do the "New" pages for Inputs, Models, Modeltypes.  All of the other "New" pages should adopt this convention, both for clarity and consistency.

[2015-06-17 19:25] gsrohde commented on #321
See issue #322 for other desired changes to this page.

[2015-06-17 21:24] gsrohde opened #323 "New and Edit pages for likelihoods need to be restyled."

[2015-06-18 14:20] gsrohde opened #324 "Treatments pages shouldn't say "No treatments associated with this citation" when no citation has been selected."

[2015-06-18 18:53] gsrohde opened #325 "Dispose of remaining permissions issues related to managements and treatments."

[2015-06-19 19:28] gsrohde commented on #325
@dlebauer

Here is a summary of the status of changes that were contained in Pull Request #106 and the issues discussed in Redmine task #2334:

1. As of commit 3916804daa701ea411aa25e283456b24d2484acd, administrators and managers can now delete treatments from the treatment listing page provided that there are no associated traits, yields, or managements.  As far as I know, before this, there was

[2015-06-19 22:06] mdietze commented on #292
This is still broken on psql-pecan.bu.edu and on the pecan vm (current 1.4.2). It appears to work on betydb.org, but within modeltype the links to related Models and Pfts have disappeard.

[2015-06-20 00:33] gsrohde commented on #292
On the "show" pages, there are links to related Pfts, Models, and Formats (see for example https://www.betydb.org/modeltypes/1).  On the "edit" pages, only the Formats are shown.  As far as I can tell, it has always been this way, but Rob is more familiar with this code.

[2015-06-24 22:02] gsrohde opened #326 "Shall we take generated documentation files out of the git repostitory?"
@dlebauer

Now that we have an easy way to use schemaSpy to generate the template files in app/views/schemas and the associated images files in public/images, I don't see any reason to have these files in the git repository.  Can I remove them?

Alternatively, we could add .gitignore entries to ignore them (we should do this in any case) so that at the very least git won't bother with them.  Then

[2015-06-25 16:23] gsrohde commented on #262
Pretty sure this is not an issue.

[2015-06-25 16:23] #262 closed

[2015-06-25 17:13] gsrohde commented on #303
@dlebauer Another related question: Should the listing page for traits work exactly the same way?

[2015-06-25 18:27] dlebauer commented on #303
Yes traits and yields should work the same way.

Only admins and managers should be able to change access level, though
creators should be able to set it on a new record, even if it locks them
out.

An exception is that creators should be able to view and edit any records
that they created.
On Thu, Jun 25, 2015 at 12:13 PM Scott Rohde <notifications@github.com>
wrote:

[2015-06-25 18:43] robkooper opened #327 "Error in constraints"
Following functions return an int[] instead of bigint[]

get_input_ids(), get_model_ids() and get_posterior_ids()

@dlebauer @gsrohde  This will prevent anybody that is not EBI to import data. This issue is critical!!!!

[2015-06-25 19:22] gsrohde commented on #327
@robkooper
See pull request #328.  If OK, I'll try to deploy it today.

[2015-06-25 19:29] robkooper commented on #327
fixed in pull request.

[2015-06-25 19:29] #327 closed

[2015-06-25 19:29] robkooper commented on #327
Thanks Scott for fixing this so quickly.

[2015-06-25 20:47] #308 closed

[2015-06-25 22:31] gsrohde commented on #288
@dlebauer

I have a draft script that will turn something like this:

[code]

into this:

[code]

Remaining things to flesh out:

1. What columns should be required and which should be optional
2. Precise names for columns
3. Which columns can have blanks in some rows
4. Whether to allow specifying citation by doi instead of author/year/title
5. Whether we need to test that a given management alre

[2015-06-26 18:16] dlebauer commented on #326
yes, anything that can be auto-generated does not need to be in the repository.

[2015-06-26 18:32] dlebauer commented on #288
Answers to above:

optional columns: level,units,date

follow convention for bulk upload data

same as optional colums

less error prone to use author/year/title, so this is 'nice to have' but low priority

not essential. But within a treatment, could restrict to unique date / managementtype

default SQL error messages

not essential

* input file can be passed as argument to the function (.e.g `$

[2015-06-26 21:25] serbinsh opened #329 "Issue installing Ruby gems"
I am hitting a snag with the BETYdb Ruby gem installs for the web DB connection interface and the rails backend.  In addition I am concerned I am not installing properly.  First, here is my install command:

[code]
My Ruby is at /opt/ruby-2.1.0 so I was using sudo su then installing, but it warns not to use root?

Also, I hit a snag with the pg 0.17 gem.

[code]

I tried this but it still didn't w

[2015-06-26 21:26] serbinsh commented on #329
Sorry here is the other command:

[code]

[2015-06-26 21:30] serbinsh commented on #329
Tried adding to path, no luck
[code]
Still fails???

[2015-06-26 22:18] gsrohde commented on #288
@dlebauer See pull request #330.

[2015-06-27 15:57] serbinsh commented on #329
@mdietze @robkooper @dlebauer

Fixed!  I had to run this first:
[code]
then I re-ran
[code]
and it finished fine

[code]

This might be good to add to the instructions / wiki.

[2015-06-27 16:14] serbinsh opened #331 "How to update BETY after a schema change?"
I am running a simple script to dump BETYdb (to share with the PEcAn group) and load the newest updates.  However, I am getting this message when running the commands which then cause the update to stop:

[code]

I know @robkooper mentioned recent updates to the schema.  What script do I need to run to update the schema to get it to match the current version?  I also need to update as I am trying

[2015-06-27 16:41] robkooper commented on #331
See https://github.com/PecanProject/bety/wiki/Updating-BETY#update-the-rails-app-and-schema

[2015-06-29 13:54] serbinsh commented on #331
@robkooper @dlebauer

I ran this to update bety: RAILS_ENV="production" rake db:migrate --trace

and here is my output
[code]

Are things like this OK?

[code]
[code]

[2015-06-29 14:23] robkooper commented on #331
Welcome to hell.

You will need to execute each sql statement in this migration and see which one fails. Then fix the database for those specific sql queries. I have done this a few times for Mike and takes about a day.

I would stay 2 versions behind right now and work with that. I think Mike is running 4.1, you can do a `git checkout betydb_4.1`.

[2015-06-29 15:20] gsrohde commented on #331
Alternatively, as I mention in the release notes https://github.com/PecanProject/bety/releases/tag/betydb_4.2,
you can run
[code]
to find the first error, fix it, and then repeat.  Admittedly a bit tedious if there are many constraint violations.

My guess is that most violations will be in tables that PEcAn touches--those that don't get edited within the BETYdb Rail app.

(Ideally, that database

[2015-06-29 15:33] gsrohde commented on #331
One further comment:

If you want to take a "lazy" approach to fixing constraint violations but still want to upgrade to the latest release, you could use the following approach:

Iteratively: (1) attempt the migration; (2) instead of fixing the database immediately, comment out the statement in the migration file that defines the problem constraint.

(To comment out a single-line SQL statement, p

[2015-06-29 20:35] serbinsh opened #332 "Issue with reloading workflows through web BETYdb"
Through the PEcAn web interface a workflow result/history page is located at: http://test.esh.bnl.gov/pecan/08-finished.php?workflowid=2000000002

However, if I log on to the BETY interface on our server the link on the http://test.esh.bnl.gov/bety/workflows page takes me to: http://test.esh.bnl.gov/pecan/finished.php?workflowid=2000000002

This results in a failed recall of the run history.  Note

[2015-06-29 20:44] serbinsh commented on #329
@robkooper or @dlebauer
Can you please add this as a possible note to others who are installing Ruby for BETYdb?  I think it would be helpful to have this as a sidenote in case others need to define the location of the psql libs/bins, as I did during install.

I don't have wiki edit privileges, at least not for BETY (i think)

Then we can close

[2015-06-29 20:46] dlebauer commented on #329
@serbinish ... I gave you edit privileges ... (I think)

On Mon, Jun 29, 2015 at 3:44 PM, Shawn P. Serbin <notifications@github.com>
wrote:

[2015-06-29 20:59] serbinsh commented on #329
Done

[2015-06-29 20:59] #329 closed

[2015-06-29 21:00] serbinsh commented on #331
@gsrohde I was able to get around this for now but wiping and reloading BETYdb.  We didn't yet have any substantial results.  However, hopefully I can avoid this in the future by keeping on top of updates.

[2015-06-29 22:11] gsrohde commented on #332
Yes, I would say this is a bug.  PEcAn and BETYdb are not on the same page, it would seem, in how they refer to these workflow URLs.  BETYdb always links to `/pecan/finished.php?workflowid=...`, and not only does this not have the `08-` prefix to `finished.php`, it can fail if there isn't the right relationship between BETYdb URLs and PEcAn URLs.  (`www.betydb.org`, for example, can't resolve the

[2015-07-01 13:49] mdietze commented on #331
@gsrohde I tried running the first command you suggested (with grep ERROR) and I get the following message

PG::NotNullViolation: ERROR:  column "year" contains null values
ActiveRecord::StatementInvalid: PG::NotNullViolation: ERROR:  column "year" contains null values
PG::NotNullViolation: ERROR:  column "year" contains null values

But it doesn't tell me which table the error is in. Am I going t

[2015-07-01 15:23] gsrohde commented on #331
Yes, it’s a little annoying that the table isn’t mentioned on the same line as the ERROR message.  I think you may see it if you see it if you don’t pipe the output into grep or maybe even if you use the grep –C context parameter.

Alternatively, you can at least find a list of tables that include the given column: I’ve put the full schema-spy documentation of BETYdb at https://www.betydb.org/db_d

[2015-07-01 15:25] dlebauer commented on #331
ie

[code]

[2015-07-01 15:26] robkooper commented on #331
this is the citations table most likely

The only way i have been able to do this is paste 1 line of sql after the other and fix any issues that come up. hence I said welcome to hell and expect an hour or two to spend there.

[2015-07-01 16:22] gsrohde commented on #331
@robkooper Do these problems mostly arise from data that is on private servers that isn't on ebi-forecast, or is it because the migration has to happen before synchronization?

[2015-07-01 16:24] robkooper commented on #331
mostly because it is on other servers (not private). Since we never ended up setting up the database on EBI to be synced you never saw any of these issues. Hopefully once we have all databases at the same level I can set up EBI to get the data from BU and BNL.

[2015-07-01 17:43] dlebauer opened #333 "Prior figures not being generated"
For example, on https://www.betydb.org/priors/284 I see:

![image](https://cloud.githubusercontent.com/assets/464871/8460965/a3c949e0-1fee-11e5-9039-dbe427ea0e8b.png)

Instead of, e.g.:

![image](https://cloud.githubusercontent.com/assets/464871/8460973/b6b7ba5a-1fee-11e5-874d-b7cd45a6847c.png)

[2015-07-01 17:59] dlebauer opened #334 "add migration to drop valid_ensemble_runtype constraitn"
This constraint should be removed:

[code]

To drop the table:

[code]

[2015-07-01 18:01] serbinsh commented on #334
Not working for me:

[code]
@dlebauer di you get it to work

[2015-07-01 18:02] serbinsh commented on #334
According to @dlebauer:

[code]

[2015-07-01 18:04] serbinsh commented on #334
Command worked OK for me.

[2015-07-02 19:31] serbinsh opened #335 "Clone PFT not working on web interface - BNL"
I am trying to clone this prior
http://modex.test.bnl.gov/bety/pfts/79/make_clone

I get:

[code]

Is this a problem with my DB?

@dlebauer

[2015-07-06 04:05] dlebauer commented on #335
I can't find the server. Does the error occur on the VM? Or at BU?

@robkooper do you recognize this issue?

On Thursday, July 2, 2015, Shawn P. Serbin <notifications@github.com> wrote:

[2015-07-06 18:45] robkooper commented on #335
I get the same errror on pecan.ncsa

This is the error in the log:
[code]

[2015-07-06 21:10] gsrohde commented on #335
@robkooper You can easily fix this by interchanging some lines in the PftsController#make_clone action:

Move the lines that copy the associations to be _after_ the `pft.save` line.

[2015-07-08 04:37] gsrohde commented on #333
@robkooper This seems to be a Ruby 2 bug (see https://bugs.ruby-lang.org/issues/8004).

Fix: In the PriorsController, replace

[code]

with

[code]

(I don't think you have to bother setting PATH back to what it was--not sure though.)

[2015-07-15 14:09] mdietze opened #336 "drop formats.dataformat"
This was replaced by formats_variables years ago and is no longer used. It also really clutters the web interface for formats.

[2015-07-15 14:12] mdietze opened #337 "drop inputs_variables"
This was replaced by formats_variables a good while back. Keeping this around is unnecessary and will lead to confusion in the inputs 'edit' webpage, as it will lead some users to fill in values that are not used

[2015-07-24 14:38] dlebauer commented on #331
@serbinsh can this be closed?

[2015-07-24 14:39] dlebauer opened #338 "When importing bety: ERROR: relation "sites" does not exist"
When importing BETYdb,

[from wiki](https://github.com/PecanProject/bety/wiki/Automated-Tests#creating-a-new-postgis-enabled-database-template)

[code]

I get the error:

[2015-07-24 14:43] dlebauer commented on #338
This is because the PostGIS extension is not enabled. Try:

[code]

[2015-07-24 14:43] #338 closed

[2015-07-24 22:33] dlebauer commented on #338
also note, to make new databases have the POSTGIS extension by default, you can simply run

[code]

[2015-07-25 02:20] robkooper commented on #338
Better to use the [load-bety.sh](https://github.com/PecanProject/pecan/blob/master/scripts/load.bety.sh) script. This will take care of creating the database, set the indices and allows you to merge databases from different locations.

[2015-07-25 02:34] dlebauer commented on #338
In this case I wanted to duplicate the ebi-forecast ebi_production database, including all of the restricted and unchecked data for analysis, but without any plans to add data or sync.

[2015-08-03 19:56] gsrohde opened #339 "Deletion of associated objects"
Right now, if you try to delete a Site on the Listing Sites page, you get an error message if the site is associated with any citation.  You have to first unlink it from any and all citations before you are allowed to delete it.

It seems to me that either:

1. You shouldn't see a delete button for any sites that are associated with a citation, or
2. Deleting such sites should be allowed and shoul

[2015-08-03 20:20] dlebauer commented on #339
I prefer

a citation,

as long as the error message indicates that this is the cause.

On Mon, Aug 3, 2015 at 2:56 PM, Scott Rohde <notifications@github.com>
wrote:

[2015-08-03 20:23] gsrohde commented on #339
You wouldn't see an error message because you can't attempt to delete a site if there is no delete button for doing so.

[2015-08-03 20:39] dlebauer commented on #339
sorry. I meant that the current behavior is sufficient and it works. Hiding
the delete button might make users think that the site can't be deleted.

It would be ideal to be able to delete the site and any referring tables
that only point to the site but not to any other sites or other tables. But
the current behavior is sufficient.

On Mon, Aug 3, 2015 at 3:23 PM, Scott Rohde <notifications@githu

[2015-08-07 21:20] dlebauer commented on #202
This seems to have worked!

[2015-08-07 21:20] #202 closed

[2015-08-07 22:49] dlebauer commented on #283
@gsrohde trying to upload this, I get the error "Your file contains 1 error.
You can not upload your data set until this is corrected." But that doesn't seem correct ...

[2015-08-07 23:00] dlebauer commented on #275
@gsrohde this dataset is ready to go.

[2015-08-08 00:10] dlebauer commented on #239
Cleaning up managements - went through and checked lots of units in g m-2 that should've been kg ha-1 https://gist.github.com/dlebauer/2fa2fa9bedf7fc3d5ae7

[2015-08-08 01:30] dlebauer opened #340 "orphaned treatments?"
This search shows that there treatment_ids 1-10 exist in management_treatments, but  2-10 do not have referents in traits or yields.

[code]

But if I try to identify treatment_ids that exist in  `managments_treatments` but not in other tables,

[code]

I tried disabling constraints but that did not help.

[code]

[2015-08-08 01:32] dlebauer commented on #239
@gsrohde did we clean up orphaned managements and treatments in #171? There appear to still be some, depending on how I write my queries (#340)

[2015-08-08 04:55] gsrohde commented on #340
I'm not sure exactly why the subselects aren't working the way one would expect (though I'm sure constraints have nothing to do with it).  For now, you can use a join instead, like this:

[code]

[2015-08-08 05:14] gsrohde commented on #340
It's probably a bit more intuitive to do things this way:

[code]

(The "AS" keyword here is optional--you can leave them out and get the same effect.  And in this case at least, you don't really need to alias the table names at all except to save some typing.)

[2015-08-08 05:29] gsrohde commented on #340
This is even simpler (and perhaps faster):

[code]

[2015-08-08 06:06] gsrohde commented on #340
Mystery Solved!

It appears that your original query didn't work because of SQL's perverse 3-valued logic.

[code]
_would_ have worked as expected if the `traits_and_yields_view_private` table didn't have any NULLs in the `treatment_id` column.  But it does, so the `WHERE` clause evaluates either to true (if the given `treatment_id` is found) or NULL (if it isn't).  If you think of NULL as standin

[2015-08-08 12:52] gsrohde commented on #340
Sorry--I got it backwards: `x IN list` is never false if `list` contains a NULL, so `x NOT IN list` is never _true_ if `list` contains a NULL.  This means the overall `SELECT` statement will return zero rows, as we have seen, since the `WHERE` clause never evaluates to true.

To summarize:
[code]

[2015-08-08 17:45] gsrohde commented on #283
The problem is that the column name for specifying the site should be "site" not "sitename".  Since the wizard doesn't recognize "sitename", it expects that you are going to specify one site interactively for the whole data set.  But there is no one site that is associated with all of the citations in the dataset, hence the error message "There are no sites common to all the citations in the file.

[2015-08-08 19:05] dlebauer commented on #283
Please do, thanks!

[2015-08-08 19:18] gsrohde commented on #275
I get a few errors on ebi-forecast.  I think you must have modified a species name on pecandev but not on the live site.  I assume the solution is to change "Populus tremuloides × tremuloides" to "p. tremuloides × p. tremuloides" so as to match the CSV file.  Do you want me to do this?  Did you have to change anything else?

[2015-08-08 20:10] gsrohde commented on #283
Actually, the Wildehausen site was misspelled--it should have been Wildeshausen.  (I changed the data sheet.)  There are two Wildeshausen sites, but only one had that in the sitename column (the other had a blank sitename), and it had more complete data, so I'm using it.

I've uploaded this data set, but I'm assuming we are going to copy data from the new rows to the old ones as we did for previou

[2015-08-08 20:24] dlebauer commented on #275
I changed it to "Populus tremuloides × tremuloides" in the csv file instead of changing the database again.

[2015-08-08 20:39] dlebauer commented on #283
From the old script, it looks like you only copied the following from the new rows:

* specie_id
* cultivar_id
* date
* mean
* user_id
* checked
* access_level

Do you know why we didn't updated any changes to citation_id, site_id, or treatment_id (or am I missing something)?

[2015-08-08 21:18] gsrohde commented on #283
I'm guessing that I first ran a script that checked what the differences between the old and the new rows were and found that none of the citations, sites, or treatments changed.  This was the first set we did like this, so we were still figuring out exactly how to go about it.

[2015-08-08 21:20] dlebauer commented on #283
Then we are about on the same page. If you can upload, please do.

[2015-08-08 21:23] gsrohde commented on #283
I _did_ upload.  I want to know what more I need to do with this set.

[2015-08-08 21:31] gsrohde commented on #275
OK, this is uploaded now.  Again, I need to know what more to do with this set.

Just so you don't get alarmed, I should mention I've been setting the date for these sets to 1000-01-01 since I've been assuming we will copy data from the new rows to the old rows but won't copy the date column values.

[2015-08-08 21:33] dlebauer commented on #283
At this point, I think the next step is to insert managements. I need to re-format the dataset from wide to long and then run [`script/insert_managements.rb](https://github.com/PecanProject/bety/blob/master/script/insert_managements.rb)

I'll work on that and let you know if I have any issues.

[2015-08-08 21:37] dlebauer commented on #283
Do you know if we have actually used this script yet? (e.g. with switchgrass #263 or miscanthus #254, I think not)

[2015-08-08 23:52] gsrohde commented on #283
Yeah, I don't think so.  The script was written in late June and the only managements with a creation date later than May are two from yesterday.

[2015-08-09 00:02] gsrohde commented on #285
It looks like these have been uploaded.

[2015-08-10 20:22] dlebauer opened #342 "using `insert_managements.rb`"
I am trying to use the insert_managements.rb script on the pecandev server

I created a clone of the ebi_production database. It has user bety and is called ebi_production_20150810, so you can open it usng

[code]

I also configured the `/usr/local/dl/config/database.yml` such that the development settings looks like this:

[code]

However, when I run

[code]

I get the error

Am I doing something

[2015-08-10 20:37] gsrohde commented on #342
I notice your config file has the database name as `ebi_production_20100810` whereas it should be `ebi_production_20150810`.  So it may be just a case of a misleading error message.  Try it again after fixing this and let me know if it works.

[2015-08-10 20:42] dlebauer commented on #342
I tried it again and get the same error message.

Is `--login=<user>` the username from the users table? Or is it the psql user?

[2015-08-10 20:44] gsrohde commented on #342
Yeah, something else is going on.  It is the user from the users table.  I'll take a look and try to figure it out.

[2015-08-10 21:21] gsrohde commented on #342
I think I've found the problem.

Line 285 read `@user_login = User.find_by_login(opts[:login])`  and it should read `@user_login = opts[:login]`.  I can't believe I didn't test the last version of this script.

I've made the change in the "dl" copy on pecandev.  Try testing it again.

[2015-08-10 21:26] dlebauer commented on #342
great. It seems to work now, thanks!

On Mon, Aug 10, 2015 at 4:21 PM, Scott Rohde <notifications@github.com>
wrote:

[2015-08-10 22:43] dlebauer commented on #342
note to self: this is how I run it for three sets of management types, hacking up some regex to convert output to .csv, read it into R, and then compare with database.

[code]

[2015-08-13 17:36] gsrohde commented on #283
OK, I've updated the old rows and deleted the new ones.

The scripts I used to do this, and a dump of the old rows before and after the updates is stored under my home directory on ebi-forecast at `BETYdb_database_maintenance/salix_bulk_upload/SQL-fixes`.

[2015-08-13 20:25] gsrohde commented on #275
I've updated the old rows and deleted the new ones.

The scripts I used to do this, and a dump of the old rows before and after the updates is stored on ebi-forecast at `/home/n-z/srohde/BETYdb_database_maintenance/poplar_bulk_upload/SQL-fixes`.

[2015-08-15 05:40] #342 closed

[2015-08-17 20:14] gsrohde opened #343 "https://ebi-forecast.igb.illinois.edu/pecan/dump/betydump.psql.gz is no longer available"
@robkooper, @dlebauer:  Bety's `update.psql.sh` script needs this file to work.  It would be a pain to require Bety developers to install Pecan just to get the sync script.

[2015-08-18 16:54] dlebauer commented on #343
To avoid having to install PEcAn, could we change BETY's `update.psql.sh` to (something like)

[code]

[2015-08-18 17:15] robkooper commented on #343
I would prefer that (btw `$*` is all command line args), this would help me to only have to maintain one script.

[2015-08-18 17:21] dlebauer commented on #343
@gsrohde if #344 seems a viable solution, please close this; merge that

[2015-08-28 18:57] #228 closed

[2015-08-28 22:26] dlebauer commented on #228
@Viskari do you by chance remember how this was resolved? Installing PostGIS has been a continual source of trouble, and I often find myself referring to old [issues](https://github.com/PecanProject/bety/issues?utf8=✓&q=is%3Aissue+postgis+) for solutions.

[2015-08-28 23:34] Viskari commented on #228
We essentially had to drop a lot of the flags from the configure command. We have the commands we used in notes, I'll try to post them on Monday.

[2015-09-08 17:31] gsrohde commented on #337
@mdietze @robkooper

This is scheduled for deletion (I am _right now_ working on deploying a migration that deletes it).  But is there any information contained in `inputs_variables` that needs to be preserved?  I don't think `formats_variables` currently mirrors any of the information that's in `inputs_variables`. (It would seem that if `inputs_variables` associates some variable with an input, t

[2015-09-08 17:35] mdietze commented on #337
I just made a copy of inputs_variables so feel free to delete

[2015-09-09 03:14] gsrohde commented on #343
@dlebauer @robkooper

load.bety.sh doesn't seem to handle the case where you start with an empty database.  I get
[code]

[2015-09-09 03:19] dlebauer commented on #343
Is this a duplicate of PecanProject/pecan#600?

[2015-09-09 03:21] dlebauer commented on #343
The solution there is

[code]

[2015-09-09 03:56] gsrohde commented on #343
Yes, this mostly worked (with ./scripts -> ./script).  I had to create a user via the web form that I could log in with and use psql to give that user admin permissions.  I'll read the help and see about writing a wrapper script for Bety developers tailored to the standard use case--refreshing their copy of the database by replacing it with an up-to-date one.

[2015-09-09 20:15] gsrohde opened #345 "RSpec test ./spec/features/management_integration_spec.rb:36 passes only intermittently."
If there is an underlying issue causing the test to sometimes fail, it should be addressed.  Otherwise, the test should be revised to make it more robust.

[2015-09-09 20:32] gsrohde commented on #337
Fixed in latest release.

[2015-09-09 20:32] #337 closed

[2015-09-09 20:35] gsrohde commented on #335
@serbinsh
This is fixed in the latest release.  If you continue to notice problems after upgrading, please re-open this issue and supply details.

[2015-09-09 20:35] #335 closed

[2015-09-09 20:39] #326 closed

[2015-09-09 20:40] gsrohde commented on #333
Fixed in latest release.

[2015-09-09 20:40] #333 closed

[2015-09-09 20:42] #321 closed

[2015-09-11 20:29] gsrohde opened #346 "Missing mimetypes for two formats."
Two rows in the formats table have NULL in the `mimetype_id` column:

[code]

In the second case, the problem arose because of the migration which eliminated the `formats.mime_type` column and replaced it with the `formats.mimetype_id` column.  The value of `mime_type` for that row was "application/x-rds", but this did not match any of the values found in the `mimetypes` table, so an appropriate v

[2015-09-11 20:30] gsrohde commented on #346
@robkooper , @mdietze

Please advise if/how you want this fixed or fix it yourself if you wish.

[2015-09-11 21:04] mdietze commented on #346
MsTMIP is netcdf

[2015-09-11 21:13] gsrohde commented on #235
In Release 4.2.

[2015-09-11 21:13] #235 closed

[2015-09-11 21:17] gsrohde commented on #236
Release 4.2.

[2015-09-11 21:17] #236 closed

[2015-09-11 21:40] gsrohde commented on #239
Current dateloc values (as of 2015-09-11):
[code]

[2015-09-11 22:02] gsrohde commented on #239
These are the values for `mgmttype` that exist in the database but aren't selectable in on the New/Editing Management pages:

[code]

The bulk of these have the value `planting`, which could perhaps be folded in to the value `planting (plants / m2)`.

[2015-09-14 14:50] gsrohde commented on #346
OK: `MsTMIP driver` now has mime type "application/x-netcdf" and I have inserted a new mime type "application/x-rds" and assigned it to the `Clark Model Demography Data` format.

[2015-09-14 14:50] #346 closed

[2015-09-15 19:49] gsrohde opened #347 "Date and Time columns need cleanup and clarification in traits and yields tables"
# The traits table

1. This has nine date/time-related columns, often containing conflicting information.  They are `date`, `time`, `date_year`, `date_month`, `date_day`, `time_hour`, and `time_minute` plus the two related columns `dateloc` and `timeloc`.
2. The Rails app no longer displays or edits either the `date` or `time` column values.  For many rows, only the `date` column and not the `date

[2015-09-16 02:34] robkooper commented on #347
Not sure why the traits and yields table have the date split in many sections. Discussion in the PEcAn meeting led us to the conclusion that the dates should be in UTC. This I think requires the following field to be set [config.time_zone](https://github.com/PecanProject/bety/blob/master/config/application.rb#L36) to UTC

[2015-09-16 02:43] robkooper commented on #343
if you want demo users you will need to add the -u flag, see `load.bety.sh -h`

[2015-09-16 15:04] gsrohde commented on #343
Yes, I now see that.  I've written a wrapper script tailored to BETYdb developers, so I'm now closing this.

[2015-09-16 15:04] #343 closed

[2015-09-16 15:32] gsrohde commented on #347
@robkooper The motivation for this apparently was to have a way of handling the case where the year is not known (or is immaterial) but there is information about the month and/or day.  My preference would have been to use a real SQL date type and use special values (e.g. 1000-09-16) perhaps in combination with a boolean flag field saying that the year is not significant to handle this use case.

[2015-09-16 22:04] gsrohde opened #348 "Eliminate or replace sites.local_time column"
This column is not often used (appx. 80/1000 rows use it, i.e., are non-null) and not especially useful.  It has type `integer` and presumably gives an offset from UTC.  But this offset is not constant throughout the year for most sites due to daylight savings time.

If we do need timezone information for sites, it would be far more useful to store a bona fide timezone value, such as "US/Central",

[2015-09-17 11:20] robkooper commented on #348
Lets just use UTC as are times and make this field a string so we can enter the offset. Best is not to use names but offsets, such as +06:00 or -01:45. See also https://github.com/PecanProject/pecan/issues/602 and https://github.com/PecanProject/pecan/issues/603

[2015-09-17 15:15] gsrohde opened #349 "Show page for runs is broken"

[2015-09-17 15:16] robkooper commented on #347
I'd rather set the year to 0 or 9999, with the millennia runs mike keeps talking about 9999 might be a better value (have to check to make sure postgresql allows that).

[2015-09-17 15:23] gsrohde commented on #349
This was broken by removal of start_date and end_date columns.

[2015-09-17 15:34] gsrohde commented on #347
It does.

[2015-09-18 20:45] gsrohde commented on #181
Constraint
[code]
has been added to db/migrate/PROPOSED_CONSTRAINTS.

[2015-09-24 15:00] dlebauer opened #350 "Export "unchecked" records via web interface and API"
Per user request:

1. do not filter by QA/QC status (if user sets "include_unchecked" to true)
   * [x] add "checked" field to _first column_ of exported (downloaded, queried via API) files, with "checked" and "unchecked" as values
  * [x] sort records so that 'unchecked' values appear at the end
2. [x] ~~Add note to header explaining these fields, with betydb@gmail.com email address~~
3.  [x] @ro

[2015-09-24 15:04] dlebauer commented on #325
only if they delete the trait or yield first

no

[2015-09-24 15:10] dlebauer commented on #300
fixed in web interface

[2015-09-24 15:10] #300 closed

[2015-09-24 15:11] #332 closed

[2015-09-24 19:30] gsrohde commented on #340
I'm not sure why you closed this.  This query shows 575 treatments are not referred to by any trait or yield:
[code]

If you don't care about this or if this issue is duplicated in some other issue, then I guess you can close it again.

[2015-09-24 19:56] gsrohde commented on #300
Updated row 1261, which had 0 for the longitude.

[2015-09-24 20:15] gsrohde commented on #350
Also:

1. Avoid showing rows with missing site data near the top of the search results.
2. Add a date column to the table.

[2015-09-24 20:17] dlebauer opened #352 "Header with links is not accessible on touch screen"
When I open betydb.org on a touch screen, these buttons in the header bar do not work:

![image](https://cloud.githubusercontent.com/assets/464871/10085501/1fbc64ce-62cf-11e5-9087-0b52c5e07c0f.png)

Tapping with my finger should have the same effect as clicking with a cursor: either opening the drop-down menu or re-directing to the target page.

[2015-10-01 17:19] serbinsh opened #355 "Error when adding a new user to BETYdb"
I keep having this issue when I add a user to BETY.  I enter in all of the info and hit the sign up button, which then results in an error message (see attached)

![screen shot 2015-10-01 at 1 17 00 pm](https://cloud.githubusercontent.com/assets/3067369/10228087/012978ec-683f-11e5-96b1-a5aefb6b1894.png)

But if I check the users afterword the user is in the system and can log in (see testuser belo

[2015-10-01 17:39] serbinsh commented on #355
@dlebauer Have you seen this before?  Is this an issue with our instance of BETY?

[2015-10-02 13:25] serbinsh commented on #355
@robkooper or @mdietze Have you had this issue before? I searched the issues but didn't see anything like this posted yet.

[2015-10-02 14:06] robkooper commented on #355
@serbinsh can you check in the log/production.log file?

[2015-10-02 16:56] gsrohde commented on #355
@serbinsh Was this on betydb.org or some other deployment?  If some other, what is the git version of the deployment?  I didn't see anything suspicious in the betydb.org log files.

[2015-10-06 21:41] gsrohde commented on #350
@dlebauer A few questions:

1. Is it okay to show rows with missing sitename on the first page if city, lat, and lon exist?  If so, changing the default sort column from "scientificname" to "sitename" will solve the problem we have.  (I've done this for now (see the pecandev site).  A more comprehensive solution would be to deal with the dangling site references in the traits and yields tables, wh

[2015-10-07 02:27] dlebauer commented on #350
lat, and lon exist? If so, changing the default sort column from
"scientificname" to "sitename" will solve the problem we have.

Yes, that is okay.

more restrictive access_level than that associated with their login, even
if it is data that they themselves inserted. Is that ok?

That is okay.

that the split-out columns (date_year, date_month, date_day) aren't in the
view so are not viewable. Rob

[2015-10-07 16:22] gsrohde commented on #350
@dlebauer OK, I've changed the date column to always display the date only in YYYY-MM-DD format.  I do this by converting the date-time to UTC and then truncating the string to show only the date portion.  (If we had more consistently used dateloc, I would have recommended displaying as much information as warranted by the dateloc value along with an indication of how precise the value is.) This i

[2015-10-07 17:49] dlebauer commented on #350
this is okay for now

The key is to provide information about the "Checked" field.

How hard would it be to query and write information (meta-data) contained in the comments of each field in the database? That would make it easier for me to update the meta-data that is returned.

UTC is fine. Whatever is easiest.

That is okay.

[2015-10-07 18:50] gsrohde commented on #350
You can do raw SQL queries from Rails, so we just have to write a query to get the column comment(s) we want and then output that information where it is wanted.  (The SQL query to retrieve the comment on `traits.n`, for example, is
[code]
)

We have been putting comments in the migrations, but this may be a bit unwieldy if you are wanting to update them frequently.  I think it might be OK to add,

[2015-10-07 19:00] gsrohde commented on #350
By the way, I _think_ (though I'm not 100% sure) that view columns can't have comments, though views themselves can.  So we might have to extract comments from the underlying traits and yields tables.

[2015-10-07 19:55] gsrohde commented on #350
Time-of-query display for CSV downloads is now UTC.

[2015-10-07 19:57] gsrohde commented on #350
@dlebauer Assigning to you for now.  I've done all I can with current information except for merging changes into master and deploying.

[2015-10-07 19:59] gsrohde commented on #352
Assigning to you for now: I need a platform I can test on (since I can't reproduce this problem on my phone or my Android tablet).

[2015-10-07 20:05] gsrohde commented on #349
Fixed but not deployed.

[2015-10-07 20:45] dlebauer commented on #350
Lets try to keep this simple. Perhaps we can provide a link to "metadata" with xml and html (in browser) options:

https://gist.github.com/dlebauer/1eb237bbf3abcd2265d6

Or its HTML variant https://uofi.box.com/eml-example

[2015-10-09 16:26] gsrohde commented on #350
I think EML is a good idea, though it has a bit of a learning curve to use it right, especially if you want anything close to a comprehensive description.  (But maybe using it at even the most basic level is better than not using it at all.)

And I am not sure I quite understand how you envision using it in this context--would you use a single metadata description for all potential download sets?

[2015-10-09 17:12] gsrohde commented on #350
Also, I was wondering how you created the EML file.  Did you use Morpho?

[2015-10-09 17:43] dlebauer commented on #350
yes, I used Morpho. The morpho files are here: https://uofi.box.com/eml

On Fri, Oct 9, 2015 at 12:12 PM, Scott Rohde <notifications@github.com>
wrote:

[2015-10-09 19:26] gsrohde opened #356 "Add a mandatory time-offset field to the forms on the New and Edit Traits pages."
The user will be required to choose a time-zone offset when entering a trait that includes date and/or time information.  The time will be stored as UTC time--the date and time stored will be calculated from the date and time entered in the form and the offset entered.

Requiring the user to explicitly choose a time-zone offset will help prevent the user from blithely assuming the time entered wil

[2015-10-09 20:40] gsrohde commented on #348
My recommendation: Get rid of the `sites.local_time` column, which is poorly named and not very useful since any given site won't have a constant offset anyway.  Replace it with `sites.timezone_name` which would contain daylight-savings-time-agnostic timezone names like those in the `name` column of `pg_timezone_names`.  This could be automatically populated for sites having lat/lon information by

[2015-10-09 21:43] gsrohde opened #357 "Consolidate date and time fields in the traits table."
[@robkooper Please comment.]

I recommend using the existing `date` column for all date/time information.

While in theory we could assign an arbitrary year when the year is unknown and simply rely on the `dateloc` value together with some front-end programming to ensure the information displayed is not misleading, it would be better to use redundant a storage schema whereby the year is given a cl

[2015-10-09 22:04] gsrohde commented on #356
@dlebauer I forgot that we haven't agreed on which date and time fields to use.  This complicates this issue.  Right now the Web app (excepting the bulk upload wizard) only touches and displays the five split-out columns (`date_year`, `date_month`, `date_day`, `time_hour`, and `time_minute`) and leaves the `date` and `time` columns alone (new rows set these two columns to null).  See issue #357.

[2015-10-13 18:43] mdietze commented on #184
The issue to drop formats.dataformat is #336.

[2015-10-13 18:43] #184 closed

[2015-10-13 22:16] dlebauer opened #360 "Clean up search interface"
Currently, the "Advanced Search" interface has options and information scattered across the page. This feature would put information and options in one location

* move record count and pagination to top of table
* put "Show Map" under "Download Results"
* remove "Clear Search" (this is redundant with deleting text in search bar, not really useful in practice)
* make the search window prominent (i

[2015-10-14 16:52] gsrohde commented on #336
@robkooper This shouldn't be too difficult.  If you want me to take it over, I will.  I'm planning a deployment later today, so let me know soon if you want me to try to include fixes for this.

[2015-10-14 18:13] robkooper commented on #336
If you don't mind that would rock.

[2015-10-14 22:20] gsrohde commented on #350
This is done (and released) except for any enhancements/changes we may wish to make to the metadata and/or format of download files and except for the task pertaining to @ropensci/traits package functions.

[2015-10-14 22:20] gsrohde commented on #349
Deployed in latest release.

[2015-10-14 22:20] #349 closed

[2015-10-14 22:21] gsrohde commented on #336
Fixed in latest release.

[2015-10-14 22:21] #336 closed

[2015-10-15 23:05] dlebauer commented on #350
@gsrohde could you please update the API documentation (https://www.authorea.com/users/5574/articles/7062/_show_article) with instructions on how to access the unchecked data?

[2015-10-20 22:41] gsrohde commented on #350
@dlebauer I've added a section (4.3.1) to the API documentation that tells how to include unchecked data.  Possibly some earlier sections in this document still have to be revised to be consistent with this.  While I was at it, I revised much of this document to clarify how API searches work, particularly the section on cross-table searches and the (new) section devoted specifically to searches of

[2015-10-21 14:29] dlebauer commented on #350
note that Authorea can be edited on your desktop. That said, I've been
considering moving all of the documentation to a gitbook format, which is a
very simple structure that I am using e.g. for
github.com/terraref/documentation and has a nice interface at gitbook.com.
It supports mathjax, which was the original motivation for leaving the
github wiki. We could combine all of the documentation bits

[2015-10-21 21:36] gsrohde commented on #356
@dlebauer , @robkooper

I've put a draft "proof-of-concept" implementation of a new trait-editing interface on pecandev.  In addition to adding a timezone offset field to the New and Edit forms, I've revised the way dateloc and timeloc values are handled and how dates and times are edited and displayed.  The guiding principle was that the user should see and edit what the data represents rather th

[2015-10-21 21:55] gsrohde opened #361 "Store bulk upload files on the server and add entries for them to the dbfiles table."
[This is a draft description, to be edited further.]

1. Files should be stored somewhere other than RAILS_ROOT/public/uploads.
2. The MD5 hash of the file should be incorporated into the file name.  This will prevent overwriting existing files.
3. An dbfiles entry should only be stored for successful uploads.
4. The `container_type` attribute value for upload files will be something like "DateUpl

[2015-10-21 22:08] dlebauer commented on #356
* One reason we didn't use 'precision' is that 'precision' has a precise definition in statistics (precision = 1 / variance) that is given in our meta-analysis and publications.
* You are correct that 'season' is loosely 'give or take a month or two', but very often, we may know the season - e.g. spring planting, fall harvest.

[2015-10-21 22:10] gsrohde commented on #361
@robkooper, @dlebauer: I had hoped to get to this earlier and am afraid I may have forgotten some things from our discussion last Thursday.  Please read over what I have and comment on  or revise what I have written.

[2015-10-21 22:21] dlebauer commented on #356
* Time zone should be set at the site. For large regions (e.g. bigger than a state or time zone) use UTC
* I don't know of a case where timezone would be different than the site time zone for a trait record entered in the interface (and if it is, the user could convert).
* fields should be labeled, currently I don't see one for the month/season selector, so it should be

[code]

* Remove date loc

[2015-10-22 01:06] robkooper commented on #361
Set the container to traits or yields, depending on which table the data goes to. If possible add to the notes of the trait/yield which dbfiles.id it belongs to.

[2015-10-22 13:44] robkooper commented on #356
@PecanProject/pecan-developers how does this fit with the discussions we had about time in PEcAN?

[2015-10-22 15:32] gsrohde commented on #361
@robkooper @dlebauer Did we nix the idea of using a join table to record this?  Programmatically, this would likely be the most useful option.

[2015-10-22 15:54] robkooper commented on #361
No I think a join table would be good. Question is whether or not the current plymorphism used in dbfiles allows for this, and/or this is the right way to use it. It might be better to think it over a bit, hence we can start with the storing it in the notes, and fix it later. Right now I really would love to have the file recorded in the database.

[2015-10-28 18:12] gsrohde commented on #356
@dlebauer @robkooper I've put a slightly revised draft version of the traits pages on Pecandev.

This version no longer has a time-offset selector; instead, it always displays and edits using site time, or, if the site time zone is unknown, then it uses UTC.  (Presence of a site is now validated, so for newly-entered traits this case only arises when `site.time_zone` for the trait site is NULL.)

[2015-10-29 17:51] dlebauer commented on #356
@gsrohde Lets wait for @robkooper and @mdietze to give feedback on the demo at pecandev.igb.illinois.edu/bety

Can we
* only export the date at the level of precision indicated by the dateloc field? for example, only export YYYY-MM when dateloc is season or month, YYYY-MM-DD for dateloc = day, etc.
* and also export dateloc with the human-readable interpretations in a field called 'date precision'

[2015-10-29 18:29] serbinsh opened #362 "Link to CF guidelines in BETYdb resolves to local link - but should resolve to a full address"
Or, we should provide the web page in the BETYdb distribution.  For example, on our server it resolves to:https://modex.bnl.gov/guidelines.html but we don't have the html file.  Can we change this to resolve to https://www.betydb.org/guidelines.html? @dlebauer

[2015-10-29 19:25] gsrohde commented on #362
It's in the Github repository (https://github.com/PecanProject/bety/blob/master/public/guidelines.html) so you should have it.  It should be in the /public directory under the Rails root folder.

[2015-10-29 19:42] dlebauer commented on #362
@gsrohde and @robkooper this seems to be part of a bigger problem resolving
relative links in the ebi-forecast instance compared to other instances.
Another example is the /schemas page, which gives 404, e.g. here:
http://pecandev.igb.illinois.edu/bety/schemas

What is the easiest solution?

On Thu, Oct 29, 2015 at 2:25 PM, Scott Rohde <notifications@github.com>
wrote:

[2015-10-29 20:35] gsrohde commented on #362
@dlebauer The problem with the schemas page has nothing to do with relative links ... the 404 just means I never bothered generated the schema documentation on Pecandev.  (I didn't think it necessary, but can do so if it would be useful.)

Most of the resolving-relative-links problems we have had in the past arose because links were hard-coded and didn't use the Rails-aware `link_to` function for

[2015-10-29 20:48] gsrohde commented on #362
Update: This was fixed on the "Editing Variable" pages but not on the "New Variable" pages.

(@serbinsh Let me know if you find otherwise, that is, if the "CF Guidelines" on the "Editing Variable" page doesn't work in your copy of BETYdb.)

[2015-10-29 21:06] gsrohde commented on #356
@dlebauer When you say "let's wait", do you mean don't do any more work on this issue, e.g., wait to do the time-of-day implementation?

Regarding the API, you should be able to return any view of the data you want (and I'm using "view" here in a general sense—I don't mean SQL view).

[2015-10-29 21:07] dlebauer commented on #356
I mean wait for feedback from others before deploying this.

On Thu, Oct 29, 2015 at 4:06 PM, Scott Rohde <notifications@github.com>
wrote: