[2015-10-30 21:02] #315 closed

[2015-10-30 21:31] mdietze commented on #356
I agree that the proposed plan seems considerably better than the current default. None of the cases of concern look like things that will be particularly common or problematic.

One point of clarification, however, is how do you handle non-point sites that span multiple time zones? I'm assuming/hoping these default to UTC?

[2015-10-30 21:38] gsrohde commented on #356
Re non-point sites—yes, that’s the plan.

From: Michael Dietze <notifications@github.com<mailto:notifications@github.com>>
Reply-To: PecanProject/bety <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Friday, October 30, 2015 at 4:31 PM
To: PecanProject/bety <bety@noreply.github.com<mailto:bety@noreply.github.com>>
Cc: Scott Rohde <srohde@illinois.edu<mailto:srohde@illinois.edu>>
Subje

[2015-11-02 17:15] dlebauer opened #363 "Upload Sugarcane Validation Data"
Replaces [redmine issue 1940](https://ebi-forecast.igb.illinois.edu/redmine/issues/1940)

Upload data used to calibrate / validate Jaiswal et al in prep

[2015-11-02 19:11] dlebauer commented on #363
@djaiswal to upload these data I'll need to enter the dates of harvest as managements for the different ratoons. can you identify these? I've updated the dataset to be consistent with the database here: https://docs.google.com/spreadsheets/d/1dLCR3gh0F4lP9ph_JFQoLgLEC1i4NSbiq9z42eztnzs/edit?usp=sharing

Also note that I've converted all units except yield to g/m2

[2015-11-03 16:48] #214 closed

[2015-11-03 16:56] gsrohde opened #364 "New Likelihoods page is very slow in loading"

[2015-11-03 17:00] gsrohde opened #365 "New and Edit Likelihoods need to be restyled"

[2015-11-03 17:02] #322 closed

[2015-11-03 17:07] #241 closed

[2015-11-03 17:31] #317 closed

[2015-11-03 17:32] #304 closed

[2015-11-03 17:46] gsrohde commented on #288
Pretty sure there's nothing more to do on this so closing.

[2015-11-03 18:03] gsrohde commented on #177
Removed in release 4.3

[2015-11-03 18:03] #177 closed

[2015-11-03 18:05] gsrohde commented on #197
Still need to deal with duplicate constraint mentioned in previous comment.

[2015-11-03 18:12] dlebauer commented on #288
@gsrohde can you please provide a minimal documentation (copy-paste help info from the script, link to script and this issue) in the documentation? I've sent an invitation to gitbook where we can migrate all of the documentation. I imagine that there can be a separate chapter for each existing document and there may be a lot of copy paste and migration if that looks easier (it is just plain markdo

[2015-11-03 18:18] gsrohde commented on #299
Fixed in release 4.2.1

[2015-11-03 18:18] #299 closed

[2015-11-03 19:55] gsrohde commented on #288
@dlebauer See https://dlebauer.gitbooks.io/betydb-documentation/content/data_entry/management_insertion_script.html.  Is this what you had in mind?

[2015-11-03 23:59] dlebauer commented on #288
Yes, thank you

[2015-11-03 23:59] #288 closed

[2015-11-05 23:15] gsrohde commented on #356
@dlebauer @robkooper @mdietze

I've updated the draft version of the Traits pages on Pecandev.  This version has a time-of-day selection option (morning, mid-day, afternoon, night).  Please take a look and take if for a test run if you get the chance.

A few notes:

1. I realized there is a problem with using named seasons: There may be some ambiguity if the site is in an equatorial region or in t

[2015-11-05 23:50] ankurdesai commented on #356
The standard for seasons in the climate community is based on months:

DJF
MAM
JJA
SON

These are recognized acronyms for doing seasonal analysis.

-------------------------------------------------
Ankur R Desai, Associate Professor
  University of Wisconsin - Madison, Atmospheric and Oceanic Sciences
  http://flux.aos.wisc.edu <http://flux.aos.wisc.edu/>  desai@aos.wisc.edu <mailto:desai@aos.wisc

[2015-11-06 16:09] gsrohde commented on #356
@dlebauer @robbenyang @mdietze

If no one objects, I'll change displays "Spring", "Summer", "Autumn", and "Winter" to "Season: MAM", "Season: JJA", "Season: SON", and "Season: DJF", respectively.

[2015-11-06 16:11] mdietze commented on #356
Sounds good

[2015-11-06 16:35] dlebauer commented on #356
+1

[2015-11-06 23:25] gsrohde commented on #356
OK, I've changed the season display on Pecandev.

Also, I updated the Advanced Search page to display LOC-aware dates.  Note that I'm now converting dates to the site timezone (instead of to UTC) and including display of the time zone; even though times aren't displayed in this table, there may be cases where the timezone used for display (UTC, server timezone, or site timezone) may affect what da

[2015-11-11 22:21] gsrohde commented on #356
@dlebauer @robkooper @mdietze

Yields pages (and supporting code) are updated on Pecandev.

Also, I've changed the CSV output for traits, yields, and advanced-search results:

* traits.csv now has columns "pretty_date" and "pretty_time" that display exactly what the "Show" page displays for date and time.  I also added "raw date" which shows what is stored in the database.  And I've kept the split

[2015-11-12 03:02] dlebauer commented on #356
If pretty_date and pretty_time show the level of precision indicated by
LOC, is there any need to keep the raw_date or even the LOC-aware
year,month,day,hour,minute fields?

[2015-11-12 16:22] gsrohde commented on #356
Not that I know of.  I'm happy to get rid of any redundant information we can.

Possibly it might be easier to do some programmatic computations on raw_date than it would be on pretty_date.  I don't think I'm in a position to evaluate the merits of this since I know little about how downloaded data will be used.

Note, however, that when we defined the SQL view `traits_and_yields_view`, we include

[2015-11-12 16:25] gsrohde commented on #356
@ankurdesai Is it common to say something like "DJF 2011"?  And if so, would this refer to the season December 2011–February 2012 or the season December 2010–February 2011?

[2015-11-12 16:28] ankurdesai commented on #356
@gsrohde Yes and it would mean Dec 2010-Feb 2011.

[2015-11-17 22:04] dlebauer opened #367 "Simple methods for uploading a non-point geometry"
It would be useful to have

1. A way to upload a csv with columns `[lat,lon]` or `[lat,lon,elevation]`
2. A GUI interface that allows users to draw polygons when defining a site. For example, betydb.org/sites/new allows a user to drop a pin to define the lat and lon.

This is the current interface:

![image](https://cloud.githubusercontent.com/assets/464871/11226277/8a89c5cc-8d44-11e5-9ee8-786403f

[2015-11-17 22:08] dlebauer commented on #355
@serbinsh does this still occur?

[2015-11-17 22:10] dlebauer commented on #350
Adding ability to query 'unchecked' data from the rOpenSci traits package has been moved to ropensci/traits#52

[2015-11-17 22:10] #350 closed

[2015-11-17 22:39] dlebauer opened #368 "Allow separate instances to customize UI elements"
It would be great if users could have a simple text file that can be edited for customizing some elements of the user interface.

Ideally, we could a) use some conventions and b) coordinate this with customization of Clowder and interfaces (@robkooper?) and other tools within NDS (?)

Key customizations are necessary; 'nice to have' customizations would be nice, if it is easy to do. From what I've

[2015-11-17 22:54] gsrohde commented on #297
@dlebauer

`masl` is no longer a column in the database; like `lat` and `lon`, it has been supplanted by `geometry`.  All three of these are still virtual attributes of the `Site` object in Rails, which, when you ask for the `masl`, `lat`, or `lon` attribute, programmatically extracts the value from the `geometry` column.

I think that only points can have altitude information in PostGIS.  (I'm no

[2015-11-17 23:25] #297 closed

[2015-11-18 02:19] dlebauer commented on #367
The script Scott wrote for inserting managements could be a good place to start (though the insert is less complex).

https://github.com/PecanProject/bety/blob/master/script/insert_managements.rb

[2015-11-18 03:35] dlebauer commented on #367
Awaiting feedback from @robkooper and @yanliu-chn on proposed or alternative implementation

[2015-11-19 18:14] max-zilla commented on #368
Is there any concern about others branding this to the point it's unrecognizable? I assume there are some elements that must be present, e.g. BETYdb identification and such. We may want some required info that can't be removed or hidden.

[2015-11-19 20:04] dlebauer commented on #368
Do you think that a 'powered by BETYdb' along with links to the software
license and the github repository would suffice?

The aims are to facilitate scientific discovery and attribution.

On Thu, Nov 19, 2015 at 12:14 PM, Max Burnette <notifications@github.com>
wrote:

[2015-11-19 20:05] max-zilla commented on #367
First draft of a *command-line* python script to assist in uploading of geometry is committed in my own fork here:
https://github.com/max-zilla/bety/blob/edc50ed8ec8ae03126b510935849ed376d0d8383/script/buildSQLGeom.py

[2015-11-19 20:08] max-zilla commented on #368
That would address my primary concern - making sure there's a path back to the project github at the very least. Even a clickable grayscale BETYdb logo being included where Illinois and Berkely are in the image above would be enough, I think.

[2015-11-19 20:20] dlebauer commented on #368
yes. we may also wish to cite funding agencies and participating
institutions, but we can move this to a separate (static) about page.

On Thu, Nov 19, 2015 at 2:08 PM, Max Burnette <notifications@github.com>
wrote:

[2015-11-30 02:45] bcow opened #370 "Error message is returned when deleting a new added input"
Usual error:
"We're sorry, but something went wrong.
We've been notified about this issue and we'll take a look at it shortly."

[2015-11-30 03:13] dlebauer commented on #370
@gsrohde would it be difficult to have administrative users notified of errors when the error indicates that this is the case? Or else change the message to lower expectations?

[2015-11-30 16:24] gsrohde commented on #370
Changing the message would be easy.  It could refer to the Feedback tab, which has a button for reporting a problem.  In the long term, a log-monitoring system might make sense.

[2015-11-30 16:35] gsrohde commented on #370
I couldn't replicate this problem on a test machine.

@bcow Could you go in and edit the input you were trying to delete and add "--Please Delete" to the input name?  That way I can see the exact instance of the problem without worrying about deleting the wrong input.

If for some reason you aren't able to edit it, then could you provide an exact description of the input you want deleted that uniq

[2015-11-30 17:51] bcow commented on #370
Ok this is an example of an entry I'd like to delete:
https://psql-pecan.bu.edu/bety/inputs/1000000546
I was able to edit it, but still can't delete.
@mdietze also couldn't delete it.

[2015-11-30 18:00] dlebauer commented on #370
... seems the default guestuser on that machine doesn't work. @bcow could you provide a screenshot or a login? @gsrohde would the output in production log help?

[2015-11-30 18:05] gsrohde commented on #370
Yes, the production log would help.  So would a login.  A screenshot of the "We're sorry" page wouldn't be all that useful.

[2015-11-30 18:19] bcow commented on #370
What do you need a screenshot of?

[2015-11-30 18:34] gsrohde commented on #370
A screenshot of the Show and Edit pages (with the "Show related ..." sections expanded) for the record you are trying to delete might be somewhat useful.

[2015-11-30 19:15] dlebauer commented on #355
@gsrohde this just occurred when I signed up for ebi-forecast.igb.illinois.edu/bety-mepp

[2015-11-30 19:16] bcow commented on #370
<img width="521" alt="screen shot 2015-11-30 at 2 15 29 pm" src="https://cloud.githubusercontent.com/assets/5503595/11481690/ebb3e882-976c-11e5-9456-a9ec7f614bf7.png">

<img width="827" alt="screen shot 2015-11-30 at 2 15 56 pm" src="https://cloud.githubusercontent.com/assets/5503595/11481687/e670f46e-976c-11e5-97c1-6f2797e5c502.png">

[2015-11-30 19:19] gsrohde commented on #355
Funny, I had no trouble.

[2015-11-30 19:31] dlebauer commented on #355
Perhaps try signing up with a request for elevated permissions

On Mon, Nov 30, 2015 at 1:19 PM, Scott Rohde <notifications@github.com>
wrote:

[2015-11-30 19:32] gsrohde commented on #355
@dlebauer It looks like a new user was made in spite of the error message.  And you must have gone in via psql and changed the access levels.  Yes?

I did try with elevated permissions too and still had no problem.

[2015-11-30 19:32] gsrohde commented on #355
I'll see if I can tell anything from the logs.

[2015-11-30 19:35] dlebauer commented on #355
Yes, the user was successfully created

I did manually change access_leve

Here is the log:

[code]

[2015-11-30 19:36] dlebauer commented on #355
I think the issue may be that it tries to send a request for elevated
permissions to the user with administrator privileges and there is no admin
on a fresh install ...

On Mon, Nov 30, 2015 at 1:32 PM, Scott Rohde <notifications@github.com>
wrote:

[2015-11-30 19:37] gsrohde commented on #355
Yes, that sound plausible, since I didn't have a problem after you had mad an admin user.

[2015-11-30 23:07] gsrohde commented on #370
@bcow I think this problem has to do with the removal of the inputs_variables table.  I had to make some changes to the Rails code to accommodate this but missed a few things.  I think the latest commit fixes this.  So you can probably do a "git pull" and then restart the Rails server and all will be well.

If you want to be more cautious, go into the command line interface, cd to the the director

[2015-12-01 14:17] mdietze commented on #370
Just did the pull and was able to do a delete without error. @bcow can you verify that it works for you as well and if so close the issue? Thanks @gsrohde for the quick turn around.

[2015-12-01 14:51] serbinsh commented on #355
@dlebauer @robkooper @gsrohde I apologize I missed the earlier questions.  How do we resolve this?

[2015-12-01 19:49] bcow commented on #370
Works perfectly - thanks!

[2015-12-01 20:40] #370 closed

[2015-12-01 22:43] dlebauer commented on #355
This only occurs when there is no admin user. Could have a default admin
user when installing a new instance, otherwise it is necessary to use psql
to change user access.
On Tue, Dec 1, 2015 at 8:51 AM Shawn P. Serbin <notifications@github.com>
wrote:

[2015-12-01 22:57] serbinsh commented on #355
Hmm...OK.  But I am an admin and I still get the error every time I add a new user?  Maybe I am misunderstanding?

[2015-12-01 22:59] dlebauer commented on #355
Could you post the output from your production.log file? I was basing my
suspicions on my error that failed to send an email with an empty to field
On Tue, Dec 1, 2015 at 4:57 PM Shawn P. Serbin <notifications@github.com>
wrote:

[2015-12-01 23:00] dlebauer commented on #355
P.s. Compare to error log post above

[2015-12-02 15:49] serbinsh commented on #355
@dlebauer

Here is my error:

[code]

Does anyone know how BETYdb tries to send email?  Does it use a default email app on the server?

[2015-12-02 15:50] serbinsh commented on #355
Also, how do I get rid of attempting to email devnull@ncsa.illinois.edu? @robkooper @dlebauer

[2015-12-02 17:04] gsrohde commented on #355
@serbinsh Do the query
[code]
on your BETY database.  The mail should get sent to these address plus the address of the person signing up.

BETYdb uses a Ruby library called ActionMailer.  I haven't worked with it a lot myself, but there is documentation here: http://guides.rubyonrails.org/v3.2/action_mailer_basics.html  Section 5 deals with configuration settings.  There are two files in BETYdb (

[2015-12-03 21:26] dlebauer commented on #362
@serbinsh does this work now?

[2015-12-06 22:23] gsrohde commented on #135
Released in version 4.2.

[2015-12-06 22:23] #135 closed

[2015-12-06 23:13] gsrohde commented on #232
The migration `value_constraints_batch_1` was included in release 4.2.  The ensures `cultivars.ecotype` is non-null and has a default value of `''`.

[2015-12-06 23:13] #232 closed

[2015-12-06 23:28] gsrohde commented on #233
The migration `value_constraints_batch_1` was included in release 4.2. This ensures `dbfiles.md` is either NULL, the empty string, or is a 32-character string of digits and/or lower-case latin letters.  It ensures `dbfiles.container_type` is either NULL or one of 'Model', 'Posterior', or 'Input'.  NULL is the default value for both columns.

[2015-12-06 23:28] #233 closed

[2015-12-06 23:32] gsrohde commented on #234
The migration `value_constraints_batch_1` was included in release 4.2. This ensures `ensembles.notes` is not null and has a default value of `''`.  It ensures `ensembles.runtype` is one of 'ensemble', 'sensitivity analysis', 'MCMC', or 'pda.emulator' and is not null.

[2015-12-06 23:32] #234 closed

[2015-12-06 23:55] gsrohde commented on #242
The migration `value_constraints_batch_1` was included in release 4.2. This ensures `pfts.definition` is non-null, it ensures `pfts.name` is white-space normalized (i.e., no leading or trailing spaces or extraneous internal spaces—an earlier migration ensures it's not null and is unique for a given model type), and it ensures `pfts.pft_type` is not null and is either 'plant', 'cultivar', or the em

[2015-12-06 23:55] #242 closed

[2015-12-07 00:04] gsrohde commented on #243
The migration `value_constraints_batch_1` was included in release 4.2. This ensures:
* `priors.variable_id` is not null
* `priors.phylogeny` is not null and is whitespace-normalized
* `priors.distn` is not null and is one of 'beta', 'binom', 'cauchy', 'chisq', 'exp', 'f', 'gamma', 'geom', 'hyper', 'lnorm', 'logis', 'nbinom', 'norm', 'pois', 't', 'unif', 'weibull', or 'wilcox'
* `priors.parama` is

[2015-12-07 00:04] #243 closed

[2015-12-07 19:10] gsrohde commented on #245
The migration `value_constraints_batch_1` was included in release 4.2. This ensures that `runs.outdir`, `runs.outprefix`, and `runs.setting` are all non-null and have a default value of `''`.

[2015-12-07 19:11] gsrohde commented on #245
@dlebauer See pending (unchecked) item above and decide whether to ignore, table (put in backlog), or fix now.

[2015-12-07 19:29] gsrohde commented on #296
Fixes were deployed in release 4.2.

[2015-12-07 19:29] #296 closed

[2015-12-07 19:33] gsrohde commented on #255
Fixed by release 4.2.

[2015-12-07 19:33] #255 closed

[2015-12-07 19:38] gsrohde commented on #261
Fixed in release 4.2.

[2015-12-07 19:39] gsrohde commented on #261
@dlebauer Not closing; there may be unresolved discussion issues (see comments from May 28).

[2015-12-07 19:42] gsrohde commented on #278
Fixed in Release 4.2.

[2015-12-07 19:42] #278 closed

[2015-12-07 19:56] gsrohde commented on #279
Fixed in Release 4.3.

[2015-12-07 19:56] #279 closed

[2015-12-07 20:16] gsrohde commented on #280
Fixed in release 4.2.

[2015-12-07 20:19] gsrohde commented on #282
Fixed in release 4.2.

[2015-12-07 20:19] #282 closed

[2015-12-07 20:20] gsrohde commented on #287
Fixed in release 4.2.

[2015-12-07 20:20] #287 closed

[2015-12-07 20:24] gsrohde commented on #289
Fixed by release 4.2. (Duplicate of #255).

[2015-12-07 20:24] #289 closed

[2015-12-07 20:25] gsrohde commented on #306
Fixed in release 4.2.

[2015-12-07 20:25] #306 closed

[2015-12-07 20:26] gsrohde commented on #309
Fixed in release 4.2.

[2015-12-07 20:26] #309 closed

[2015-12-07 20:27] gsrohde commented on #313
Fixed in Release 4.2.

[2015-12-07 20:27] #313 closed

[2015-12-08 21:15] dlebauer opened #372 "one bug, one tweak to script for adding polygons to sites creates broken insert statement"
Using the script from #369 on the `bety-mepp` database on ebi-forecast to specify the polygons around two sites at the energy farm.

The fields are defined by
[energyfarm_siteB7.txt](https://github.com/PecanProject/bety/files/56051/energyfarm_siteB7.txt) and
[energyfarm_siteI5.txt](https://github.com/PecanProject/bety/files/56052/energyfarm_siteI5.txt).

If I run

[code]

I get an error regarding

[2015-12-08 21:19] dlebauer commented on #372
OK. There are two bugs

1.  the vector has to start and end with the same point. But after fixing this I get an error about the espg
2. the espg needs to be 4326 (currently it was set to 3857 by default)

[2015-12-08 21:27] dlebauer commented on #372
Additional errors:

1. If there is no elevation, then it looks for the google elevation API key in a hard-coded file path
2. Even if I use the -z flag to specify the elevation, I get the same error
3. If we are in the US, it should be using the NED instead of Google, since NED is more accurate (per #369)

[2015-12-08 21:35] dlebauer opened #373 ""Elevation" in sites show page should not be NaN"
I added a polygon to the sites in ebi-forecast.igb.illinois.edu/bety-mepp using

[code]

However, when I look at the show page for this record, the 'elevation' field is given as `NaN`. This is confusing since I specified the elevation.

[2015-12-09 18:22] gsrohde commented on #373
@dlebauer The problem is that when dealing with non-Point geometries, the Rails sites pages (as we currently have them set up) first take the centroid of the geometry before extracting coordinates.  And ST_Centroid returns a two-dimensional point.

And this behavior probably makes sense: Consider the case where the geometry describes the perimeter of a hill.  If you based the displayed altitude on

[2015-12-09 18:30] gsrohde opened #374 "Editing a Site with a non-Point geometry will result in data-loss"
The geometry will silently be converted from a region to a point, even if you don't actually change anything before hitting "Update."

Need advice on what the behavior _should_ be.  Possibly: Don't allow updating non-Point geometries via the Rails app, and leave them alone when editing other attributes of a Site.

[2015-12-09 19:28] dlebauer commented on #374
For now, it will be prudent to disable the interface so that this bug does not occur, i.e.

But a better solution would be to allow a user to copy/paste or upload either the two or three column dataset (lat, lon, elevation) that can be read by the script that @max-zilla wrote (#369, #373). (would this be an appropriate use of a clowder extractor?).

[2015-12-09 19:32] dlebauer commented on #373
1. We need to disable the interface from deleting data
2. For now, hide elevation if it is non-point. But note that it is not nearly as important what the page shows as what people can query from the database (e.g. the lat, lon, elevation vector).

[2015-12-09 20:40] gsrohde commented on #373
@dlebauer
* Re 1: I'll work on this (issue #374)
* Re 2: If you runs this
[code]
you get this:
[code]
which is presumably what you put in, so there is no information loss until you apply the `ST_centroid` function.  If you want to abstract something from this in the form of a single 3-D Point, then you have to decide exactly how you want to do this and write (or find) the function that does what y

[2015-12-09 21:21] max-zilla commented on #372
https://github.com/PecanProject/bety/pull/371
I just updated this pull request with several changes:
* checks whether end point and start point are identical in source data; if not, append start point to the end of the query
* EPSG default set back to 4326
* default path for Google API key is now GOOGLE_ELEVATION_API_KEY.txt in *same directory* as the script. we can discuss making a conf file with

[2015-12-09 21:25] max-zilla commented on #372
Specifically re: credentials testing, [this](http://stackoverflow.com/questions/15692437/ident-connection-fails-via-psycopg2-but-works-via-command-line) suggests that supplying a port number and omitting user/pass entirely (possibly even omitting port number if its standard) could be sufficient. I'll start digging into this but different pgsql configs will be good to test against.

[2015-12-10 18:01] dlebauer commented on #373
talk with @max-zilla and Jong Lee to discuss implementing something like https://greatlakesmonitoring.org/geodashboard/#search using leaflet.js

consider making lat, lon, elevation read-only

create a separate issue for this implementation that describes going forward.

in the mean time stop this bug by making lat lon elevation read-only if non-point

[2015-12-10 18:07] dlebauer commented on #368
do something like clowder,

e.g. have powered by betydb link back to betydb.org/about, where we can host https://dlebauer.gitbooks.io/betydb-documentation/content/index.html ...  or this could be under /documentation.

[2015-12-10 18:37] max-zilla commented on #372
@dlebauer the text files you were using are formatted LAT,LON,Z instead of LON,LAT, Z, thus the failure of NED. It was mixing up lat/long.

I didn't want to hard-code expected column headers, but I'll add a simple sanity check that at least says:
* If the column is "latitude", "lat", or "y" (case insensitive) then treat this column as latitude.
* Same for "longitude", "lon", or "x"
* Same for "alt

[2015-12-10 18:45] dlebauer commented on #372
That's a good idea, with cases insensitivity. Thanks!
On Thu, Dec 10, 2015 at 12:37 PM Max Burnette <notifications@github.com>
wrote:

[2015-12-10 20:47] max-zilla commented on #372
[pull request has been updated](https://github.com/PecanProject/bety/pull/371)
Script attempts to identify columns by headers before reverting to
previous assumption of (x,y,z) ordering. Valid entries:
* **x**: longitude, long, lon, x
* **y**: latitude, lat, y
* **z**: altitude, elevation, alt, z

Added warnings when rows are missing z value if a z column was
identified.

David, with this update t

[2015-12-10 21:09] dlebauer commented on #372
Have you tested the second query? I get an error because it does not have a 'z' dimension in the update statement.

[2015-12-10 21:09] dlebauer commented on #372
[code]

[2015-12-10 21:09] dlebauer commented on #372
isn't the idea that we would fill in Z from the USGS or Google API?

[2015-12-10 21:22] max-zilla commented on #372
ahh yes, I understand now. My thinking was that it would be good to notify the user if their data had a Z column with some of the values present and others missing, i.e. indicating some error in their dataset, but no reason I shouldn't go ahead and generate the Z from the API as well. I'll keep the warning message but change it to "querying for z value."

[2015-12-10 21:23] dlebauer commented on #372
thanks but please change 'z' for 'elevation' for a more informative message

[2015-12-10 21:26] max-zilla commented on #372
Will update pull request momentarily. Here's the output with elevation from NED:
[code]

[2015-12-11 17:15] gsrohde commented on #373
@dlebauer I changed "NaN" to the empty string on the "Show" page.  See mockup at http://pecandev.igb.illinois.edu/sr/.

@max-zilla When you're inspired to work on a more comprehensive fix based on David's previous comment, let me know.

[2015-12-11 17:17] gsrohde commented on #374
@dlebauer See proposed fix at http://pecandev.igb.illinois.edu/sr/.

[2015-12-11 17:51] dlebauer commented on #374
@gsrohde comments in pull request #375

[2015-12-11 21:34] dlebauer opened #377 "Allow new users to request changes to their own access levels"
When I sign up with default access level, then edit my user record, I can select page access Administrator and data access Restricted.

The interface says "Successfully updated" even though records are not updated. The user/edit interface should be the same as the user/new interface in that it should send a request to the administrator(s).

[2015-12-14 16:52] gsrohde commented on #377
@dlebauer See pull request #378 and notes there.

[2016-01-05 21:17] gsrohde commented on #355
Pull requestion #378 will fix this.

[2016-01-13 19:34] gsrohde commented on #332
This isn't really fixed for the ebi site, even after I deploy pull request #351, so re-opening.

[2016-01-13 19:48] robkooper commented on #332
I think the cleanest way to do this is to add to the machine time a pointer to the bety instance and pecan instance for that particular machine. That way we can use a simple lookup based on the id of a record to see what bety and what pecan server they belong to.

[2016-01-18 17:09] justinmcgrath opened #380 "Incorrect column name"
Several tables have columns labeled "specie_id" that should be labeled "species_id".

[2016-01-18 20:31] dlebauer commented on #380
This is a side effect of the conflict between the English language and Ruby on Rails naming conventions for tables and their unique identifiers. We have discussed in the past but have stuck with the RoR convention.

[2016-01-18 20:31] #380 closed

[2016-01-19 16:20] gsrohde commented on #380
Just so as not to give RoR a bad name, this is only the Rails convention if you don't bother telling it about exceptions to pluralization rules (which it allows for).  But David is right that we thought it wasn't worth the effort to correct things now.

[2016-01-19 16:33] justinmcgrath commented on #380
I can understand how the convention is useful, but it becomes rather difficult considering the numerous nonstandard rules in English. It seems that the convention should also be to only use table names with standard plurals, e.g. species_names.

In this case, Ruby already knows about that species is an exception.
carya@pecan32:~$ irb
irb(main):001:0> require 'active_support/inflector'
=> true
irb(

[2016-01-19 20:18] gsrohde commented on #355
Fixed in release 4.5.

[2016-01-19 20:18] #355 closed

[2016-01-19 20:19] gsrohde commented on #362
Fixed in release 4.5.

[2016-01-19 20:19] #362 closed

[2016-01-19 20:24] gsrohde commented on #374
@dlebauer Release 4.5 fixes this bug but doesn't provide a way to enter non-point geometries.  I recommend closing this and if you want, make a new issue for a feature request.

[2016-01-19 20:25] gsrohde commented on #377
Fixed by release 4.5.

[2016-01-19 20:25] #377 closed

[2016-01-19 20:27] gsrohde commented on #368
Release 4.5 now allows customizing contact information (see release notes: https://github.com/PecanProject/bety/releases/tag/betydb_4.5).

[2016-01-20 01:41] #374 closed

[2016-01-20 05:04] gsrohde commented on #380
"Everyone" _should_ include only BETYdb Rails programmers.  And so _they_ should be the only ones annoyed by (as I continually am) the misnaming.  _Users_ of the BETYdb Web app should never see the column name or object attribute `specie_id`.  Unfortunately, this name may come into play when using the URL-based query interface (otherwise known as the "API") for downloading data as a JSON, XML, or

[2016-01-20 19:59] max-zilla opened #381 "BETY API continuing development: add v0 GET endpoints"
Notes from 1/20/16 meeting with @dlebauer @gsrohde @robkooper around enhancing BETYdb API.

We plan to introduce `/controllers/api/` directory to BETY project and will start developing in `controllers/api/v0`. This will help delineate API components from GUI/other components.

First step is to add the following end points:

  * [x] GET /species, /sites, /users - return a simple list of those entri

[2016-01-22 15:02] max-zilla commented on #381
@gsrohde please let me know when you get the chance to commit a branch with your initial code for the GET users functionality - i've looked at the search controller before but this will be helpful as well.

[2016-01-22 16:40] robkooper commented on #381
Some quick additions:

* To get data from a REST api, use GET method. To add data use POST method, to change data use PUT method and to delete an entry use DELETE method.
* All endpoints should be plurals, so /api/sites should return the sites. This should always return an ID as well as some minimal information. To get more information use GET /api/sites/{ID} which will return all information abou

[2016-01-25 18:31] dlebauer opened #382 "Link BETYdb traits to source files"
Traits will need some way to point to one or more specific file images from which they were derived. for example,  "get me the file(s) this trait came from". This may involve the input and dbfiles tables and will (likely) require a many-to-many lookup

[2016-01-26 00:27] gsrohde commented on #381
@max-zilla I have some code ready for you to look at.  It's on branch `draft_apis` (see https://github.com/PecanProject/bety/tree/draft_apis).  It's also deployed to `pecandev/beta`; here are some sample queries:

http://pecandev.igb.illinois.edu/beta/api/e1/species?genus=Acer

http://pecandev.igb.illinois.edu/beta/api/e1/sites/1202

http://pecandev.igb.illinois.edu/beta/api/e2/sites?limit=4 (this

[2016-01-26 01:11] dlebauer commented on #381
I asked @sckott for advice on the  rOpenSci discussion forum. (rOpenSci develop lots of R packages to get public data from APIs, including the traits package that uses the BETYdb API ...

Its worth [reading the discussion](](https://discuss.ropensci.org/t/best-practices-for-writing-an-api/292/2?u=dlebauer), but here a few key ideas to put on everyones radar:

* Fail well
* use the appropriate HTTP

[2016-01-26 01:16] dlebauer commented on #381
@gsrohde

will the existing `key=some/random/string/of/digits/and/letters` suffice here? Or do we need something that takes authentication from Clowder as well?

After we draft the GET endpoints we can start on the POST methods as a separate issue?

Yes. Please do this as you go ... lets start with a 5000 record limit by default.

This can wait and be put on the 'nice to have' shelf. First priorit

[2016-01-26 02:49] dlebauer commented on #381
@gsrohde if it makes sense, lets start with v0 to be consistent with our milestones (and to clearly communicate to users that this is still a draft awaiting feedback)

[2016-01-26 14:43] robkooper commented on #381
Use either the key, or use basic auth for authentication.

[2016-01-26 16:17] dlebauer commented on #367
This works as expected. Please add documentation and close.

[2016-01-26 21:06] #373 closed

[2016-01-26 21:12] gsrohde commented on #368
Another thing that could be customized is the base page to the pecan installation referenced by the "Results" links on the Workflows page (see issue #332).

[2016-02-04 23:36] dlebauer commented on #381
Scott provided these samples for review (hosted on pecandev.igb.illinois.edu/beta/):

[/api/v0/citations?id=19](http://pecandev.igb.illinois.edu/beta/api/v0/citations?id=19)
[/api/v0/citations/19](http://pecandev.igb.illinois.edu/beta/api/v0/citations/19)
[/api/v0/covariates?id=5156](http://pecandev.igb.illinois.edu/beta/api/v0/covariates?id=5156)
[/api/v0/covariates/5156](http://pecandev.igb.illi

[2016-02-04 23:43] dlebauer commented on #381
@gsrohde Its great to have these samples, but the focus should be on returning a useful array from traits very similar to the traits_and_yields_view table. Any foreing keys in traits_and_yields_view should also be accessible, e.g. variables, sites, cultivars, treatments, managements, methods, and covariates.

Once those queries work, just getting the flat table out and not worrying about complex j

[2016-02-04 23:46] sckott commented on #381
@dlebauer  did you mean to ping me for feedback/etc. ?

[2016-02-04 23:48] dlebauer commented on #381
Not yet... I think it's b/c I mentioned you above but thanks for checking!
On Thu, Feb 4, 2016 at 5:46 PM Scott Chamberlain <notifications@github.com>
wrote:

[2016-02-05 17:49] gsrohde commented on #381
@dlebauer The [pecandev.igb.illinois.edu/beta/api/v0/search?id=111](http://pecandev.igb.illinois.edu/beta/api/v0/search?id=111) search _does_ work—it's only [pecandev.igb.illinois.edu/beta/api/v0/search/111](http://pecandev.igb.illinois.edu/beta/api/v0/search/111) that doesn't.

I didn't show examples of querying by any column value other than `id`, but in the current implementation, you can query

[2016-02-11 16:48] gsrohde commented on #381
I have some insertion API code working and deployed at http://pecandev.igb.illinois.edu/beta.  I will post some how-to's for loading sample data.

[2016-02-16 19:43] #372 closed

[2016-02-19 16:20] abstewa2 opened #384 "Bulk Upload Not accepting File"
When I try to upload this file:
[phenotypes.txt](https://github.com/PecanProject/bety/files/138289/phenotypes.txt)

To the terra-test instance (http://pecandev.igb.illinois.edu/terra-test) of BETYdb, it doesn't recognize the variable names although they match the variables table. I get the following:

![image](https://cloud.githubusercontent.com/assets/17127438/13181345/502dd506-d6f2-11e5-9ff5-188

[2016-02-19 16:23] abstewa2 commented on #384
It appears that the list of accepted traits is empty http://pecandev.igb.illinois.edu/terra-test/trait_covariate_associations

[2016-02-19 17:08] gsrohde commented on #384
@abstewa2 Yes, that's the problem (the only problem, I hope).

The "canonical" list of `trait_covariate_associations`, the one we use on https://betydb.org is here: https://www.betydb.org/trait_covariate_associations  You should be able to see it without having administrative privileges if you log in as a guest and then go to the URL directly.

I was about to copy the table from the betydb.org dat

[2016-02-19 17:31] dlebauer commented on #384
Only leafT is a covariate. Can we import the variables we need from
betydb.org?
On Fri, Feb 19, 2016 at 11:08 AM Scott Rohde <notifications@github.com>
wrote:

[2016-02-19 17:45] gsrohde commented on #384
@dlebauer leafT is the only needed variable that is not already in the terra-test database.

[2016-02-19 17:54] gsrohde commented on #384
That said, we could wipe the terra-test `variables` table (and the two entries in the `traits` table, since they refer to it) and copy all or only the needed variables from betydb.org.  This would ensure that all column values on terra-test match the values for the corresponding variable on betydb.org.  If we use the same id column values as well, then we could just copy down the `trait_covariate_

[2016-02-19 17:57] dlebauer commented on #384
Yes, please wipe the traits and variables table and import the variables
that we need.
On Fri, Feb 19, 2016 at 11:55 AM Scott Rohde <notifications@github.com>
wrote:

[2016-02-19 18:24] abstewa2 commented on #384
Thanks Scott!

[2016-02-25 16:23] gsrohde opened #385 "Convert BETYdb database types from NUMERIC to a float type"
The consensus from last week's TERRAref team meeting seemed to be that columns that now have type NUMERIC(16,4) really should be floats.  This includes, for example, `traits.mean`, `traits.stat`, `yields.mean`, `yields.stat`, `covariates.level`, and `covariates.stat`.

This will require a Rails migration that changes the types of these columns and converts the values they contain to the new type.

[2016-02-29 16:29] abstewa2 opened #386 "Bulk upload not accepting certain variables"
When I try to upload this file:

[phenotypes.txt](https://github.com/PecanProject/bety/files/151283/phenotypes.txt)

To the terra-test instance (http://pecandev.igb.illinois.edu/terra-test) of BETYdb, it states that many of the data column numbers are out of range for that particular variable.  I get the following:

![image](https://cloud.githubusercontent.com/assets/17127438/13400688/86c74c12-dec

[2016-02-29 18:39] dlebauer commented on #386
@abstewa2 I've added the cultivars and changed the allowable range of `cuticular_cond` (to min = 900) so you can try again.

@gsrohde

1. do you know why the leafT is marked as out of range?
2. how do we allow additional traits to be uploaded? For this dataset we need (quantum_efficiency, growth_respiration_coefficient, chi_leaf, and extinction_coefficient_diffuse), but will need to add additional

[2016-02-29 20:21] abstewa2 commented on #386
@dlebauer
The cultivars worked.
![image](https://cloud.githubusercontent.com/assets/17127438/13407734/9a4a8a44-deef-11e5-9908-bce2fa16bcae.png)

However the other values for the variables are still out of range.

[2016-02-29 21:21] gsrohde commented on #386
@dlebauer Regarding leafT being out of range, there's a bug in the bulk upload software whereby a max value of 'Infinity' (which is what we set max to whenever it was unspecified) becomes 0.0 when converted to a float.  I'll make a bug report for this, but for now I've changed the max column value for leafT to '60' in the terra-test database.

For a trait variable to be recognized in doing a bulk

[2016-02-29 21:25] gsrohde opened #387 "Variable maximum value of Infinity is treated as 0.0 by the Bulk Upload code"

[2016-03-04 15:23] mdietze opened #389 "map recursion bug"
Colin Averill just discovered an interesting bug in the site map interface. If you go to the sites menu and then click on "map" for a site it opens up a window with the map, but that window also has the full BETY page in it, including the top tab bar. Therefore, within that window you can again click on Sites then "map" and it opens up a window within that window. It appears you can do this infini

[2016-03-04 16:00] gsrohde commented on #385
Code to address this is in pull request #390.

[2016-03-04 16:03] gsrohde commented on #386
The only bug here is given in a separate issue, #387.  Closing.

[2016-03-04 17:32] dlebauer commented on #386
actually for these specific traits, it would work to set reasonable max and min values in the variables. However, this should be done at betydb.org. I will go ahead and set them on both instances so that you can upload this dataset.

So I've done this:

[code]

For the `extinction_coefficient_diffuse`, the min / max are already set appropriately to [0, 1] so perhaps it is because the header is wri

[2016-03-04 18:20] gsrohde commented on #386
@dlebauer Are you wanting me to do this or @abstewa2?  And is it only `pecandev/terra-test` that is to be uploaded to?

Regarding `extinction_coefficient_diffuse`, it will be ignored unless it is added to the `trait_covariate_associations` table (either as a primary trait or as a required or optional covariate for a trait) regardless of the case.  Several other columns (namely, `quantum_efficiency

[2016-03-04 18:58] dlebauer commented on #386
Sorry I forgot about that. I will do this

[2016-03-04 19:08] dlebauer commented on #386
I've updated these on both ebi_production (betydb.org) and terra-test (on pecandev)

[code]

[2016-03-07 16:15] abstewa2 commented on #386
I tried the upload again just now and everything looks great except what I assume Scott mentioned about the extinction_coefficient_diffuse column.

This is the screen I receive on:
 http://pecandev.igb.illinois.edu/terra-test/bulk_upload/display_csv_file

![image](https://cloud.githubusercontent.com/assets/17127438/13575086/a86cc9c2-e44c-11e5-914b-8917cd55a907.png)

Also, when bulk uploading, late

[2016-03-07 16:53] dlebauer commented on #386
I've reduced the min valid value for cuticular_cond that was causing the 'out of range' error

@gsrohde do you know why the `extinction_coefficient_diffuse` trait is not recognized here? It is in the `trait_covariate_associations` table [1]. Not sure if it is related, but the trait name in the web interface shows up as ALL CAPS whereas it is lowercase in the variables table and the upload spreadsh

[2016-03-07 17:27] abstewa2 opened #391 "Bulk Upload Not accepting File"
@dlebauer, when uploading this file: ( a shortened version of the original)

[observations.txt](https://github.com/PecanProject/bety/files/161748/observations.txt)

To this website:
http://pecandev.igb.illinois.edu/terra-test/bulk_upload/display_csv_file

The same issues arise that happened with the Phenotypes file.

In this file we are missing the variables:
**normalized_difference_vegetation_ind

[2016-03-07 17:54] dlebauer commented on #391
@abstewa2
* sitename should concatenate both the sitename  and plot id so that it matches the sites in the database.
* I have added a variable with the name "NDVI"

[2016-03-07 19:25] gsrohde commented on #386
@dlebauer, @abstewa2 The variable names _are_ case-sensitive, so `EXTINCTION_COEFFICIENT_DIFFUSE` is not going to be recognized if the `trait_covariate_associations` table has it as `extinction_coefficient_diffuse`.

@abstewa2 I too have noticed that the validation stage of the bulk upload script runs very slowly on `pecandev`.  The `top` command shows 97+% of CPU being used by ruby while the vali

[2016-03-07 19:26] abstewa2 commented on #391
![image](https://cloud.githubusercontent.com/assets/17127438/13580373/94f5fcfe-e467-11e5-91fd-85da9659bbdb.png)

@dlebauer , this is the screen I get now that I have fixed everything. I copied only the values in the cells like you wanted and deleted the cells with the formula in them. The rows that appear (first column) for some reason I cant seem to delete. They aren't in my original excel sheet

[2016-03-07 19:44] abstewa2 commented on #391
The rows appear to be a feature of the bulk upload. They show up on the other excel sheet also once uploaded into Pecandev

[2016-03-07 19:48] gsrohde commented on #391
@abstewa2 The problem is that none of the column headings in your file correspond to variable names in the `trait_covariate_associations` table.

[2016-03-07 21:41] dlebauer commented on #391
@abstewa2 see http://pecandev.igb.illinois.edu/terra-test/trait_covariate_associations for list of valid variable names. I've added the variables that are in the file, but the names need to be changed.

[2016-03-07 21:44] dlebauer commented on #386
@gsrohde the web interface shows the `EXTINCTION_COEFFICIENT_DIFFUSE` in all caps even though the csv file has the column name in lowercase.

@abstewa2 could you please upload the file that causes the error?

[2016-03-07 21:45] abstewa2 commented on #386
Sure. Hold on one sec

[2016-03-07 21:49] abstewa2 commented on #386
[phenotypes final.txt](https://github.com/PecanProject/bety/files/162162/phenotypes.final.txt)

this is the file that is causing the errors. In the excel sheet the extinction_coefficient_diffuse variable is lowercase, however when I upload it into the bulk upload, Pecan capitalizes it for some reason.

[2016-03-07 21:50] abstewa2 commented on #391
Okay, I will change the names and try again.

[2016-03-11 19:45] gsrohde commented on #384
Assuming this is fixed.  Closing.

[2016-03-11 19:45] #384 closed

[2016-03-11 19:49] gsrohde commented on #386
@abstewa2 It is probably capitalized by Excel when you export the spreadsheet as a raw text file.  If you are certain it is NOT capitalized at the time you select it in the Bulk Upload wizard and that the Bulk Upload process is capitalizing it, assign this back to me and I'll look into this.  If this issue is done, please close it.

[2016-03-11 20:38] dlebauer commented on #386
@gsrohde the text file exported by Excel does not have capital letters. @abstewa2 uploaded it in her comment above; and this is the link: [phenotypes final.txt](https://github.com/PecanProject/bety/files/162162/phenotypes.final.txt)

It is comma separated, despite the .txt file extension

[2016-03-12 17:16] gsrohde commented on #386
@abstewa2 , @dlebauer

There was a bug in the header-normalization routine.  It's fixed now on terra-test, so the upload should work.

[2016-03-12 17:32] gsrohde opened #392 "Confusing error message for bulk uploads with citation when citation isn't matched"
If you try to do a bulk upload of a CSV file that has citation information, and if that information does not match a citation in the citations table of the database, you get returned to the start page with the error message `undefined method 'empty?' for nil:NilClass`.

[2016-03-14 15:22] abstewa2 commented on #386
The problem is that the server is going so slowly now. Even when I upload a shortened version of the file, the webpage loads for really long times. It's been 20 minutes that I have been waiting on this shortened file in Pecandev to upload. I will wait for this one for a little longer and if it doesn't upload I will submit another issue.

[2016-03-14 15:38] abstewa2 commented on #386
![image](https://cloud.githubusercontent.com/assets/17127438/13749775/ded65b52-e9d0-11e5-91a5-7cdbf22572c7.png)

The bulk upload did in fact work this time.

[2016-03-15 15:03] gsrohde commented on #386
@abstewa2 Please close this if you think this issue is resolved.  Make a new issue for the bulk upload running slowly if you see fit to do so.  You can assign it to me.

[2016-03-15 15:31] gsrohde opened #393 "update-betydb.sh script doesn't pass all options through to load.bety.sh correctly."
This is a problem at least with the `-p` option.  I think it is a quoting issue.

[2016-03-16 20:36] gsrohde commented on #381
Here are some more sample queries that reflect recent changes and extensions to the v0 API.  These include authentication, fuzzy-matching (which is really PostgreSQL RegExp matching), the option to limit the number of results returned, and the option for XML responses.

* Find sites whose sitename includes the string "Lab":
http://pecandev.igb.illinois.edu/beta/api/v0/sites?sitename=~Lab&key=99999

[2016-03-16 21:37] gsrohde commented on #393
Fix committed to master branch.  Awaiting deployment.

[2016-03-16 23:08] dlebauer commented on #381
This looks great. One thing I notice is that the 'edit url' points to the same host as the api call. It should probably go to the instance that 'owns' the id's being edited (e.g. betydb.org where id<1 billion).

[2016-03-16 23:33] dlebauer commented on #381
I don't think that the way the limit works is useful.

This is what I see:

* If there are > 200 records and no limit is set, an error is returned
* If there are > 200 records and a limit higher than 200 is set, the same error is returned
* the message 'try a more restrictive search' isn't very useful

I'd prefer to see:

* Either
  * return all records if limit is not set
  * for example this cal

[2016-03-17 01:49] dlebauer commented on #381
I would suggest that using the `=~` for fuzzy matching should be case insensitive.

Are there any reasons not to make all URL based queries case insensitive?

[2016-03-17 16:21] gsrohde opened #398 "Update app to Rails 5.x"
* Rails 3.2 is no longer supported; current version is 5.1
   * [Github identifies this as 'moderate' security risk](https://github.com/pecanproject/bety/network/dependencies#6927244); many gems also need to be updated

Please outline steps required to update BETYdb to Rails 5.x, starting with the bare minimum required as well as nice to have features, alongside estimates of time / effort required

[2016-03-19 15:40] gsrohde commented on #381
I've made these changes:

* An explicit limit now overrides the default 200-row limit.  limit=all is now supported.
* The result count is shown in the metadata.
* When no explicit limit is set and there are more than 200 results, a warning is issued stating that only 200 results are being shown.
* The "show" URL of each result is shown rather than the edit URL.
* Fuzzy matching is now case-insensi

[2016-04-01 19:12] gsrohde opened #399 "traits table doesn't show up in schema "full relationship" diagram"
How to reproduce:

* Go to https://www.betydb.org/schemas?partial=relationships

The "traits" table is missing from the diagram.

[2016-04-01 21:00] gsrohde commented on #399
It seems table only appear in this diagram if they contain a foreign key or are referred to by some foreign key.  Foreign key constraints haven't been added for the traits table.  See issue #175.

[2016-04-15 18:04] gsrohde opened #400 "Revise XML schema for trait data insertion"
Since most scalar value types have been changed from numeric to float, the schema should be revised to be consistent with this.

[2016-04-16 11:56] gsrohde opened #401 "Model Projection page (/maps) is broken."
To reproduce:

1. Go to the BETYdb home page.
2. Choose the Model I/O menu item and click on Model Projections.
3. There is no data on the map.  Instead it says: "Data may still be loading. Drag or refresh the page to find out."

[2016-04-19 15:15] gsrohde opened #402 "Ensure versions of Ruby later than 2.1.5 work with BETYdb"
Right now, Travis builds are failing for Ruby 2.2.4 and 2.3.0.

[2016-04-21 16:06] gsrohde commented on #402
Travis builds now pass for Ruby 2.1.5, 2.1.8, 2.2.4, and 2.3.0.

[2016-04-21 16:27] gsrohde opened #403 "load.bety.sh doesn't populate trait_covariate_associations table"
It creates it but it's empty.  From a developer's standpoint, it's inconvenient to have to populate this table manually.  And for users doing synchonization, I don't see any reason why this table should be treated any differently from the others.

[2016-04-21 17:21] gsrohde opened #404 "Bulk Upload may create a covariate for a traits not related to it by the trait_covariate_associations table"
The way I had intended this to work is:

**If there is a column whose heading matches one of the listed covariates in the `trait_covariate_associations` table, it will be added as a covariate for each trait in the CSV file for which it is listed in the `trait_covariate_associations` table as either an optional or required covariate of that trait.**

But instead, if the covariate is listed in the `

[2016-04-21 19:21] dlebauer commented on #404
1. the way you intended is correct. that is how the API and bulk upload interface should work
2. having a many-to-many relationship is a sensible solution, but given the effort required it is not a high priority. Perhaps the entities table could provide a solution for finding related traits / covariates. Another option is to normalize the traits table so that each row can have many traits and many

[2016-05-04 18:18] dlebauer opened #409 "Enable variable to be categorical"
Note: this is open for discussion, currently on hold pending feedback from people who will collect categorical data.

Some traits are categorical - these are commonly used by breeders. The species table imported from USDA Plants has a number of categorical traits (e.g. 'PropagatedBySeed').

For the TERRAREF program, we need to allow categorical variables, but have decided to track these in traits

[2016-05-04 22:34] dlebauer opened #410 "Add 'experiments' table to provide grouping and temporal context to sites"
We are planning to use the 'sites' table to store fields, blocks, plots, and the location of individual plants. Most existing sites are points, and here we are moving toward the use of polygons that define plot boundaries, and can be used to search and crop datasets.

The sitegroups table could be used to group sites, but it was designed for distributed networks of sites rather than plots within b

[2016-05-05 16:40] dlebauer commented on #410
add cultivar_id to experiments_sites

[2016-05-06 15:18] dlebauer commented on #363
Yield: https://docs.google.com/spreadsheets/d/1Rzw1PKfiM99KiEw0SvPDxE1bcdwBf4ZWq5olj1VeD8A/edit#gid=795358067

Traits: https://docs.google.com/spreadsheets/d/1ThszYYwhlIsBA5c1YxD-YiatXiJFTgMF4J7SSMkpriU/edit?pref=2&pli=1#gid=13

[2016-05-06 20:52] dlebauer commented on #363
@gsrohde please upload
[SugarcaneData_Brazil_RB72454.csv - alldata_for_upload (8).csv.zip](https://github.com/PecanProject/bety/files/253016/SugarcaneData_Brazil_RB72454.csv.-.alldata_for_upload.8.csv.zip)

[2016-05-06 23:11] robkooper opened #411 "can't add sites to site-group"
On the VM I can not add a new site to AmeriFlux

[2016-05-09 20:39] gsrohde commented on #363
@dlebauer The problem with empty entries for some trait values in some rows is not hard to fix for the bulk upload.  It's easier at this point than trying to use the API.  I should also set the dateloc to 5 (day) and the timeloc to 9 (no info), which the bulk upload doesn't currently do.

One minor problem is that the dates are treated as if they are midnight Illinois time and then converted to UT

[2016-05-10 15:13] gsrohde commented on #386
The header-normalization bug was fixed by Release 4.6.  The out-of-range bug (issue #387) was fixed by Release 4.8.

@abstewa2 Please close this issue and if appropriate, make a new issue for the bulk upload running slowly.

[2016-05-10 15:16] gsrohde commented on #402
Fixed in Release 4.8.

[2016-05-10 15:16] #402 closed

[2016-05-10 15:19] gsrohde commented on #393
Fixed in Release 4.6.

[2016-05-10 15:19] #393 closed

[2016-05-10 15:20] gsrohde commented on #387
Fixed in Release 4.8.

[2016-05-10 15:20] #387 closed

[2016-05-10 15:24] gsrohde commented on #293
Fixed in Release 4.2.2.

[2016-05-10 15:24] #293 closed

[2016-05-10 15:31] gsrohde commented on #367
@max-zilla Could you check if this can be closed?  I think your latest changes were included in Release 4.6 (commit aad55f1bc211734b9abd7d2a3c1b7d7a1e94fdc3 from Mar. 16).

[2016-05-10 15:33] gsrohde commented on #391
@abstewa2 Can this be closed?

[2016-05-10 15:38] gsrohde commented on #368
We've done some basic customization. @dlebauer I'm putting this on hold and assigning to you pending any specific instructions about what features should be added next.  I think there are higher priorities right now.

[2016-05-13 15:03] dlebauer commented on #363
@gsrohde yes, please only the two files:

*
[SugarcaneData_Brazil_RB72454.csv - alldata_for_upload (8).csv.zip](https://github.com/PecanProject/bety/files/253016/SugarcaneData_Brazil_RB72454.csv.-.alldata_for_upload.8.csv.zip)
*
[Sugarcane Data - Bulk Upload (3).zip](https://github.com/PecanProject/bety/files/263514/Sugarcane.Data.-.Bulk.Upload.3.zip)

The default when no time is provided should b

[2016-05-13 20:56] max-zilla commented on #367
@gsrohde Yes, I believe this can be closed now. Need to flesh out documentation still but there are separate issues for that.

[2016-05-15 14:37] #367 closed

[2016-05-16 18:30] dlebauer opened #412 "negative values of cuticular conductance?"
@PecanProject/pecan-developers  any thoughts on this:

I was asked to upload a dataaset with values of cuticular conductance < 0.

The data provider wrote "The negative g0 are fine. We did not constrain this to be positive and think of it more as a curve parameter and less of a metric of cuticular conductance."

What options are there besides re-fitting the curves with an appropriate prior?  Setti

[2016-05-22 08:57] mdietze opened #413 "redundant height variables"
Variables 52 and 612 are both "height" and appear to represent the same concept. Also unclear how these differ from 347 "plant_height". I propose merging 52 and 347 into 612.

[2016-05-22 09:07] mdietze opened #414 "redundant leaf reflectance"
leaf_reflect_nir_hardwood is redundant with leaf_reflect_nir
leaf_reflect_vis_hardwood is redundant with leaf_reflect_vis

The species or PFT that this trait is associated with should determine whether it is hardwood or not, not the variable definition.

[2016-05-22 10:37] mdietze opened #415 "redundant conductance variables"
cuticular_cond_mmol is redundant with cuticular_cond. The former should have its units converted and set to the latter, and then dropped as a variable.

[2016-05-23 16:46] gsrohde opened #416 "Implement more robust date representation in traits table"
* [ ] Add a `time_zone` column to the sites table.
* [ ] Populate `time_zone` column for sites that fall within a single time zone.
* [ ] Clean up the traits table, consolidating all date information into the `date`, `dateloc`, and `timeloc` columns.
* [ ] Deploy updated BETYdb Web interface that is consistent with new date representation schema.
* [ ] Eliminate columns `time`, `date_year`, `date_

[2016-05-23 19:38] gsrohde commented on #416
To add `time_zone` to the sites table (and get rid of the obsolete `local_time` column), we run the migration `20160523165531_replace_local_time_with_time_zone.rb`.

To populate it, we follow a slightly-modified version of the instructions at https://gist.github.com/robcowie/2896200.

First download and add the timezones table (we put it in a separate schema "admin" here):
[code]
(Substitute for "

[2016-05-23 20:53] dlebauer commented on #401
@gsrohde The original table seems to have been corrupted so I re-created the county yields and county costs maps. They are here: https://www.google.com/fusiontables/DataSource?docid=1DAaufoEP405M_MNXAJuLxT-NqSvqQQRf30TRcXs

There are 8 maps to replace, and it should be clear which are which. Please fix this - or show me where to fix it - as soon as you have a chance.

[2016-05-24 16:02] gsrohde commented on #401
I don't have permission to access that link.

If you want to work on it, I think the relevant file is `/public/javascripts/mylibs/map.js`.  The `initialize` function sets the layers.  Also relevant may be the file `/app/views/maps/location_yields.html.erb`, which shows the map-selection menu, and the directory `/public/temp_models/`, which contains related CSV files.  But I'm happy to work on this

[2016-05-24 16:29] dlebauer commented on #401
Sorry, I have now made the links public ...

[2016-05-24 19:04] gsrohde commented on #401
@dlebauer I think I figured out how to update the layers (change the "query/from" attribute to the new docid value and the "options/styleId" attribute to the column number).  But the legend colors don't match the maps, and the Least Cost Crop map is still missing.

If you want to see what I've got so far, log in to http://srohde.ncsa.illinois.edu/bety-testing/.  I think you can get there, though y

[2016-05-24 21:40] dlebauer commented on #401
@gsrohde looks good

Can you also try to get the default legends to show. It should look like [this page](https://www.google.com/fusiontables/embedviz?q=select+col16%3E%3E1+from+1DAaufoEP405M_MNXAJuLxT-NqSvqQQRf30TRcXs&viz=MAP&h=false&lat=36.87871058315865&lng=-92.32115374999995&t=1&z=5&l=col16%3E%3E1&y=2&tmplt=2&hml=KML).

If you click on the tab for each map (in the link from previous comment) a

[2016-05-25 17:40] dlebauer commented on #363
I've uploaded SugarcaneData_Brazil_RB72454.csv - alldata_for_upload (8).csv.zip. Am working on reformatting the second file https://docs.google.com/spreadsheets/d/1ThszYYwhlIsBA5c1YxD-YiatXiJFTgMF4J7SSMkpriU/edit#gid=13.

[2016-05-25 18:05] gsrohde commented on #401
@dlebauer See if the four yields legends look OK now (at same URL).  If so, I'll change the cost ones as well.  Note that I set a minimum of 1 in the yields query (which seems to be the default at https://www.google.com/fusiontables/DataSource?docid=1DAaufoEP405M_MNXAJuLxT-NqSvqQQRf30TRcXs#map:id=3), but if you prefer 0 (or maybe 0.1) I can change it.

Also, I still need a Least Cost Crop map.

[2016-05-25 19:40] dlebauer commented on #363
@gsrohde how should I format an upload when multiple variables have values of n and SE. I thought it was `trait1, trait1 n, trait1 SE, trait2, trait2 n, trait2 SE`. See attached.
[Sugarcane Data - zhao bulk upload (1).txt](https://github.com/PecanProject/bety/files/282818/Sugarcane.Data.-.zhao.bulk.upload.1.txt)

[2016-05-25 19:42] #386 closed

[2016-05-25 21:51] gsrohde commented on #363
@dlebauer

As stated at https://www.authorea.com/users/5574/articles/6800/_show_article:

(By the way, it would be nice to get the GitBook server set up correctly so we can start pointing to those versions of the documentation as the "official" ones.)

[2016-05-25 22:14] dlebauer commented on #363
what needs to be done to get the gitbook server set up - do you mean host
it on a local server?

On Wed, May 25, 2016 at 4:52 PM, Scott Rohde <notifications@github.com>
wrote:

[2016-05-25 22:20] dlebauer commented on #401
Looks great! - please just delete the least cost crop map. It is complicated to set up.

[2016-05-26 00:18] abstewa2 commented on #391
below I have attached the screen I receive when I upload this file:
[observations finished shortened summer.txt](https://github.com/PecanProject/bety/files/283199/observations.finished.shortened.summer.txt)

![image](https://cloud.githubusercontent.com/assets/17127438/15559965/62cb585e-22ac-11e6-9eec-e0822e66fa58.png)

to https://terraref.ncsa.illinois.edu/bety-test/bulk_upload/display_csv_file

[2016-05-26 00:20] abstewa2 commented on #391
Sorry it took me so long to get back to this. let me know what the issue is and I will fix it and get it uploaded by the end of this week.

[2016-05-26 19:10] gsrohde commented on #391
@abstewa2 Here are the reasons for the problems:

* sitename: Although "sitename" _is_ the name of the column in the sites table containing the values that these names must match, the correct column heading to use in the CSV file is "site".  When in doubt, consult the bulk upload section of the document at https://www.authorea.com/users/5574/articles/6800/_show_article (which you can get to from t

[2016-05-26 20:06] gsrohde commented on #401
@dlebauer OK, I've fixed the "cost" maps and deleted the Least Cost Crop map from the menu.

One more problem I didn't quite notice before: The "Energycane Yield (grid)" layer doesn't show anything.  Unlike the other problem maps, I don't get the "Data may still be loading" messages.

[2016-05-26 20:20] dlebauer commented on #401
energycane_yield_grid.png and energycane_yield_grid_legend.png are in [`local/modelout`](https://github.com/PecanProject/bety/tree/master/local/modelout)

[2016-05-26 21:25] dlebauer commented on #391
I've added root_biomass to the list with optional covariates depth, root_diameter_min, root_diameter_max

I've also changed a few things: converted units to g/m2,  changed dates to years 1020-1025. Also the file in https://github.com/PecanProject/bety/issues/391#issuecomment-221745169 is tab delimited.

[2016-05-26 21:25] #391 closed

[2016-05-26 21:32] gsrohde commented on #401
There was a bad path to the former.  This must have been broken for a very long time.  Fixed now and pushed to master.  Are you eager to have this live?

[2016-05-26 21:57] dlebauer commented on #401
no rush. it can go in the next release

On Thu, May 26, 2016 at 4:32 PM, Scott Rohde <notifications@github.com>
wrote:

[2016-05-26 22:29] gsrohde commented on #363
No, I mean on the GitBook site.

The "BETYdb: Data Access" book seems fine: it displays properly and syncs properly with GitHub as far as I can tell.

For the other three "Pecan" books, when I click the "Read" button, I get the introduction, but in the left pane where the table of contents should be, I just see the word "apache".  As for syncing, I don't know whether or not these books are syncing

[2016-05-26 22:49] dlebauer commented on #363
@gsrohde not sure what you mean - All of these appear okay to me (or maybe you've fixed them?) https://pecan.gitbooks.io/betydb-documentation/content/ or https://pecan.gitbooks.io/pecan-documentation/content/ or https://pecan.gitbooks.io/betydbdoc-dataentry/content/

[2016-05-27 18:52] gsrohde commented on #363
Yeah, they look okay now to me also, though I'm on a different computer.  Maybe it was some sort of browser caching issue.

[2016-05-27 20:24] dlebauer commented on #363
TODO:

* upload lehrer, zhao, and two menzier sheets (these require ability to upload multipe traits w/ n, SE, or else to have entity_id) (@gsrohde will the API upload support either of these?)
* @djaiswal add treatments to betydb and corresponding rows in liu, ludlow, Kawamitsu sheets

data are here https://docs.google.com/spreadsheets/d/1ThszYYwhlIsBA5c1YxD-YiatXiJFTgMF4J7SSMkpriU/edit#gid=17249

[2016-06-07 19:27] dlebauer opened #419 "Queries slow on millions of records"
[Added 3-7-2017:]
Here are the tasks associated with this issue:
* [x] Make a migration to convert views to materialized views.
* [x] Run the migration on bety6 (since that is highest priority).
* [x] Set up a cron job on bety6 to refresh views daily.
* [x] Investigate making queries faster without using materialized views and decide if materialized views are the best long-term solution.
* If so:

[2016-06-07 19:28] dlebauer opened #420 "Add 'cultivar' field to traitsview, traits_and_yields_view"
Please add a field called 'cultivar' that provides the `cultivars.name` field in the traitsview and traits_and_yields_view, and make this searchable via web interface and API

[2016-06-07 19:50] robkooper commented on #419
make sure to use explain on some of these queries and try to figure out what happens. The traits_and_yields_view is very expensive since it always does 2 selects that are combined.

[2016-06-07 20:22] gsrohde commented on #419
We may want to consider using materialized views (sort of like caching a view so it doesn't have to be regenerated every time).

[2016-06-17 02:15] gsrohde opened #421 "Wrong text on Site Show pages"
It says "Viewing Site Citations".  It should say "Viewing Site".

[2016-06-17 02:51] gsrohde commented on #403
@robkooper Can you prioritize this?  It's a nuisance to always have to copy this table manually.

[2016-06-17 13:40] robkooper commented on #403
Need to have https://github.com/PecanProject/bety/pull/422 merged first

[2016-06-17 14:28] gsrohde commented on #403
Done.  But I haven't deployed the code yet.

[2016-06-17 22:13] dlebauer opened #423 "RGeo gem not functioning correctly: setting geometry breaks /sites show page"
When I updated a site geometry:

[code]

on bety6

the /sites page does not load https://terraref.ncsa.illinois.edu/bety/sites

If I run

[code]

It will load again

[2016-06-17 23:17] gsrohde commented on #423
This seems to be an issue others have discovered: https://github.com/rgeo/activerecord-postgis-adapter/issues/173

This is one of the hazards of not standardizing on specific versions of, for example, PostgreSQL and PostGIS and supporting libraries.

If this problem is holding you up, I could hack the bety6 code to do something like only calling `centroid` on point geometries until I have a chance

[2016-06-17 23:28] gsrohde commented on #423
Actually, the geos version issue may be a red hering: it seems like geos isn't even installed on bety6.  Ask @robkooper if he installed it.  Looks like I should add a test for display of non-point sites.

[2016-06-22 15:41] gsrohde opened #424 "Permission requirements for some Ajax calls are too restrictive."
There are some pages where typing into a search box will trigger a request to log in.  This is because the user has permission to view the page having the search box but doesn't have permission to run the code for the search.

[2016-06-28 15:28] gsrohde opened #425 "Attempting to edit the edit_formats_variables table via the Editing Format page results in a routing error."
How to reproduce:

1. Go to the formats listing page.
2. Click the edit button of any format.
3. Click the "View Related Format" link at the top of the page.
4. Add a variable by clicking the "Add" button.
5. Type input into any of the fields for that variable and click the "Save" button.
6. Result: changes aren't saved.  In the log, the will be a notification of an ActionController::RoutingError.

[2016-07-04 00:37] gsrohde opened #426 "Remove error page"
The "Report a Problem" form on the Feedback tab supersedes this.

[2016-07-11 20:49] #423 closed

[2016-07-11 20:50] #424 closed

[2016-07-11 20:58] #401 closed

[2016-07-11 21:00] gsrohde commented on #400
Fixed in commit 888ad5.

[2016-07-11 21:00] #400 closed

[2016-07-11 21:03] gsrohde commented on #385
Part of Release 4.6.

[2016-07-11 21:03] #385 closed

[2016-07-11 21:08] gsrohde commented on #348
This was part of Release 4.9.  The column is named `sites.time_zone`.

[2016-07-11 21:08] #348 closed

[2016-07-11 21:09] gsrohde commented on #345
Closing.  I haven't noticed this being a problem recently.

[2016-07-11 21:09] #345 closed

[2016-07-11 21:33] gsrohde commented on #426
Removed.  Just needs to be released now.

[2016-07-12 17:02] dlebauer commented on #245
@gsrohde it looks like this constraint is ready to be added. Is that correct?

[2016-07-12 17:11] dlebauer commented on #244
@gsrohde is this ready to be implemented?

[2016-07-12 17:16] dlebauer commented on #230
@gsrohde is this ready to be implemented?

[2016-07-12 17:19] dlebauer commented on #250
* Should we drop 'area'?
* not sure what to do with fields related to 'token' are these used for anything? Should we drop them?
* I think that the simple state prov suggestion looks good

[2016-07-12 17:23] dlebauer commented on #249
I think this should hold for the union of the following two tables:

[code]

For cases where control is NULL:
* if it is the only treatment for a given citation, set it to TRUE
* if there is another treatment for the citation that is TRUE, set this to false
* then we can clean up the rest manually.

[2016-07-12 17:24] #149 closed

[2016-07-12 17:28] #150 closed

[2016-07-12 17:29] dlebauer commented on #399
This should be resolved when constraints are added; closing now

[2016-07-12 17:29] #399 closed

[2016-07-12 18:54] dlebauer commented on #206
Here is the current list of duplicate variable names:

[code]

[2016-07-12 18:58] dlebauer commented on #212
is this a duplicate of #249? See that issue - we can query the site_id, citatoin_id, and treatment_id from the traits or yields table.

But perhaps the constraint should just be that each treatment name be unique within the associated sites it is associated with in either the traits or yields tables.

[2016-07-12 19:01] dlebauer commented on #205
Having the key `[login, apikey, and email]` would be sufficient.

[2016-07-12 19:03] dlebauer commented on #216
I removed the rows with trait_id = null

[code]

[2016-07-12 19:07] dlebauer commented on #191
date can be null. Many of these are fertilization rates:
[code]

and others are rates of irrigation etc. Where the date(s) of fertilization is not known and may have occurred repeatedly over many years. So we can allow NULL dates for managements.

[2016-07-12 19:09] dlebauer commented on #191
For the duplicates, it is only meaningful to expect that (date, mgmttype) will be unique for the subset of records associated with a single treatment_id.

[2016-07-12 19:09] dlebauer commented on #181
@gsrohde is this ready to be deployed and the issue closed?

[2016-07-12 19:11] dlebauer commented on #340
These records have been orphaned and can be deleted; please delete them.

I think this would be

[code]

Then delete the orphaned managements

[code]

[2016-07-12 20:36] dlebauer commented on #210
## Update

* no yields with missing citation_id
* cultivar_id and method_id can be null
* can set treatment to a generic treatment that is observational and control = TRUE

[2016-07-13 02:17] dlebauer opened #429 "provide list of available paths at /api/beta"
Currently, https://www.betydb.org/api/beta returns

[code]

but, 1) https://www.betydb.org/apipie does not exist and 2) we should provide a list of available endpoints as a json object. Similar to [this version of USDA Plants](https://plantsdb.xyz)

[2016-07-13 17:50] gsrohde commented on #429
`https://www.betydb.org/api/docs` is the "official" location of the BETYdb API documentation, and `https://www.betydb.org/api/docs/beta` is the location of the documentation of the _beta_ version (which is currently the _only_ version, not counting the "old" API).

Requests to any unrecognized path under `https://www.betydb.org/api` (including `https://www.betydb.org/api/beta`) will now redirect t

[2016-07-13 20:17] #429 closed

[2016-07-13 20:18] #426 closed

[2016-07-13 20:19] #421 closed

[2016-07-29 20:53] gsrohde opened #430 "Trait insertion API: unexpected exception when covariate lookup fails"
Instead of getting a lookup error, we just get "UNEXPECTED EXCEPTION ActiveRecord::RecordNotFound. Couldn't find Variable without an ID".

[2016-08-01 14:58] gsrohde opened #431 "API button not working."
This seems to be a new bug—it used to work.

[2016-08-01 19:52] gsrohde commented on #431
Diagnosed and fixed on master branch.  Ready for release.

[2016-08-03 16:21] dlebauer opened #432 "In API, 'associated <tablename> ids' should be optional (off by default)"
The API response can get very large if the ids of all associated records are returned.

For example, if I just want a list of all of the records in the variables table, each record states all associated trait records. When there are many thousand, it gets unweildy.

https://terraref.ncsa.illinois.edu/bety-test/api/beta/variables?limit=1&key=9999999999999999999999999999999999999999

It seems just a

[2016-08-03 17:19] gsrohde commented on #200
This key has been implemented.  But enforcing whitespace normalization on parameter_list has _not_ been implemented.  On ebi_production,
[code]
returns 467261 and
[code]
returns 138.

If we don't care to bother enforcing whitespace normalization of parameter_list, please close this.  But see issues #245 and #257 for other runs constraints issues on timestamp columns.

[2016-08-03 17:36] gsrohde commented on #245
@dlebauer Remaining to do (or not) are value constraints on the columns of type timestamp—namely `start_time`, `finish_time`, `started_at`, and `finished_at`.  Here are constraints that I wanted to add to a previous migration but had to comment out because existing data violates them:
[code]
As an example, on ebi_production, running
[code]
returns 7 rows, 4 of which were created in the last two we

[2016-08-03 17:42] ankurdesai opened #433 "Web interface filter by machine"
Now that we have entered the era of multiple servers syncing bety, the tables in the web interface under the section Runs can get unwieldy when trying to search for runs, files, models that are specific to one machine (which is my most common use case of using web interface to modify/view records). It would be helpful for the web interface to allow all tables to be sorted by machine ID.  There's 1

[2016-08-03 19:21] gsrohde commented on #244
All constraints except the `outdir` constraint are live.

To do: Incorporate constraints from `miscellaneous_constraints` branch into new batch of constraints.

[2016-08-03 21:10] gsrohde commented on #230
@dlebauer

All constraints have already been added except for minimum year.
[code]
returns
[code]

So two questions: Should some of these be amended or removed and should we have a minimum year constraint (and if so, what?—that's three questions).

[2016-08-03 22:00] dlebauer commented on #230
I cleaned up Wang and Osnas. @mdietze can fix the other two at BU if necessary.

1440 would be a sensible minimum value for publication year because https://en.m.wikipedia.org/wiki/Printing_press

[2016-08-03 22:14] dlebauer commented on #245
@robkooper @mdietze can you address Scott's questions above?

[2016-08-03 22:17] gsrohde commented on #205
To do:
* add uniqueness contraints on apikey and email
* maybe require salt to be non-null

There are only two rows in ebi_production where salt is null (names Carl Davidson and Jacklyn Rodriguez).  I think they can be deleted (they aren't in the UI directory).  I think Rails sets salt, so I don't know why there are NULLs in this column.

[2016-08-03 22:34] gsrohde commented on #181
@dlebauer

There still two pairs of duplicates because of new citations created in April:
[code]
Once this is fixed, I can add the uniqueness constraint.

[2016-08-03 22:49] dlebauer commented on #181
@serbinsh can you fix these duplicate records on your machine?

[2016-08-04 00:04] mdietze commented on #245
Time zone is critical if you put any constraints on started_at and finished_at otherwise this will completely destroy the sync system. All times should be UTC. We decided that a few years ago so hopefully any Central time records are old.   There should be no constraints on the absolute values of start_time and finish_time. The relative constraint of finish being after start seems ok

[2016-08-05 21:35] gsrohde commented on #191
Even if you group by not only date and mgmttype but level and units as well, there are plenty of duplicates even among managements associated with a common treatment.  Try running
[code]
At least most of the groups of duplicates are only of size 2.  Decide if you want to worry about this.

[2016-08-10 16:05] gsrohde opened #434 "Unhelpful error message for bulk upload"
When the `trait_covariate_associations` table contains references to non-existent trait ids, the bulk upload will fail with the message "undefined method `name' for nil:NilClass", which is not very helpful.

The best solution is to ensure this error never occurs by imposing foreign-key constraints.

[2016-08-10 16:25] dlebauer commented on #434
Would it be difficult to allow data to be uploaded for traits that don't have an associated covariate? As is, every time I add a new variable, I have to add covariates.

Or would it be easier to implement new pages to create and edit records in this table?

[2016-08-11 15:48] gsrohde commented on #434
I've been thinking for some time that it should be possible to edit the `trait_covariate_associations` table via the Web interface.  It also would probably not be hard to allow arbitrary variables to be used as trait variables, which would work like this: if a column name corresponds to a variable name and isn't mentioned in the `trait_covariate_associations` table, it would automatically be consi

[2016-08-11 17:21] dlebauer commented on #434
Please start with

How hard would it be to add the new and  edit pages for trait_covariate_associations?

[2016-08-18 18:07] dlebauer commented on #381
@gsrohde can this issue be closed? Are the features from the original post implemented, and do we need to make any new sub issues for additional GET and POST endpoints?

Has all of the new functionality been documented?

[2016-08-18 20:40] gsrohde commented on #381
Remaining API work is in https://github.com/terraref/computing-pipeline/issues/124 so I'm closing this.  The additional trait filters item is not implemented.  If you still think it's important, add it to that issue.  Or if you think the GET API piece really should be a PecanProject/bety issue, let me know and I'll make a new issue and move all the GET-related tasks in issue 124 there.

[2016-08-18 20:40] #381 closed

[2016-09-08 05:29] dlebauer commented on #185
@gsrohde can we add this function to the schema? is it a good idea?

[2016-09-17 19:43] robkooper opened #435 "benchmarks_ensebles_scores` is missing a column"
from @bcow : I just found a problem in bety that I could have sworn we already fixed ` benchmarks_ensebles_scores` is missing a column: it needs `t.text :score, :null => false`

[2016-09-18 21:17] mdietze opened #436 "error in citations.url constraint"
Trying to create a citation for the CLM technical manual http://www.cesm.ucar.edu/models/cesm1.0/clm/
and BETY's yelling at me that
```Url is not a valid URL. Use a schema-qualified URL. To use arbitrary strings, enclose them in parentheses.```
 but I literally cut-and-pasted the URL from my browser and it looks completely normal, so I don't get why it's not a valid URL. I checked #230 and the URL

[2016-09-19 21:43] gsrohde commented on #436
@mdietze This does seem like an error—in this case, in the Rails validator (as opposed to the database constraint).  I'll take a look.  In the mean time, for this particular case, you could just leave off the trailing forward slash.

[2016-09-20 16:17] gsrohde opened #437 "Add support for an "entity" column in CSV files uploaded via the API."
@dlebauer The existing API makes an anonymous entity for each row of the CSV file and associates it with each of the traits given in that row.  It is fairly easy to make the API use a supplied "entity" column to give a name to the entity.  But based on your comment here: https://github.com/terraref/computing-pipeline/issues/33#issuecomment-243856164, it sounds like you want more than this.

See if

[2016-09-20 17:05] dlebauer commented on #437
yes, that is correct. If this is a barcode or other plant identifier, it would make sense for the name to be a key-value pair like `barcode: xyz123` or `plant_id: abc456` to facilitate interpretation.

[2016-09-21 16:14] gsrohde commented on #437
@dlebauer I don't treat things like key-value pairs specially: If the user wants "barcode: xyz123" in the `name` column of the `entities` table, it's simply a matter of putting "barcode: xyz123" in the `entity` column of the CSV file.  If you had in mind it working some other way, I'm open to suggestions.

[2016-09-21 16:33] dlebauer commented on #437
We can have the Clowder extractors provide data as it should be inserted. In the PlantCV example, we (@nfahlgren) could modify the PlantCV extractor to use the correct identifier. But its probably overkill at this point, as I would expect barcodes to be unique. And if not, appropriate constraints should throw an error.

[2016-09-21 17:59] gsrohde commented on #437
I assume what you mean is the value of a `barcode` will never be exactly the same as the value of a `plant_id` so that (for now at least) we needn't worry about identifying the values with keys.

[2016-09-21 18:04] serbinsh commented on #437
May or may not be relevant but we use barcode for all of our trait/spectra data such that the barcode number (e.g. BNLXXXXX) is unique for each sample and in some cases the barcode links across multiple traits, e.g. SLA, leaf N, and spectra.  It would be great to ingest data and maintain this barcode such that we could export that data and maintain the links or barcode column or when multivariate

[2016-09-22 18:09] djaiswal commented on #363
Trait data (spreadhseet name ending with bulk upload) looks okay to be uploaded as it is already checked for quality control by undergrads sometime ago.

However, I still do not see  the original sugarcane yield data in Brasil for cultivar RB72454 on betyDB. In the earlier messages on this issue, you mentioned that it has already been uploaded. Could you please clarify.

Y!.r7(RSU`23,fLv

[2016-09-22 19:18] dlebauer opened #438 "Add cultivars.name, methods.name, and entities.name fields to views and search"
* [ ] Add a new field to traits_and_yields_view
  * should be called 'cultivar' and should contain value in `cultivars.name`
* [ ] allow users to search on this field via web and API

[2016-09-22 19:25] gsrohde opened #439 "Can't update a site with NULL geometry."
The Rails validator will complain that you are trying to update the elevation without updating the longitude or latitude.

Steps to reproduce:
1. Go to the edit page for a site having NULL geometry (for example, site 998).
2. Add to or change the text in the notes field.
3. Click the Update button.
4. You will see the message "Elevation can be updated only if latitude or longitude is also updated"

[2016-09-22 19:40] dlebauer commented on #363
@djaiswal Many of those sheets still require treamtment names and sitenames, and cultivars if they are available

Then I can upload them and
* if the data can be made public, I can make them available without logging in
* if they have been checked, I can make them available without checking the box to 'include unchecked' on the search page (assuming this is where you were looking)

[2016-09-22 19:57] djaiswal commented on #363
@dlebauer

The most recent CSV prepared by you contains filled columns for cultivar, site-names, and cultivar (
[SugarcaneData_Brazil_RB72454.csv.-.alldata_for_upload.8.csv.zip](https://github.com/PecanProject/bety/files/488230/SugarcaneData_Brazil_RB72454.csv.-.alldata_for_upload.8.csv.zip)

Can you please briefly look at each of the three columns that you mentioned . if It is not consistent with

[2016-09-23 15:46] serbinsh commented on #411
@robkooper I can't any new sites to a site group.  I am trying to create NGEE-Arctic and NGEE-Tropics but when I click the + nothing happens.  This is universal in the Site_Groups table.  @mdietze has had the same issue.   Can we get this bug fixed?

[2016-09-23 15:47] serbinsh commented on #411
![screen shot 2016-09-23 at 11 47 05 am](https://cloud.githubusercontent.com/assets/3067369/18792180/7972e5c8-8183-11e6-99ef-bde1233d89d8.png)

[2016-09-25 23:32] gsrohde commented on #411
Need to release.

[2016-09-28 18:51] ashiklom commented on #409
So, related to the PEcAn discussion on 9/28/2016, I think that there should be a distinction between individual-specific categorical traits (e.g. color, health, etc.) and species-specific categorical traits (@mdietze suggested the term "attributes"). I think individual-specific categorical traits should go in the traits and variables table, as @dlebauer suggested above, but I think species-specifi

[2016-09-28 18:55] ashiklom commented on #409
A grey area in here is species phylogeny. I would argue for sticking it in the `attributes` table with `family`, `clade`, etc. as their own attributes, but there could also be legitimate reasons for keeping phylogenetic information in the `species` table.

[2016-09-28 19:15] serbinsh commented on #181
Do I just need to remove one of the records for each?

[2016-09-28 19:31] serbinsh commented on #181
Done

[2016-09-28 19:32] dlebauer commented on #181
@serbinsh did you make sure to update all referents?

 here is a function for removing duplicates: https://github.com/PecanProject/bety/issues/185 it doesn't work across sites, but this could be solved if db managers for all of the sites run it.

[2016-09-28 19:35] dlebauer commented on #409
@ashiklom re "revise the variables table that specifies what kind of variable something is" there is a 'type' field in the variables table

[2016-09-28 19:36] serbinsh commented on #181
@dlebauer What do you mean?

I removed both dups:

[code]

[2016-09-28 19:37] dlebauer commented on #181
@serbinsh did you update all of the tables with a `citation_id` field?

[2016-09-28 19:39] serbinsh commented on #181
Probably not, can you elaborate? What do you mean "update"? Sorry for being slow I just feel like I missed something

[2016-09-28 19:46] gsrohde commented on #181
@serbinsh If you go to http://bety-dev:3000/schemas?partial=citations_table, you can see all the tables that have a `citation_id` column.  (Check Show One Degree and uncheck Show Two Degree to get a simplified view.)  No row in any of these tables should have a value in the `citation_id` column corresponding to the id of a row you deleted.

[2016-09-28 19:48] serbinsh commented on #181
@gsrohde I can't access that site.....I get a server not found error

[2016-09-28 19:48] gsrohde commented on #181
Sorry, I meant https://www.betydb.org/schemas?partial=citations_table.

[2016-09-28 19:53] gsrohde commented on #181
Actually, though, it's only the traits table you have to worry about.  We have foreign-key constaints in place for all of the other tables, so you wouldn't be able to delete the citation if any of those other tables refer to it.

[2016-09-28 19:54] serbinsh commented on #181
Yeah, I could not find anything on that schemas page.  I think we are OK.

[2016-09-28 20:00] dlebauer commented on #181
@serbinsh you should have seen this:

![image](https://cloud.githubusercontent.com/assets/464871/18930076/47b19d2e-858c-11e6-9677-5f14a35111c7.png)

[2016-09-28 20:12] gsrohde commented on #181
Slight correction to my earlier remark: Not only do you have to worry about traits referring to the deleted citations.  It is also the case that if the `citations_sites` or `citations_treatments` table refers to a citation you are deleting, the referring rows will be silently deleted as well.  `managements`, `methods`, `priors`, and `yields` will all complain if you try to delete a referred-to cit

[2016-09-28 21:35] dlebauer commented on #410
* no need to add pages for web interface
* add sites_sites table

[2016-10-03 15:10] gsrohde opened #441 "Finish up and release high-priority issues"
* [ ] https://github.com/PecanProject/bety/issues/368
* [ ] https://github.com/PecanProject/bety/issues/438
* [ ] https://github.com/terraref/computing-pipeline/issues/124
* [ ] https://github.com/PecanProject/bety/issues/410

[2016-10-03 16:28] gsrohde opened #444 "Add a "site containment" table."
This will be a table with two columns—call them, say, "container" and "member"—each referring to an id in the `sites` table.  It will have a row for each pair of sites `A` and `B` such that site `A`  completely contains site `B`, that is `ST_Contains(A.geometry, B.geometry)`.  This table will essentially serve as a cache of this relationship.  (How the table is populated and kept up to date remain

[2016-10-05 17:54] gsrohde commented on #437
In release 4.12.

[2016-10-05 17:54] #437 closed

[2016-10-05 17:55] gsrohde commented on #431
In release 4.12.

[2016-10-05 17:55] #431 closed

[2016-10-05 17:55] gsrohde commented on #439
In release 4.12.

[2016-10-05 17:55] #439 closed

[2016-10-05 18:19] robkooper commented on #435
Following are the migrations (in sql)
[code]

[2016-10-10 21:36] gsrohde commented on #368
@dlebauer, @max-zilla, @robkooper, and anyone else interested: I've made draft changes extending the customization options.  You can see them at https://github.com/PecanProject/bety/pull/447.

Please let me know if you think some things should work differently, if there are things I've left out, or even just if you think a key is badly-name or the name is misleading.

[2016-10-13 15:02] gsrohde commented on #438
I have a draft fix in pull request #448.

[2016-10-19 21:51] gsrohde commented on #430
Fixed but not released.

[2016-10-20 15:23] gsrohde opened #449 "API post request parse errors not handled"
If the user posts a malformed XML or JSON document and explicitly specifies the content type, the Rack middleware will throw a parse error before the Rails application even has a chance to handle it.  The result is that the response will be a hard-to-decipher error message in HTML.

One solution is to use the request_exception_handler Gem.

[2016-10-21 21:56] gsrohde opened #451 "Treatments Listing Page not working correctly"
When there is a selected citation, the "Other Treatments And Managements" section of the page never lists any treatments (I think).

When there is _not_ a selected citation, all existing treatments are listed in this section.  But they have a "link" action (shown with a checkmark icon) that does nothing since there is not default citation to link to.

(See also issue #324.)

[2016-10-24 19:24] gsrohde opened #452 "Unhelpful "Bulk Upload" error message."
If you try to upload a file that specifies the citation by author, year, and title, and if you specify values for these that don't match an existing citation, the error message you get is "undefined method `empty?' for nil:NilClass".

[2016-10-26 20:01] gsrohde opened #453 "Extend the Bulk Upload Wizard to allow specifying time of day of trait measurements"

[2016-10-26 20:38] dlebauer commented on #453
Does the API already support this?

[2016-10-26 20:42] gsrohde commented on #453
Yes.  The API allows you to use either just the date or the date-with-time and allows you to use either local time (site time) or UTC.

[2016-10-26 20:46] dlebauer commented on #453
@gsrohde thanks for the clarification. I think that will be sufficient for now, so we can mark this as lower priority.

[2016-10-27 15:44] rachelshekar commented on #368
this looks good.  we'll create a new issue for additional features

[2016-10-27 15:44] #368 closed

[2016-10-27 15:50] gsrohde commented on #430
Fixed by 4.13 release.

[2016-10-27 15:50] #430 closed

[2016-10-27 15:52] gsrohde commented on #438
Implemented by release 4.13.

[2016-10-27 15:52] #438 closed

[2016-10-27 15:53] gsrohde commented on #435
Fixed by release 4.13.

[2016-10-27 15:53] #435 closed

[2016-10-28 22:07] gsrohde opened #454 "Redirects are misconfigured on ebi-forecast"
To demonstrate this problem, try the command

[code]

(You can also just try putting `https://betydb.org/citations` in your browser address box.  But putting `betydb.org/citations` in the browser box will probably work.)

The result will be

[code]

In other words, the forward slash between the host and the path is missing upon redirection.  Instead, one should get the Login page, or, if credentia

[2016-10-28 22:12] dlebauer commented on #454
@gsrohde what is the solution? Is this true for api/citations endpoint too?

[2016-10-31 15:16] gsrohde commented on #454
@dlebauer I think this is probably an Apache configuration problem.  I'll take a quick look at it and then turn it over to David Slater to fix.

This problem _does_ affect the API endpoints as well.

In the interim, the best solution is to always include the `www` in the URL.

[2016-10-31 16:02] gsrohde commented on #454
@dlebauer One additional note: https://www.betydb.org is the _canonical_ URL for this BETYdb instance.  If you type https://betydb.org or http://www.betydb.org or http://betydb.org, you will be redirected to https://www.bety.org _and the URL in your browser address box will automatically change to this._  Moreover, if you do `curl "https://betydb.org"`—that is, use curl without the `-L` option, yo

[2016-10-31 19:32] gsrohde commented on #454
Fixed.

[2016-10-31 19:32] #454 closed

[2016-11-03 21:21] gsrohde opened #455 "Occasionally it is impossible to log out of BETYdb"
At www.betydb.org (and perhaps other BETYdb sites), I have occasionally had this happen: I am logged in and click the Logout button.  The green "You have been logged out." banner appears.  But in fact, I am still logged in.  No login form appears on the home page.

[2016-11-07 21:12] gsrohde opened #456 "Beta API response does not set charset setting in Content-Type header."
How to reproduce:

## From the command line:

Run the command
[code]
This will return a list of several headers, one of which will be
[code]
We want this to say
[code]

## In a browser
Visit `https://www.betydb.org/api/beta/search?author=Iglesias&key=Kq2xEWiRCyj90Sq7EFVn2A0LxJb58UTbscJl4fJP`.  The result will be a JSON document.  Since no charset information is returned, the browser is likely to d

[2016-11-08 20:38] gsrohde opened #457 "Re-style links for adding or subtracting sites from a site group"
The automatic underlining of the `+` link makes these slightly confusing.

Possibly make the `+` and `X` controls a bit larger.

Similar interfaces for adding and deleting associations should be changed likewise.

[2016-11-09 17:00] gsrohde opened #458 "Ensure that all GET requests to BETYdb are "safe"."
Best practices dictate that a GET request should not change resource state.

There are still some places where GET requests are used to insert or update data.  These should be changed so that POST or PUT requests are used instead.

[2016-11-10 16:54] gsrohde opened #459 "Change bulk upload (via wizard or API) to allow for traits not in the trait_covariate_associations table"
See https://github.com/terraref/computing-pipeline/issues/193#issuecomment-259544235 for discussion of how this should work.

[2016-11-10 18:02] gsrohde opened #460 "Allow a "dry run" option for the trait-insertion API"
This would allow for uploading a file just to check it without inserting any data.

Possible checks include:
1. Warning about extraneous columns.  (In particular, a mis-spelled column name would be caught before the upload.  The API will silently ignores such columns, and unless a column is _required_ (e.g., `access_level`), the data insertion will proceed, ignoring data in the mis-spelled column.

[2016-11-10 18:38] serbinsh commented on #460
I really like this idea.

[iPhone]

On Nov 10, 2016, at 1:03 PM, Scott Rohde <notifications@github.com<mailto:notifications@github.com>> wrote:

This would allow for uploading a file just to check it without inserting any data.

Possible checks include:

  1.  Warning about extraneous columns. (In particular, a mis-spelled column name would be caught before the upload. The API will silently ignore

[2016-11-10 20:26] gsrohde commented on #460
One can sort of fake this feature now: Leaving out the `access_level` column (or temporarily renaming the column heading) will prevent an insert from happening since this is a required column.  But you will still get some feedback on your data (e.g., whether or not unique matches for metadata column values were found).

[2016-11-16 22:40] gsrohde opened #461 "Need "nicer" error handling when beta API data requests have a bad query string"
We can search for hybrid species by searching on the cross symbol (×) with the query https://www.betydb.org/api/beta/species?key=&scientificname=~%C3%97.  But suppose the user mistakenly writes %3C%97 instead of %C3%97 for the URL encoding of the cross symbol.  The query then becomes https://www.betydb.org/api/beta/species?key=&scientificname=~%3C%97.  This query will respond with the (HTML) "We'r

[2016-11-22 18:19] istfer opened #462 "Need "unique_run_variable_input_combination" constraint to be removed"
I am working on a new implementation of the emulator method in PEcAn. For a given run, I compare  model outputs and data, and then calculate the sufficient statistics (SS) more than once for each proposed bias parameter.

I want to store these (multiple) SS values (per unique run_id, variable_id and input_id) in the `likelihood` table but the `unique_run_variable_input_combination` constraint does

[2016-11-22 18:27] istfer opened #463 "schema change for likelihoods for more precision"
Related to issue #462

The SS values I calculate are very close to each other, such as `-35.38833`, `-35.38797` which all become `-35` in the database and can only be retrieved back as `-35`.

The current table doesn't allow any decimal points for loglikelihood (`numeric(10,0) `):
[code]

I need to do more tests for other variables but at least for the `loglikelihood` column I would need 5 digits

[2016-11-28 17:09] gsrohde commented on #463
@dlebauer, @robkooper Any reason not to use floating point types (e.g., double precisions) for these?  We changed most other numerics to floats in this migration: https://github.com/PecanProject/bety/blob/master/db/migrate/20160303221049_change_numerics_to_floats.rb

[2016-11-28 17:14] robkooper commented on #463
I see no reason not to.

[2016-11-29 16:56] gsrohde commented on #462
@dlebauer Would you take a look at this request?  Were we rash in imposing this constraint, or is there a better alternative to the way she wishes to use this table?  I don't think I have enough domain knowledge to evaluate whether or not this is a reasonable request.

[2016-11-29 17:36] dlebauer commented on #462
@gsrohde we implemented these before they were used very much, and supporting an actual use case is a reasonable request. I'll punt to @robkooper and @mdietze

[2016-11-29 18:00] mdietze commented on #462
This is a reasonable request. Istem's the one who's been deep in the weeds on this part of pecan and I've discussed this with her -- relaxing this constraint is the best solution to the problem of needing to estimate non-model parameters during data assimilation. Specifically, for a given run/data/variable combination we need to evaluate multiple possible non-model parameters ( bias, variance etc)

[2016-11-29 19:16] robkooper commented on #462
I'd say for now drop the constraint.

[2016-12-05 21:39] gsrohde opened #465 "Some Rails tests depend on now-customizable portions of the Home page"
One test, for example, tests that the home page has been reached by looking for the text "Welcome to BETYdb".  But this text is now customizable, and the test will fail if the Home page instead says (for example) "Welcome to TERRA REF phenotype database".

This affects only a few tests.

[2016-12-06 18:06] gsrohde commented on #432
Now, only a count of associated rows is returned, to a listing of all of the ids.

[2016-12-07 20:55] gsrohde opened #466 "Add support for an entity column in CSV files for Bulk Upload"
This should work similarly to the way it works for the trait-insertion API.

[2016-12-07 22:18] dlebauer commented on #432
@gsrohde I revised the title to reflect that it should be kept as an option rather than removed completely.

But rather than prescribing how it is implemented, I'll give an example use case that we will need to support:

1. Find all sites where name partially matches, e.g. "Season 2"
2. Find all traits associated with sites from 1)
3. Find all treatments associated with results from 2)
4. Find all

[2016-12-07 23:35] dlebauer opened #468 "When `show_crop_map_links: false`, Model I/O tab should dissapear"
The Model I/O tab points to the same place as the crop model maps. This is redundant. For customization, the `show_crop_map_links:false` should turn both of these off so as to avoid confusion

[2016-12-12 22:04] gsrohde opened #469 "Miscellaneous customization issues"
* [ ] Decide on names for customization templates and check them in (e.g. `terraref-application.yml`).
* [ ] Check in custom images referred to by customization templates.
* [ ] Decide whether to allow "additional styling" customizations for elements other than the sponsors list items.
* [ ] Document: provide a "how-to" guide for customization.

[2016-12-12 22:06] gsrohde commented on #368
For additional pending issues, see new issue https://github.com/PecanProject/bety/issues/469.

[2016-12-15 18:17] dlebauer commented on #441
@gsrohde please update

[2016-12-15 18:18] dlebauer commented on #444
closed because functionality handled by experiments and sitegroups tables

[2016-12-15 18:18] #444 closed

[2016-12-15 18:19] dlebauer commented on #410
@gsrohde can this be closed?

[2016-12-15 18:30] dlebauer opened #470 "Allow Bulk Upload Wizard user to specify method globally"
* could have one or more traits per row associated with the same method
* add trait - method associations to confirmation page

[2016-12-15 21:46] gsrohde commented on #410
@dlebauer The three experiments tables were part of release 4.13.  But I see that `cultivar_id` was never added to the `experiments_sites` table as you requested in comment https://github.com/PecanProject/bety/issues/410#issuecomment-217205761.  Do you still want this?

[2016-12-15 21:52] dlebauer commented on #410
No, lets not add cultivar_id to experiments_sites. I'll close this issue

[2016-12-15 21:52] #410 closed

[2017-01-05 23:11] dlebauer opened #471 "Add "experiments" new, edit, and show pages"
There should be pages to define, edit, and show 'experiments' (added in #410) within the BETYdb UI.

This should allow users to fill out the following fields:

* name
* start_date
* end_date
* description (description of experiment)
* design (description of experimental design)

Start date and end date can be simple drop downs.
Design and description should be larger text boxes.

Once an experimen

[2017-01-09 20:35] gsrohde opened #472 "There is an HTML class that is alternately spelled "final_paginate_row" or "final_paginagte_row"."
The "paginagte" spelling is used in the majority of templates and in the stylesheet, so probably most pages are styled correctly in spite of what appears to be a misspelling.  But there is a jQuery call in app/views/layouts/search.js.erb that uses the "paginate" spelling, so whatever this is supposed to be doing it probably isn't in most cases.  Investigate.

[2017-01-11 03:49] gsrohde commented on #472
Fixed

[2017-01-11 03:54] gsrohde commented on #432
To-do: Now that showing associated ids is off by default, I have to add the option to show them.

[2017-01-11 03:58] #456 closed

[2017-01-11 04:05] gsrohde commented on #456
Fixed by release 4.14.

[2017-01-11 04:06] gsrohde commented on #461
Fixed by release 4.14.

[2017-01-11 04:06] #461 closed

[2017-01-11 04:07] gsrohde commented on #462
Fixed by release 4.14.

[2017-01-11 04:07] #462 closed

[2017-01-11 04:09] gsrohde commented on #463
Fixed by release 4.14.

[2017-01-11 04:09] #463 closed

[2017-01-11 04:10] gsrohde commented on #465
Fixed by release 4.14.

[2017-01-11 04:10] #465 closed

[2017-01-11 04:14] gsrohde commented on #308
Fixed by release 4.2.

[2017-01-11 04:22] gsrohde commented on #288
In release 4.2.2.

[2017-01-11 16:31] gsrohde opened #473 "Error when viewing certain sites in bety-mepp instance"
For example, try visiting https://terra-mepp.illinois.edu/bety/sites/8000000002.

This is most likely a problem with the RGeo Gem installation—when it isn't installed correctly, the "centroid" method fails and so no non-point sites can be displayed.  To test that it is installed correctly, run the RSpec test for this from the Rails root directory:
[code]
Alternatively, if the test database and con

[2017-01-12 15:01] gsrohde opened #474 "Sites show pages are accessible without logging in."
For example, without logging in, visit https://www.betydb.org/sites/580.

[2017-01-12 17:00] dlebauer commented on #474
I think this is a feature not a bug ...
On Thu, Jan 12, 2017 at 9:01 AM Scott Rohde <notifications@github.com>
wrote:

[2017-01-12 18:48] dlebauer opened #475 "Add cultivars_sites table"
Scott ... please define this issue

https://github.com/terraref/computing-pipeline/issues/201#issuecomment-267458905

[2017-01-12 20:40] gsrohde commented on #474
That occurred to me.  The main thing is that the behavior is not uniform across the various "metadata" tables: You can view individual sites and individual species without logging in but not individual citations.  And you can't view the sites list without logging in.  Perhaps not worth worrying about though.  Close if you see fit.

[2017-01-12 22:48] gsrohde commented on #475
This will be a simple join table with columns for `cultivar_id`, `site_id`, and the usual administrative columns (timestamps and `id`).  Foreign-key constraints (and not-null constraints) will be added so that rows in this table must refer to existing sites and cultivars, and cultivar or site rows can't be removed if they are referenced by a row in this table.  Additionally, the `site_id` must be

[2017-01-13 17:16] gsrohde commented on #473
Fixed.

[From David Slater:

I think it is working now.  It didn't uninstall the rgeo gems.  I went
through the vendor folder and removed all rgeo references.  Then install
the gem.  Now https://terra-mepp.illinois.edu/bety/sites/8000000002 works.
]

See also issue #423.

[2017-01-13 17:16] #473 closed

[2017-01-25 22:18] gsrohde commented on #432
@dlebauer I added a parameter "associations_mode" with possible values "count", "ids", and "full_info" to control the amount of information to show about associations.  If you omit the parameter, the API behaves as it did before, showing association counts when a list of objects (e.g. "sites") is requested and showing full information about associations when a particular object is requested.

For

[2017-01-26 21:38] gsrohde opened #476 "Clean up data to allow all constraints currently on terraref bety site to be imposed universally."
BETYdb on terraref has a migration 20160629194608_add_additional_constraints.rb that is not checked into the repository because of constraint violations in the database for betydb.org. We should clean up this database and then check the migration into the repository.

[2017-01-26 21:40] gsrohde commented on #476
BETYdb on terraref has a migration 20160629194608_add_additional_constraints.rb that is not checked into the repository because of constraint violations in the database for betydb.org.  We should clean up this database and then check the migration into the repository.

[2017-01-26 22:04] dlebauer commented on #476
is there a list of violations?

On Thu, Jan 26, 2017 at 3:40 PM Scott Rohde <notifications@github.com>
wrote:

[2017-01-26 22:16] gsrohde commented on #476
I'm in the process of compiling a list.

[2017-01-30 19:08] dlebauer opened #477 "Updates to /search api endpoint"
There were two issues that I noticed about the /search endpoint

1. it does not actually filter by search terms (e.g. api/beta/search?search=NDVI returns more than just NDVI)
2. The output is not particularly user friendly.

For example, it would be great if the endpoint could return something like:

[code]

Key changes:
* removes many confusing fields
* results are in a sensible order
* raw_date

[2017-02-01 21:01] infotroph opened #479 "species vs specie in new API"
I know this has been discussed in general terms before (e.g. #380), but the new API appears to differ from the original with respect to what's a 'species' and what's a 'specie'. Note that the four calls below return the singular form three times and the plural once. Is this intentional?

https://www.betydb.org/species.json?id=1
[{"specie":{ ... }}]

https://www.betydb.org/species/1.json
{"specie":

[2017-02-01 21:40] gsrohde commented on #479
It should be "species" throughout.  "specie" was a result of a misguided attempt to conform with Rails' default naming rules and in any case never should have been exposed to end users (since it isn't a word!).  It looks like I missed a few places.

[2017-02-02 19:46] rachelshekar opened #480 "update TERRA BETYdb landing page"
on https://terraref.ncsa.illinois.edu/bety/

- [x] change the default text in the search box from "EX: Panicum Nitrogen" to "EX: Sorghum MAC" [will take effect when a new release is pushed to the Terra Ref site]
- [x] remove Model I/O from menu - this refers to EBI data [will take effect when a new release is pushed to the Terra Ref site]
- [x] fix footer image display (remove sorghum image if tha

[2017-02-06 21:17] serbinsh opened #481 "Issue when creating new formats: Some variable information doesn't stick"
I am noticing that when creating formats via BETYdb web often when defining a variable if you don't put in Name, Unit, Storage Type in at the right time, the information doesn’t stick upon add or update. If you then try to add back and “update” it disappears after sync? Only way around is to delete the variable and re-add but then things get out of order (which isn’t critical)….Just wondered if an

[2017-02-06 21:18] serbinsh commented on #481
<img width="631" alt="screen-shot-2017-02-06-at-8 18 21-am" src="https://cloud.githubusercontent.com/assets/3067369/22666757/f020e7f0-ec87-11e6-8b00-5f10686cec63.png">

[2017-02-08 18:39] dlebauer opened #482 "Errors in search --> download, output csv"
High priority

* Entity and Methods columns only return values in the first record
* Citation information should match that in the home page / footer
* return raw date

[2017-02-08 22:13] gsrohde commented on #482
@dlebauer If the the entity and methods columns only returned values in the first record, then that was probably the only returned record for which they were not blank.  If you think otherwise, please provide and example that demonstrates this.

Note that the "raw date" will most likely show up in Excel without timezone offset information and with the time interpreted as Central time.  You may hav

[2017-02-09 23:23] ch1eroe1 opened #483 "02-modelsites.php site rendering performance enhancement"
Trying to improve the site rendering performance of 02-modelsites.php.

[2017-02-10 00:43] dlebauer commented on #482
I'll close this -

[2017-02-10 02:25] gsrohde commented on #482
@dlebauer Does this mean you don't want 2 and 3 implemented?  I would think you'd at least want 2 (citation information).

[2017-02-10 21:36] gsrohde commented on #480
I changed "Phenotype Database" to "TERRA REF Phenotype Database" in the site identification markup but I didn't remove the BETYdb.  This is the name we use to refer to the Rails Web application and the database schema used by both the EBI and the TERRA REF databases.  I was partly following the model of David's Gist here https://gist.github.com/dlebauer/cfd4bb6de70d8ae75bec6804d8c3b16a/revisions w

[2017-02-10 21:58] dlebauer commented on #482
Sorry I didn't read the original post again and missed this. Yes to 2&3

[2017-02-21 15:35] dlebauer commented on #419
@gsrohde I set up daily jobs on bety6 to run

[code]

Is there a better way to automate this?

[2017-02-23 20:25] gsrohde commented on #419
@dlebauer Did you use a cron job?  If so, which crontab did you use?

I think this is OK as far as it goes, but by themselves, these two commands aren't sufficient: You also need to refresh `traitsview_private` and (if used) `yieldsview_private`.  Moreover, the refreshes should be done in order of dependency unless you want to wait an extra day to see the result of changes to the traits or yields

[2017-02-23 20:28] dlebauer commented on #419
I did it with Navicat ... of you can do it in a way that doesn't depend on
my desktop computer and works for all instances of BETYdb that would be
preferable. Then I can delete the one on my desktop
On Thu, Feb 23, 2017 at 2:25 PM Scott Rohde <notifications@github.com>
wrote:

[2017-02-23 20:37] gsrohde commented on #419
@robkooper I notice the bety6 root crontab is managed by puppet.  Can we have puppet handle refreshing the views as well?  Or should I just put something in my own crontab?  @dlebauer I assume we also want to refresh materialized views on bety7, yes?

[2017-02-23 21:05] dlebauer commented on #419
bety7 is lower priority than betydb.org ... can this be added as a general
solution e.g. via migration + rake task?
On Thu, Feb 23, 2017 at 2:37 PM Scott Rohde <notifications@github.com>
wrote:

[2017-02-23 21:08] dlebauer commented on #419
Or at least added to documentation in a way that is straightforward to
implement? I suspect other users will want this feature as well.
On Thu, Feb 23, 2017 at 3:05 PM David LeBauer <dlebauer@gmail.com> wrote:

[2017-02-23 22:41] robkooper commented on #419
If you need to update the view, use the cronjob. Only those entries that have a comment in front #puppet will be managed by puppet. You can add any crontab entries at the top you want.

[2017-02-24 20:43] gsrohde commented on #479
Commit 542028c fixes this for the beta API.

[2017-03-03 20:56] gsrohde commented on #459
Changes for the API have been implemented (but not deployed).  This changes the API behavior as follows.

[From issue #193:]

1. Any column heading that matches an existing variable name will be recognized as a trait variable except (a) if it is listed in the `trait_covariate_associations` table as a covariate; (b) in the unlikely event that it also happens to match one of the canonical column hea

[2017-03-06 21:39] gsrohde opened #485 "Bulk Upload doesn't handle blank entries in "notes" column."
If the bulk upload file includes a `notes` column and there is an empty cell in the column, Rails treats this as `nil` and tries to insert a null into the traits or yields table.  This violates the non-NULL constraint and the upload fails.  The empty string should be inserted instead.

[This has been hacked to work on the terraref site.]

[2017-03-07 17:40] gsrohde commented on #483
@ch1eroe1 I think this issue belongs in PecanProject/pecan.

[2017-03-08 14:06] robkooper commented on #483
Created in wrong project.

[2017-03-08 14:06] #483 closed

[2017-03-10 11:23] samsrabin opened #486 "Missing data: Irrigation level"
In the management table, rows with mgmttype "irrigation" and units "True = 1, False = 0" only have levels 1 or NA. Some rows with NA appear to have been irrigated, some do not.

Apologies if this is not the right venue for this!

[2017-03-10 12:07] samsrabin commented on #486
Relatedly (?), Christian et al. (2001: "Agronomy of Miscanthus") appears to have way too many records, and the issue appears to derive from false distinctions in irrigation.

[2017-03-10 13:05] samsrabin opened #487 "Working with BETYdb from PEcAn virtual machine"
I'm new to all this and had a devil of a time figuring out how to access BETYdb using the PEcAn virtual machine. @dlebauer helped me out with the info I needed. It turns out there's no one place where this is all explained, so I'll do that in a reply to this issue.

[2017-03-10 13:19] samsrabin commented on #487
I have only done this on a Mac. Here were my steps:
1. Setting up the virtual machine:
   1. Download PEcAn virtual machine (.ova file) from [here](https://opensource.ncsa.illinois.edu/projects/artifacts.php?key=PECAN).
   1. Download and install [VirtualBox](https://www.virtualbox.org/wiki/Downloads).
   1. Open VirtualBox. If you want, go to the preferences and change your default machine folder

[2017-03-10 15:14] dlebauer commented on #487
@samsrabin thanks! Is the VM really 14-15 GB?

I'll note that the VM is a good place to start when using PEcAn. For just reading data, the R traits package can be used to connect to the live database (URL betydb.org) via the API https://github.com/terraref/tutorials/blob/master/traits/04-agronomic-metadata.Rmd

But Ill reopen until that is moved to the BETYdb data access documentation

[2017-03-10 17:02] dlebauer commented on #403
@gsrohde has this been deployed? #422 has been merged

[2017-03-10 17:38] gsrohde commented on #403
@dlebauer Pull request #422 only adds the ids to the table—it's only a preliminary step toward fixing the problem.  I think now @robkooper has to uncomment the commented out code he mentioned in his previous comment in order for things to work.

[2017-03-11 10:16] samsrabin commented on #487
Yep, I have the .vmdk file at 14.42 GB. Great point about the traits package, it's also good to have that here.

[2017-03-11 10:46] samsrabin commented on #486
Here's code to reproduce the Christian et al. (2001) issue, which also has to do with apparently spurious planting dates.

    # Extracting management data for Miscanthus
    ### Based on https://pecan.gitbooks.io/betydb-data-access/content/r_dplyr_package.html

    # Connect to database
    library(dplyr)
    library(data.table)
    ## connection to database
    d <- list(host = 'localhost',

[2017-03-11 10:58] samsrabin commented on #487
Unfortunately it doesn't seem like the traits package can do what that tutorial suggests anymore. `betydeb_query()` appears to have been removed. The closest it gets now is `betyb_search()`, which appears to basically just give the same output as searching via the web interface (without unchecked records).

[2017-03-11 18:05] dlebauer commented on #487
@infotroph can you please check that https://github.com/terraref/tutorials/blob/master/traits/04-agronomic-metadata.Rmd is up to date?

[2017-03-15 03:19] infotroph commented on #487
@samsrabin `betydb_query` still exists—in fact `betydb_search` is just an alias for `betydb_query(search=query, table="search", ...)`—but it's [hard to discover that](https://github.com/ropensci/traits/issues/91) because `betydb_query` is documented on a different page from the rest of the bety functions. Can you confirm that `?betydb_query` exists on your system and that the examples shown there

[2017-03-15 13:43] #466 closed

[2017-03-15 13:43] gsrohde commented on #466
Fixed by release 4.15.

[2017-03-15 14:18] gsrohde commented on #471
Fixed by release 4.15.

[2017-03-15 14:18] #471 closed

[2017-03-15 14:20] gsrohde commented on #432
Fixed by release 4.15.

[2017-03-15 14:20] #432 closed

[2017-03-15 14:21] gsrohde commented on #482
Fixed by release 4.15.

[2017-03-15 14:21] #482 closed

[2017-03-15 14:21] gsrohde commented on #459
Fixed by release 4.15.

[2017-03-15 14:22] gsrohde commented on #472
Fixed by release 4.15.

[2017-03-15 14:22] #472 closed

[2017-03-15 14:29] samsrabin commented on #487
@infotroph Unfortunately I'm not getting anything for `?betydb_query`. I have traits 0.2.0 and R 3.3.3 installed, in case that matters.

[2017-03-15 14:47] dlebauer commented on #487
@samsrabin thanks for reporting the version. I think the issue is that recent changes haven't been released to cran (and its been almost a year since the 0.2.0 release). Could you try

[code]

to get the most recent changes?

[2017-03-15 14:51] dlebauer commented on #487
@sckott do you have a timetable for creating a new release of the traits package? I think @infotroph is done with his work and it would be great to have the version on CRAN using our new API.

But to be clear, the ease of the `install_github` function makes this a 'nice but not necessary to have'

[2017-03-15 15:16] samsrabin commented on #487
When I do that (using `install.packages` because `install_packages` isn't found), I get the following:

    Warning in install.packages :
      package ‘ropensci/traits’ is not available (for R version 3.3.3)

[2017-03-15 15:20] samsrabin commented on #487
Ah, I found the code to get the dev version [here](https://ropensci.org/tutorials/traits_tutorial.html):

    if (!require("devtools")) install.packages("devtools")
    devtools::install_github("ropensci/traits")
    library("traits")

The version installed is 0.2.0.9410, which has `betydb_query`. Thanks!

[2017-03-15 15:48] samsrabin commented on #487
So the examples in `?betydb_query` all seem to work...

But it seems that there is an issue with [the tutorial](https://github.com/terraref/tutorials/blob/master/traits/04-agronomic-metadata.Rmd). Everything works great until the attempt to create the `traits` table, which gives me:

    Error in UseMethod("select_") :
      no applicable method for 'select_' applied to an object of class "NULL"

[2017-03-15 16:20] gsrohde commented on #479
Fixed by release 4.15.

[2017-03-15 16:20] #479 closed

[2017-03-15 16:23] gsrohde commented on #480
Keeping this open pending further improvement to sponsor logos.

[2017-03-15 16:24] gsrohde commented on #485
Fixed by release 4.15.

[2017-03-15 16:24] #485 closed

[2017-03-15 17:49] sckott commented on #487
@dlebauer can push soon I think - i'll check over the pkg and the recent betydb work and get back to you.

[2017-03-15 17:50] sckott commented on #487
@samsrabin and others:

is https://github.com/PecanProject/bety/issues/487#issuecomment-286785067 a problem with `traits` pkg?

[2017-03-15 19:51] gsrohde opened #488 "Add experiments table to data menu in the BETYdb Rails app."
Add link to /experiments to Runs menu:

![image](https://user-images.githubusercontent.com/464871/29419768-96ffb27e-8335-11e7-9ee4-30097e1cdc17.png)

[2017-03-15 19:52] gsrohde opened #489 "You can't get a list of related sites for an experiment in the BETYdb Rails app."
@dlebauer Is this a needed feature?

[2017-03-15 19:57] gsrohde opened #490 "rake bety:dbdocs task fails on terra-ref site"

[2017-03-15 21:30] dlebauer commented on #487
@samsrabin thanks

some of the wierdness is due to the fact that the examples are from a different instance of BETYdb than betydb.org. The instance at terraref.ncsa.illinois.edu/bety currently only contains data for Sorghum breeding trials. But it is the only example where we've joined tables that had been queried using the traits package.

So there should be one species (Sorghum bicolor), two pla

[2017-03-15 21:32] dlebauer commented on #487
@sckott the issue isn't with the traits package: @samsrabin was using the version 0.20 on CRAN rather than the most recent changes from @infotroph on GitHub so he ran into errors with our tutorials.

[2017-03-15 21:55] dlebauer commented on #489
Nice to have if / when you are updating the show page but not essential (yet).

[2017-03-15 21:56] dlebauer commented on #488
Yes
On Wed, Mar 15, 2017 at 2:51 PM Scott Rohde <notifications@github.com>
wrote:

[2017-03-16 16:32] serbinsh commented on #403
@dlebauer @robkooper is there a work around until this is automated? I am running into this issue and may be why I can not use the Bulk Uploader on our instance of BETYdb (modex.bnl.gov/bety)

[2017-03-16 16:41] samsrabin commented on #331
I'm also having problems updating betydb. I know it needs to happen because the schema on the VM seems to be different from that described [here](https://www.betydb.org/schemas?partial=index_table). (I'm also hoping that the irrigation issue, #486, will be fixed...)

When I do load.bety.sh, I get this error:

    Checking schema                    : EXPECTED SCHEMA version 02faa8d3fa7a231a49291838

[2017-03-16 17:45] dlebauer opened #491 "Experiments tables missing from BETYdb dump"
The experiments and experiments_sites tables are missing from the current BETYdb dump.

Completion criteria:
* [ ] Experiments* tables (and any other new tables) are included in the dump

---
moved from https://github.com/terraref/computing-pipeline/issues/293

[2017-03-16 19:42] gsrohde commented on #491
This is really Rob's bailiwick.  Reassigning.

[2017-03-16 20:04] gsrohde commented on #331
@samsrabin You need only run `bundle install` if the Gem set (specified in `Gemfile`) has changed since you first installed BETYdb or since you last ran `bundle install`.  And `Gemfile` hasn't changed since last July.

What you _do_ need to do is update the database schema.  The command to do this is
[code]
or, if it is the database for the _production_ environment (as specified in config/database

[2017-03-16 20:40] dlebauer commented on #403
@serbinsh workaround to populate the trait_covariate_associations table is to run this:

https://gist.github.com/dlebauer/0000fde0c926e2185380056d0743ee53#file-trait_covariate_associations-sql

[2017-03-16 21:16] serbinsh commented on #403
OK, so updating the table using commands like:

[code]

And then trying bulk upload again worked for me so it seems the solution is to populate that table?

[2017-03-16 21:24] gsrohde commented on #459
Re-opening.  This feature is not yet working properly.

[2017-03-16 22:21] dlebauer commented on #486
@samsrabin I am not sure who encoded irrigation as a boolean with these units, though I suspect that their intentions were pure.

The managements table is for events that do happen. Often, we record that an irrigation event happened but we don't know how much. I've updated the table in the master database (betydb.org) so you could either do the same queries against that database using the traits p

[2017-03-16 22:38] dlebauer commented on #487
I've updated the documentation with instructions for using the VM
https://github.com/PecanProject/betydb-data-access/commit/0ddd0541bd660f09eceff7343a156604530bac7f.

Thanks for your contributions @samsrabin

[2017-03-16 22:38] #487 closed

[2017-03-16 22:49] #491 closed

[2017-03-16 22:49] #403 closed

[2017-03-17 08:54] samsrabin commented on #486
I've actually already been adding irrigation info on my own a bit, so I'd be happy to contribute what I have. I'll apply for access as a collaborator. Is there a way to upgrade the access level for my existing account (srabin) or should I re-apply completely?

Also, and I realize this probably implies a ton of work, but it'd be nice to have a definitive way to know (a) if fields _weren't_ irrigate

[2017-03-17 14:54] samsrabin commented on #331
When I try either of the `bundle exec rake db:migrate` commands, I get the following error:

    bundler: command not found: rake
    Install missing gem executables with 'bundle install'

[2017-03-17 14:57] gsrohde commented on #331
What does `bundle check` show?

[2017-03-17 14:59] samsrabin commented on #331
`bundle check` gives:

    git://github.com/rails/prototype_legacy_helper.git (at master@a2cd95c) is not yet checked out. Run `bundle install` first.

[2017-03-17 15:23] gsrohde commented on #331
Try commenting out the `prototype_legacy_helper` Gem (with a `#`) in `Gemfile` (line 27, I think) and running it again.

[2017-03-17 15:28] samsrabin commented on #331
Okay, `bundle check` now gives a bunch of missing gems, including `rake (11.1.2)`.

`sudo apt-get install rake` gets stuck at `0% [Connecting to us.archive.ubuntu.com (91.189.91.26)]`.

[2017-03-17 15:29] robkooper commented on #331
are you running the bundle exec as root or as teh carya user? It should be executed as the carya user.

[2017-03-17 15:29] samsrabin commented on #331
I'm running as carya.

[2017-03-17 15:39] samsrabin commented on #331
Here's the full output of `bundle check`:

    Resolving dependencies...
    The following gems are missing
     * rake (11.1.2)
     * i18n (0.7.0)
     * multi_json (1.3.6)
     * activesupport (3.2.22.2)
     * builder (3.0.4)
     * activemodel (3.2.22.2)
     * erubis (2.7.0)
     * journey (1.0.4)
     * rack (1.4.7)
     * rack-cache (1.6.1)
     * rack-test (0.6.3)
     * hike (1.2.3)

[2017-03-17 15:47] gsrohde commented on #331
If your Rails app is still functioning (or even if it ever did function) something else is going on.  You shouldn't be missing all the Gems.

Are you running this in the Rails root directory?  Are you using rvm (Ruby Version Manager)?

[2017-03-17 15:48] samsrabin commented on #331
I don't know about rvm. I'm just using whatever comes with the VM...

[2017-03-17 15:50] gsrohde commented on #331
@robkooper Can you help?  You know much more about the VM setup than I do.

[2017-03-17 16:31] robkooper commented on #331
This is what I use to install BETY: https://github.com/PecanProject/pecan/blob/master/scripts/install_pecan.sh#L408

[2017-03-17 18:42] serbinsh commented on #403
Actually this is how I ran the command, leaving here for posterity
psql -U bety -d bety -a -f trait_covariate_associations.sql

[2017-03-18 12:47] samsrabin commented on #331
Okay, I reinstalled the VM and the weirdness with all the Gems is fixed. Now I get the following error when running `bundle exec rake db:migrate --trace`:

    carya@pecan:~/bety$ bundle exec rake db:migrate --trace
    ** Invoke db:migrate (first_time)
    ** Invoke environment (first_time)
    ** Execute environment
    rake aborted!
    ActiveRecord::AdapterNotSpecified: database configuration

[2017-03-18 12:54] samsrabin commented on #331
@robkooper When I try to do `bundle install --without development:test:javascript_testing:debug --path vendor/bundle` on the VM, I have the same thing where it gets stuck on `Fetching source index from http://rubygems.org/` and then says `Bundler::HTTPError Could not fetch specs from http://rubygems.org/`.

[2017-03-18 13:05] robkooper commented on #331
Can you ping the outside world from inside the VM, for example does ping 8.8.8.8 work? I have had problems where if I started the VM at work and went home it could not connect. A shutdown and start would clear this situation for me.

As for the trace, try adding RAILS_ENV=production at the end. In the config.yaml there is no development environment defined, which is what I think rake defaults to.

[2017-03-18 13:23] samsrabin commented on #331
@robkooper `ping` does work fine. Here's what happens when I add `RAILS_ENV=production` as you suggested:

    ** Invoke db:migrate (first_time)
    ** Invoke environment (first_time)
    ** Execute environment
    ** Invoke db:load_config (first_time)
    ** Execute db:load_config
    ** Execute db:migrate
    ** Invoke db:_dump (first_time)
    ** Execute db:_dump
    ** Invoke db:structure:dump

[2017-03-18 13:26] robkooper commented on #331
You can ignore that last error. That is an issue between a newer version of postgresql not supporting the -i flag and the gem. It should not impact the migration.

[2017-03-18 13:46] samsrabin commented on #486
@dlebauer Also: How would I do a query against betydb.org using traits?

[2017-03-18 14:55] samsrabin opened #492 "Missing variables in betydb.org sites table?"
`betydb_query(table = 'sites')` returns a table with only 8 columns: city, country, geometry, greenhouse, notes, sitename, state, and time_zone.

[2017-03-18 15:18] dlebauer commented on #486
I've given you permission to edit records at betydb.org

Any edits to the VM will be difficult to sync back but if you've already done it we can do it manually. Another option is to create a spreadsheet with the old and new values as well as the table ids (like management_id).

[2017-03-19 19:50] infotroph commented on #492
You can get more detail by using the [beta API ](https://www.betydb.org/api/docs/beta/sites.html), either for one call like `betydb_query(table = "sites", api_version = "beta")`, or `options(betydb_api_version = "beta")` to set it for the whole session.

If you're interested in more detail about a particular item, the single-record view (e.g. `betydb_record(id = 668, table = "sites", api_version =

[2017-03-20 15:31] samsrabin commented on #492
Okay, thanks. This can be closed.

[2017-03-21 09:34] #492 closed

[2017-03-21 13:56] samsrabin opened #493 "Missing Miscanthus yield data?"
I want to switch over to using the `traits` R package to access BETYdb, as opposed to using the VM as I had been doing. Unfortunately, that there appear to be fewer yields records accessible through `traits` than I was seeing on the VM. Some are even missing that appear via the betydb.org web interface.

Here are the `betydb_query` commands I have tried (both return identical numbers of records):

[2017-03-21 14:48] samsrabin commented on #331
@robkooper Okay, so then I guess I have successfully updated the database schema. Is there anything else I need to do to get my local copy of the database up-to-date? I'm totally okay erasing what already exists, since I have not added any data of my own.

[2017-03-21 15:07] samsrabin commented on #486
When I log in using my username (srabin), it says "Logged in as dlebauer." Is that a mistake? Is it going to be an issue if I start adding/editing things?

[2017-03-21 16:17] robkooper commented on #331
All you need to do now is run the update script. If you have not added any data, and want to share your data with others, please request an official id first. If you don't mind open a new issue and just reference this issue.

Once you have this new ID you will need to reset your database (of the top of my head):

[code]

[2017-03-22 03:00] gsrohde commented on #486
@dlebauer @samsrabin Accounts have both a "login" and a "name".  The login for Sam (what he and perhaps most people call "username") is "srabin", but the "name"—which is what gets displayed after "Logged in as " was somehow to set to "dlebauer".  I reset it to "Sam Rabin", but each individual user has the power to set it to anything they like, preferably not something that will cause confusion.  I

[2017-03-22 06:03] dlebauer commented on #486
Sounds like the browser may have auto-updated the name field when I updated
the access level. I'll keep an eye on this.
On Tue, Mar 21, 2017 at 10:00 PM Scott Rohde <notifications@github.com>
wrote:

[2017-03-22 09:12] infotroph commented on #493
I suspect this is because those records are [unchecked](https://github.com/ropensci/traits/blob/master/vignettes/betydb.Rmd#include_unchecked), but there's still an issue because adding `include_unchecked="true"` to the call ought to fix this but doesn't.

Simpler reprex: Noting that https://www.betydb.org/api/beta/yields/1277.json exists and has `"checked": 0`, it seems to me that https://www.bet

[2017-03-22 09:44] infotroph commented on #493
@samsrabin Here's a workaround in case you're in a hurry: A full citation record includes all the yields associated with it, so since you have citation ids already it's (at least kind) straightforward to join them all together:

[code]

[2017-03-22 10:45] samsrabin commented on #493
Thanks @infotroph, that works works great. The only thing I had to change was to change `betydb_api_version` to `api_version` in the `options()` call. I have `traits` 0.2.0.9410; not sure if that's the reason for the difference.

[2017-03-22 11:40] samsrabin commented on #486
Okay, thanks.

[2017-03-22 11:45] infotroph commented on #493
@samsrabin Huh. I can't reproduce that with 0.2.0.9410, but if changing between `options(api_version="v0")` and `options(api_version="beta")` changes your output that's a bug in the traits package. It should only respond to five options and they all start with `betydb_`. If you can reproduce it, please submit a small self-contained example to the [traits repository](https://github.com/ropensci/tra

[2017-03-22 12:18] samsrabin opened #494 "Problems with data from Dalianis et al. (1994)"
This affects all yield records from citation_id 193; i.e., yield records 912–939.

(1) All the yield records are listed as Elephant Grass (specie_id = 1477, cultivar_id = 75) when nearly half of them should actually be Giant Reed (specie_id = 1842, cultivar_id = 73). The Giant Reed yield records are 912–915, 921–924, and 930–933.

(2) This citation has no treatments associated with it in the citat

[2017-03-22 12:33] samsrabin commented on #493
Ah, sorry, I had that wrong. It appears that doing `options(betydb_api_version = "beta")` has no effect, perhaps because `betydb_record()` is getting called within `do()`. What needs to happen is that I need to include `api_version = "beta"` in the `betydb_record()` call.

[2017-03-22 16:52] gsrohde commented on #486
@samsrabin The treatments drop-down is populated by treatments associated with the citation that the yield is connected with.  In this case there are none.

New yields should automatically be associated with the user who is creating the yield.  But updates don't re-assign the user to the updating user.

Both of these problems are the result of my being perhaps a little overly-zealous about ensurin

[2017-03-22 17:23] gsrohde commented on #486
@dlebauer I should also mention that there seems to be no way to associate an _existing_ treatment with a citation via the Rails interface.  I think that there is supposed to be a way to do this but that this is broken.  I'm not sure about this, though, and if it _should_ work, I'm not sure _how_ it is supposed to work.

To elaborate a little: There is a section of the treatments page with the hea

[2017-03-22 17:34] gsrohde opened #495 "Yields with no assigned creator (user_id) are not updatable."
When yields are created via the BETYdb Rails app, the `user_id` is automatically set to the logged-in user.  But there are existing rows in the yields table with null `user_id`.  If one tries to update such a row via the Rails app, the app won't allow it and will complain that a user hasn't been assigned.

Options for fixing: (1) allow `user_id` to remain null if the row is being updated; (2) auto

[2017-03-23 11:01] samsrabin commented on #486
@gsrohde I'm not in any particular rush to update the records, so feel free to take your time to implement a complete fix to the User issue as you suggest in #495.

In addition to the fixes you suggested to the "Treatment can't be blank" while editing Yields error, it would also be good to have a fix to associating Treatments with Citations. As it is now, there is not the option to associate a Cit

[2017-03-24 15:22] infotroph commented on #493
Probably related to this: Another example (from the [traits vignette](https://github.com/ropensci/traits/blob/master/vignettes/betydb.Rmd#include_unchecked)) where `include_unchecked` currently fails, but this time by NOT excluding unchecked records.

[code]

[2017-03-28 16:53] gsrohde commented on #493
@infotroph, @samsrabin: The `include_unchecked` parameter is not supported by the beta API.  (Unrecognized parameters are ignored.)  Compare https://pecan.gitbooks.io/betydb-data-access/content/original_api.html and https://pecan.gitbooks.io/betydb-data-access/content/API/beta_API.html; the latter makes no mention of the `include_unchecked` parameter.

In general, query options using the beta API

[2017-03-28 17:53] infotroph commented on #493
@gsrohde Does that mean the beta API is supposed to include unchecked records by default? Right now it looks as if they're included in `search` but not in `traits` or `yields`, and as if filtering on `checked` doesn't change that:

[code]

Is there any supported way of retrieving both checked and unchecked yields in the same query?

[2017-03-30 17:54] gsrohde commented on #493
@infotroph It took some doing to track down how this works, but here's what I've found:

For the traits and yields tables, only users with page access level "Administrator" (1) or "Manager" (2) can view unchecked traits or yields.  This is true not only for either API but also if one visits the Web pages for these tables.

This may or may not be a bug, but it may perhaps at least be considered a b

[2017-03-30 19:14] dlebauer commented on #493
@gsrohde this is definitely a bug

* all users should have access to unchecked data
* failed data should never leave the database via the api

[2017-03-30 20:02] dlebauer commented on #493
@samsrabin sorry I've been away on vacation ... please try the queries again with the traits package and your API key. When you offered to help fix data I elevated your permissions so that you can access both the checked and unchecked data.

[2017-03-30 20:03] dlebauer commented on #493
@infotroph I'll update https://github.com/ropensci/traits/issues/52 with changes

[2017-03-30 21:16] dlebauer commented on #419
Just updating bety7 (terraref.ncsa.illinois.edu/bety-test) and refreshing materialized views. This database should be fairly static, but recording the queries in the prescribed order

[code]

[2017-03-30 22:35] gsrohde commented on #419
@dlebauer These commands are now in a script file `(Rails root)/script/cron/refresh_views.psql` in the repository.  I had put such a file on bety6 earlier but neglected or chose not to check it in (and I had the last two lines reversed, meaning an extra day to see view updates).  It's checked in now (though the migration to switch to materialized views isn't yet).

I added a cron job on bety7 to r

[2017-03-30 23:06] gsrohde commented on #493
@dlebauer Re https://github.com/PecanProject/bety/issues/493#issuecomment-290515436: Just to clarify, all users _do_ have access to unchecked data, but only via the `search` resource (the traits and yields view).

Since, judging from the code, Patrick Mulrooney took some pains to implement hiding unchecked rows in the traits and yields tables from "ordinary" users, I can only conclude that either

[2017-04-04 15:47] samsrabin commented on #493
@dlebauer I can confirm that both queries work when I include my key as an argument.

[2017-04-04 16:39] dlebauer opened #496 "Allow users to access data with checked = 0"
From #493

I've changed my mind about how this should work.

Originally, the plan was to make data public only after it had been reviewed by someone other than the person who entered the data. This makes sense in the context of users manually entering data extracted from tables, graphs, notebooks, and spreadsheets. But for the case of automated pipelines, we do not have a clear protocol for 'check

[2017-04-05 01:24] dlebauer commented on #496
Update: a quick fix (within the scope of the TERRA REF program) has been to elevate user permissions to access_level=2.

I kept all users with login like 'testuser' or 'user%' with access_level=3

[2017-04-05 02:53] gsrohde opened #498 "Disallow column heading "date" in API upload data files."
In trait data files for beta API uploads, date information must be in a column with heading `local_datetime` or `utc_datetime`.  A column with heading `date` will simply be silently ignored.  This makes it too easy to inadvertently upload data without date information being attached.

It should be an error if one attempts to use `date` as a column heading in these data files.  (On the other hand,

[2017-04-06 18:56] dlebauer commented on #419
I'm also experimenting with changed the TIMEOUT parameter in /etc/apache2/apache2.conf from 300 to 600 s (on bety7 which, with >4million records, is the only db having these issues at the moment.

[code]

[2017-04-06 18:58] dlebauer commented on #419
Next I am also going to try to add an index

[code]

[2017-04-06 20:50] robkooper opened #499 "biocro broken tests"
Tests are broken in biocro

[2017-04-06 20:50] robkooper commented on #499
wrong repo

[2017-04-06 20:50] #499 closed

[2017-04-07 20:32] gsrohde opened #500 "Import (sync) mechanism does not maintain database invariants."
The `load.bety.sh` script circumvents database triggers (which enforce constraints) by using doing `ALTER TABLE ${T} DISABLE TRIGGER ALL;` before adding new rows from the server being imported from.  Re-enabling the triggers doesn't check that invariants still hold.  While value constraints are most likely maintained (assuming they are maintained on the server being imported from) foreign-key cons

[2017-04-08 17:41] gsrohde opened #501 "Travis is failing with 'relation "experiments" does not exist'."
* [x] Update `test_structure.sql` to match `production_structure.sql`.
* [ ] Put a note in the documentation for upgrading the canonical (EBI) BETYdb Rails site that both `production_structure.sql` and `test_structure.sql` need to be updated whenever the database schema changes.

@robkooper Can you look at this when you get a chance.  For now, I made a branch called `travis_kludge` which is like `

[2017-04-17 18:02] gsrohde commented on #331
In case anyone is trying to load data from the terra-ref site (machine 6), this issue is relevant: https://github.com/PecanProject/pecan/issues/1355  Please let me know if this has been an issue for you so that I know how to prioritize this.

[2017-04-20 18:34] dlebauer commented on #419
At this point, SQL is performant while the API is an order of magnitude slower.

perhaps replace the Ruby json creator under the API with an SQL that exports as json

[2017-04-27 14:20] dlebauer commented on #475
@gsrohde any updates on this?

[2017-04-28 13:42] gsrohde commented on #475
Still working on it.

From: David LeBauer <notifications@github.com<mailto:notifications@github.com>>
Reply-To: PecanProject/bety <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Thursday, April 27, 2017 at 9:20 AM
To: PecanProject/bety <bety@noreply.github.com<mailto:bety@noreply.github.com>>
Cc: Scott Rohde <srohde@illinois.edu<mailto:srohde@illinois.edu>>, Mention <mention@noreply.

[2017-05-03 02:39] gsrohde commented on #475
See pull request #504 and attached document.

[2017-05-03 15:27] dlebauer opened #505 "New generic table for misc. information polymorphic relations"
Table name: ~~miscelaneyiis~~ please propose ...

Use cases:

* adding synonyms to variables
* adding additional metadata to cultivars (e.g. lineage, etc)
* PEcAn, add all parameters that we currently store in xml
* generally whereever we have notes that we use to store additional info
* (eventually) could deprecate many fields that are sparsely populated

### Implementation (Option 3)

**Fields**

[2017-05-04 17:24] dlebauer commented on #505
From meeting today, it sounds like Option 3 is preferred.

Here is a description of the json data type https://www.postgresql.org/docs/9.3/static/datatype-json.html and a list of json operations: https://www.postgresql.org/docs/9.3/static/functions-json.html in the postgres documentation.

[2017-05-05 23:13] dlebauer commented on #475
@gsrohde

### Answers to ? in https://github.com/PecanProject/bety/issues/475#issuecomment-272308593

We rarely change sites. If someone changes a site from a site that has a cultivar to another site with a cultivar, then the cultivar should also change. Otherwise, a warning should be given. The warning should be rare enough that it could be handled by an administrator.

the cultivars should also

[2017-05-10 06:20] gsrohde opened #507 "Trait uploads of CSV files containing a local_datetime column result in a bogus "bad date specification" error."

[2017-05-10 06:23] gsrohde commented on #507
The text of this error message is also unclear or misleading.

[2017-05-10 17:52] dlebauer opened #508 "Check variable and units on Serbin 2012 cuticular conductance data"
he cuticular conductance values from @serbinsh [2012 paper](http://jxb.oxfordjournals.org/content/63/1/489.full.pdf+html) are all < 1, suggesting these are in the wrong units (most are ~50k, suggesting values from this citation need to be multiplied by ~ 100,000. Units specied in betydb are mmol/m2/s. I am happy to do this if you can confirm the scaling factor.

Or perhaps these are stomatal condu

[2017-05-10 17:54] dlebauer commented on #508
Fixed

Found it. I shared this with you back in the day: https://docs.google.com/spreadsheets/d/1pGomnjXaB-iyZ2ZSP5vU_52E3ZYQNv4psLyNugKPUHs/edit?usp=sharing
It looks like we can just change these to stomatal_conductance since this is the column that got read into as cut cond
Avg_COND

[2017-05-10 17:54] #508 closed

[2017-05-10 17:59] serbinsh commented on #508
Correct, these were values of average stomatal conductance over the course of the A-Ci measurements so these should be set as:

stomatal_conductance
https://www.betydb.org/variables/293

That said, the units need converted since these are in mol H2O m-2 s-1 (basic licor 6400 units) and it looks like they need to be in kgH2O m-2 s-1???

[2017-05-10 18:09] dlebauer commented on #508
* 18.01528 mol/g h2o
* 1000 g / kg

[code]

[2017-05-10 18:26] dlebauer opened #509 "Convert GS to stomatal_conductance, delete GS"
Convert from GS (mmol/m2/s) to stomatal_conductance (kg/m2/s)

### Questions:

* Will this break anything? GS doesn't seem to appear in PEcAn codebase.https://github.com/PecanProject/pecan/search?utf8=%E2%9C%93&q=gs&type=
* do any other tables use GS?

### TODO

[code]

[2017-05-10 18:34] dlebauer opened #510 "Merge cuticular_cond and cuticular_cond_mmol"
There are 13 rows with cuticular_cond_mmol and 90 w/ cuticular_cond. (difference is units in mmol vs umol.

To fix these I've run

[code]

[2017-05-10 18:34] #510 closed

[2017-05-11 09:15] gsrohde commented on #509
I don't see why you have the second update here.  It shouldn't do anything after you run the first update, correct?

Not having studied statistics, I can't say if SE scales the same way as the mean.  Just double-check.

[2017-05-11 11:23] dlebauer commented on #509
Second update is a typo. SE does have the same units ae the meas

[2017-05-11 15:54] dlebauer opened #511 "Enable customization of google analytics tracking code"
add the ability to set the google analytics tracking code to [config/application.yml](https://github.com/PecanProject/bety/blob/master/config/application.yml)

@gsrohde where is the code currently stored? I can't seem to find it grepping through the repository, but it does seem to be working.

[2017-05-13 02:07] gsrohde opened #512 "RSpec tests that check page content have to be more narrowly scoped."
For example, a test that expects the page not to contain the text 'cultivar' may fail if on the `add_sites_cultivars` branch because the branch name is now displayed in the footer.

[2017-05-15 00:20] gsrohde opened #513 "Editing an existing site with a non-standard country name will change the value to the empty string."
The country field in the edit form will not be pre-populated if the country stored in the database does not match one of a given set of country values.  Then, if the Update button is pressed, the country takes the (blank) value in the form.

[2017-05-15 15:24] robkooper commented on #501
Can you link to the failing build?

[2017-05-15 16:52] gsrohde commented on #475
@dlebauer Since you went ahead and pulled request #504 after making these comments, I wasn't sure if you just want me to deploy what I have now and worry about addressing the concerns you raise in your comments later.

Regarding your comments on https://github.com/PecanProject/bety/issues/475#issue-200448453, I would tend to favor handling these things in Rails rather than at the database level.

[2017-05-15 19:41] gsrohde commented on #501
https://travis-ci.org/PecanProject/bety/builds/219465407

This is the first build on master that fails for this reason, I believe.  The problem is that the file app/controllers/api/beta/experiments_controller.rb requires the experiments table to be there: On my own copy of BETYdb, if I remove the experiments table, RSpec will crash.  If I then remove this file, RSpec will run again.

[2017-05-15 19:48] dlebauer commented on #475
Yes, per https://github.com/PecanProject/bety/pull/504#pullrequestreview-36626653 "please deploy ASAP"

Please disregard this comment. We will no longer plan to re-use the sites with different cultivars.

That is actually more appealing. However, I am concerned about further delaying this feature release. How long would this take to implement?

[2017-05-15 20:07] gsrohde commented on #475
I think I could deploy it to bety6 right now and then worry about doing an official release.  There might be a problem if people are syncing with bety6 though.

From: David LeBauer <notifications@github.com<mailto:notifications@github.com>>
Reply-To: PecanProject/bety <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Monday, May 15, 2017 at 2:48 PM
To: PecanProject/bety <bety@noreply.g

[2017-05-15 23:38] dlebauer commented on #475
Would be great to have this on bety6 and bety8 terra-mepp. But we also need the experiments API endpoint. How long would it take for a release?

[2017-05-16 01:41] gsrohde commented on #475
The experiments API would be part of what I deploy as well.  The main extra time of doing a release is writing up some notes.  I’ll start writing up notes now though.  But if you say, I’ll deploy to bety6 and bety8 before I’m done.

From: David LeBauer <notifications@github.com<mailto:notifications@github.com>>
Reply-To: PecanProject/bety <reply@reply.github.com<mailto:reply@reply.github.com>>
Dat

[2017-05-16 03:55] robkooper commented on #501
Looks like that `bundle exec rake db:structure:load` does not create the experiments table?

[2017-05-17 05:25] gsrohde commented on #475
OK, I did a release (with the experiments API endpoint also) and deployed to ebi-forecast, bety6, and terra-mepp.   I hope I got it right.

—Scott

From: David LeBauer <notifications@github.com<mailto:notifications@github.com>>
Reply-To: PecanProject/bety <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Monday, May 15, 2017 at 6:38 PM
To: PecanProject/bety <bety@noreply.github.com<mai

[2017-05-18 01:55] gsrohde commented on #511
@dlebauer I think what you are looking for is lines 74–84 of `app/views/layouts/application.html.erb` and perhaps 28–39 of `app/views/layouts/fullscreen.html.erb`.  (The latter hasn't been revised since July 2012 and I'm not sure if it is actually used.  I think it's for iPhones, but since I don't have one, it's not easy for me to test this.)

[2017-05-18 03:04] gsrohde commented on #459
@dlebauer I made a note that this was not yet working properly, but I don't remember who reported this or any other details.

[2017-05-23 20:44] dlebauer commented on #509
Done. Also updated associated records in trait_covariate_associations.

[code]

[2017-05-23 20:44] #509 closed

[2017-05-24 21:59] dlebauer commented on #495
I like 2 ; automatically assign the user doing the updating as the user if (and only if) the row being updated has null user_id.

Does this happen to the traits table as well?

[2017-05-25 04:08] gsrohde commented on #495
No, it doesn't happen with the traits table.  Updating a trait with null `user_id` leaves it null (option 1).

[2017-05-25 14:53] dlebauer opened #516 "Speed up BETYdb API"
By speed up, I mean, to within an order of magnitude of an SQL query

This should resolve within a minute if `limit=none`  https://terraref.ncsa.illinois.edu/bety-test/api/beta/search?key=9999999999999999999999999999999999999999&limit=1 and yes, that is what I mean by document + put comments from the postgres schema definition in useful places.

Two suggestions I've heard.

1. 'figure out how to s

[2017-06-02 23:06] dlebauer commented on #459
If I have a csv upload with a column name that matches a name in the
variables table, it should insert the values into the traits table. The
absence of a covariate is irrelevant.

The traits covariates associations table is useful when there is a
covariate. But it should not prevent inserting variables that do not
require a covariate.
On Fri, Jun 2, 2017 at 5:34 PM Scott Rohde <notifications@githu

[2017-06-03 04:00] gsrohde commented on #480
Logos improved.  Closing.

[2017-06-03 04:00] #480 closed

[2017-06-12 21:50] bcow opened #518 "NA strings field for formats record"
Add a text field to BETY formats that stores NA strings separated by commas.

Maybe something like this?
[code]

[2017-06-13 13:06] dlebauer commented on #518
@bcow could you submit this as a pull request?

[2017-06-15 18:31] gsrohde opened #519 "Implement measures to prevent duplicates resulting from re-uploading a CSV file"
This should be done for both the Bulk Upload Wizard and the API for submitting traits.

Possible implementation:

* Check for telltale signatures consisting of the exact same sequence of 3 or more mean values in the traits table and in the file to be uploaded.

[2017-06-22 21:17] gsrohde opened #520 "Bulk Upload Wizard shouldn't create unnamed entities if there is only one trait per row of the CSV file"
Anonymous entities connected to only a single trait provide no useful information and only clutter up the database.

[2017-06-23 01:24] #495 closed

[2017-06-23 01:25] gsrohde commented on #520
Will close this as soon as I make a test for it.

[2017-06-23 01:26] #459 closed

[2017-07-11 22:08] dlebauer opened #521 "Two bugs in sites_cultivars"
* [x] 1. need uniqueness constraint to prevent duplicates of `site_id` ~~(site_id, cultivar_id)~~
* [x] 2. indexing should use the assigned id range for the database. currently appears to start from 1 on all databases.

[2017-07-11 22:28] dlebauer commented on #521
To remove duplicates from sites_cultivars

[code]

[2017-07-12 18:46] shklnrj commented on #516
Please use the pagination of APIs to implement this. Its a standard practice. Please check this link for some detail-
https://stackoverflow.com/questions/13872273/api-pagination-best-practices

You can use this Gem to get the standard implementation-
https://github.com/davidcelis/api-pagination

[2017-07-12 20:46] dlebauer commented on #516
@Luckn0wLe0pard if we implemented pagination, would it require sending one request per page, e.g. appending `page=1`, `page=2`, to the url? We can already do this with `limit=5000`, `offset=5000&limit=5000`, `offset=10000&limit=5000`, etc. And even when we do this, the response is very slow.

[2017-07-13 05:27] gsrohde commented on #521
@dlebauer The duplicate-removal code looks fine.  The bug fixes are in pull request #522, which I've asked @robkooper to review.

[2017-07-17 09:24] gauravsoti1 commented on #516
Could you please provide the database schema and how exactly the query is being performed?

[2017-07-17 15:02] dlebauer commented on #516
@gauravsoti1 the schema can be found at https://www.betydb.org/schemas?partial=relationships. Can you clarify what information you are looking for with 'how exactly the query is performed'?

[2017-07-17 18:43] Luckn0wLe0pard commented on #516
Well, you need to implement pagination in every API since the response size needed can be very big and sometimes the client might not be ready to either-
1- wait for such a huge response
2- or not be able to handle huge response

Pagination is the preferred way.
This is better than using offset and limits as the client does not need to worry about offsets and limits. The client can just make HTTP

[2017-07-17 18:59] Luckn0wLe0pard commented on #516
Also looking at the code, the search results come from here-
https://github.com/PecanProject/bety/blob/master/app/models/traits_and_yields_view.rb

Clearly the search is performed over too many fields which is making it slow.

The time for client can be reduced by two ways-
1- Lets say the client is searching by trait_description most of the time- then there can be a seperate API created for that

[2017-07-21 23:12] gsrohde opened #523 "Can't delete variables via the BETYdb Rails app"
The variables model still expects there to be a table called `inputs_variables` and the deletion code balks when it can't find it.

This is a simple fix.

[2017-07-21 23:16] gsrohde opened #524 "Trait upload API is not immune to name clashes"
Now that we allow the use of variable names as headings in a CSV trait data file even when they are not listed in the `trait_covariate_associations` table, adding a new variable with a name like `local_datetime` can really foul things up.

[2017-07-22 01:41] gsrohde commented on #520
In release BETYdb 4.17.

[2017-07-22 01:41] #520 closed

[2017-07-22 14:39] serbinsh opened #525 "Pagination issue in BETY web interface when searching species"
@gsrohde @dlebauer

Unfortunately I didn't save an example of the correct behavior on the modex.bnl.gov version of BETY before I updated it to the latest version (4.18) but this was not an issue in the previous release.  So note this seems like a new issue.  I also don't know where else this may be an issue, I discovered it when searching for species to add to a PFT through the BETYdb web front en

[2017-07-22 14:43] serbinsh opened #526 "Strange migration issue with Postgres 9.5.x??"
When working with a colleague using VM version 1.4.8 we observed a strange issue when attempting to update their version of BETY to the latest migration.

[code]

Info on the VM version of postgres
[code]

However, I do not get this error related to the -i option on our server running 9.14.12.  I do also have this entry in the man pages

[code]

And it looks like in newer version there is not long

[2017-07-22 14:44] serbinsh commented on #526
In case it wasn't clear, I can run the migration fine on 9.4.x and even run commands like:

[code]

Without any issues

[2017-07-24 16:26] robkooper commented on #526
This is due to an old version of rails and can be ignored. I believe the version of rails we use and postgresql >= 9.5 have this issue. The flag -i that is no longer supported by postgresql, but this command just creates the sql dump file to create the schema at the end of the migration.

[2017-07-24 16:30] dlebauer commented on #526
@robkooper if it can be ignored, can the issue be closed?

[2017-07-24 16:32] robkooper commented on #526
I think so, but it is up to @serbinsh to make sure the migration finished correctly. See also:
https://github.com/rails/rails/issues/23030#issuecomment-171084067

[2017-07-24 16:41] gsrohde commented on #524
Possibly an issue with Bulk Upload as well.  See https://github.com/terraref/reference-data/issues/162.

[2017-07-24 16:42] serbinsh commented on #526
Problem is this is a UAF collaborator VM and it isn't working for him.  Is there a way to turn that option off when running the command to avoid that error?

Again he is using an older VM 1.48 or something and I don't want to make him have to update or modify the ruby install

Sent from my iPhone

On Jul 24, 2017, at 8:33 AM, Rob Kooper <notifications@github.com<mailto:notifications@github.com>> w

[2017-07-24 20:18] gsrohde commented on #526
@serbinsh You can check whether the migration succeeded with
[code]
You should see "up" next to each migration listed.  It wasn't clear to me whether this `pg_dump` failure causes the entire migration to be rolled back.

@robkooper, @dlebauer BETYdb officially supports PostgreSQL 9.3.  This is what ebi-forecast runs.  terra-mepp runs 9.4 and bety6 and 7 run 9.5.  9.3 is the version mentioned in th

[2017-07-24 21:12] gsrohde commented on #525
I found a version BETYdb from June 30, 2015 running of our development server, and this problem exists there as well.  So I don't think it's a recent problem.

That said, I'll look into fixes.

[2017-07-24 22:17] gsrohde commented on #525
@serbinsh I think this is fixed.  If you pull the latest version of master (and do `touch tmp/restart.txt` in the Rails root directory, if needed), the searches should work correctly.

[2017-07-25 00:37] serbinsh commented on #525
OK, when I have a moment tonight I will give that a try

S
-----------------------------------------------------------------------------
On Jul 24, 2017, at 2:17 PM, Scott Rohde <notifications@github.com<mailto:notifications@github.com>> wrote:

@serbinsh<https://github.com/serbinsh> I think this is fixed. If you pull the latest version of master (and do touch tmp/restart.txt in the Rails root dir

[2017-07-25 16:39] serbinsh commented on #525
@gsrohde that recent push fixed the issue on modex, thanks!  I recommend the update for BETYdb.org as well...since that is where we created the PFT initially...but I suppose all DBs should run that simple update.

[2017-07-25 23:06] gsrohde commented on #525
@serbinsh It will go into the next release, which will be "whenever" unless someone tells me this is urgent, and then I will prioritize it.

[2017-07-26 23:42] tobeycarman commented on #526
We eventually worked around this issue. We dug around and found the commands to delete the database and then re-instantiate it (on pecan 1.4.8 VM):

[code]

Then in the initial attempt I tried updating first from remote=0 followed by an update from remote=2. This gave the same migration error. Next time around I tried dropping the database, re-instating it, and then skipping the update from remote

[2017-07-27 15:27] robkooper commented on #526
problem is that you dropped the database and thus lost all of your updates to bety. The error you get is because database 2 depends on records from database 1 and vice versa. Doing the update twice should fix this issue.

[2017-07-27 18:56] gsrohde commented on #521
Fixed by release 4.18.

[2017-07-27 18:56] #521 closed

[2017-07-27 19:34] tobeycarman commented on #526
Huh. Well not quite sure. Here are the facts that I can recall from my end:
 - if I instantiate a new database and try to update from remote 0, followed by remote 2, the process fails (original error reported by @serbinsh.
 - if I instantiate a new database and try to update from remote 2, followed by remote 0, the process works, with above mentioned errors:
[code]
 - now on every update from remo

[2017-07-28 17:55] gsrohde commented on #526
@tobeycarman, @serbinsh

A few things:

If, while doing a migration (`rake db:migrate`), you see
[code]
followed by some commands, followed by
[code]
it means that particular migration succeeded, and since (currently) the SitesCultivarsUniqueness migration is the last one, it means you are up to date, even if later on the output says
[code]

Any problems you are having loading data from machines 0

[2017-07-28 21:36] gsrohde opened #528 "Bulk Upload Wizard requires the trait site to be associated with the trait citation (should it?)"
This issue arose out of Gitter posts (https://gitter.im/PecanProject/bety) by dlebauer on May 18 2017 15:02 and May 19 2017 13:02.

Currently, the Bulk Upload Wizard requires that if a given citation and site are to be associated with a trait, then there must be an entry in the `citations_sites` table linking the two.  If there isn't, the Wizard will give a "Site is inconsistent with citation in t

[2017-08-11 15:38] dlebauer commented on #452
@gsrohde this issue is poping up ... how hard would it be to resolve this?

Both @ZongyangLi and @NewcombMaria have run into it

[2017-08-11 19:26] gsrohde commented on #452
@dlebauer I can't quite remember what's going on with this issue.  It would help to have a sample file from @ZongyangLi and @NewcombMaria to test it out.  It might be an easy fix.

[2017-08-11 19:33] dlebauer commented on #452
Here is a sample: [issue452.txt](https://github.com/PecanProject/bety/files/1218883/issue452.txt)

[2017-08-11 20:11] dlebauer commented on #452
After removing the first three columns the upload proceeds as expected (throwing an error b/c the cultivar in the sample file no longer exists)
[issue452-working.txt](https://github.com/PecanProject/bety/files/1218960/issue452-working.txt)

[2017-08-17 14:42] dlebauer commented on #489
Appears to be implemented, based on discussion in https://github.com/terraref/computing-pipeline/issues/349, e.g.

https://terraref.ncsa.illinois.edu/bety/api/beta/experiments?key=9999999999999999999999999999999999999999&limit=none&associations_mode=ids

returns associated ids from the sites table

[2017-08-17 14:42] #489 closed

[2017-08-17 15:22] #474 closed

[2017-08-17 15:25] dlebauer commented on #419
Closing: speeding up API will be implemented by https://github.com/PecanProject/bety/issues/516

[2017-08-17 15:25] #419 closed

[2017-08-17 15:39] dlebauer opened #529 "Automate refresh of materialized views"
Following https://github.com/PecanProject/bety/issues/419

automate refresh of materialized views defined in https://github.com/PecanProject/bety/blob/master/script/cron/refresh_views.psql

Preferably adding this as a cron job could be wrapped into a migration (?) or other part of standard deployment

Alternatively, update documentation as appropriate.

[2017-08-18 15:56] gsrohde commented on #475
@dlebauer Close?

[2017-08-18 16:03] #475 closed

[2017-08-29 10:04] rorong commented on #477
Please provide API link and what does means of distracting field?

[2017-08-29 17:27] dlebauer commented on #477
Here is the API link https://terraref.ncsa.illinois.edu/bety/api/beta/search?key=YOURKEY&limit=1

distracting: values that are not of primary scientific interest (keys, access level, urls)

[2017-08-29 17:27] dlebauer commented on #477
Here is what the result should look like: https://gist.github.com/dlebauer/8d4273065485553958b1fc310eea24eb

And the difference between old and new https://gist.github.com/dlebauer/8d4273065485553958b1fc310eea24eb/revisions#diff-36e64ee591eb44c77488faec76357456

[2017-08-30 10:18] rorong commented on #477
Please provide key and not getting distracting.
please explain about distracting

[2017-08-30 13:02] dlebauer commented on #477
See https://github.com/PecanProject/bety/issues/477#issuecomment-325735802 for definition of distracting. If you are developing locally you can find a key in the users table. You just need to sign up and have access_level<3

[2017-08-31 20:45] gsrohde opened #531 "Bulk upload validation should issue an error when column names are repeated."
Right now, it is not an error if, for example, the are two columns called `species` or if there are two columns called `Vcmax`.  If the values in the repeated columns are differ, it may not be predictable which value will be used.

[2017-09-01 10:37] akhtar-ongraph commented on #477
I am getting an error when hitting API
error ouptut:
PG::ObjectNotInPrerequisiteState: ERROR:  materialized view "traits_and_yields_view" has not been populated
HINT:  Use the REFRESH MATERIALIZED VIEW command.

need to be dump(database) for testing purpose.

Please provide dump.

[2017-09-01 10:42] rorong commented on #477
I am getting error when hit API

Error Output:

PG::ObjectNotInPrerequisiteState: ERROR:  materialized view "traits_and_yields_view" has not been populated
HINT:  Use the REFRESH MATERIALIZED VIEW command.

Need to be dump (database) for testing purpose.

Please provide the dump

[2017-09-01 12:29] dlebauer commented on #477
For materialized views

For a local dump start with

[code]

[2017-09-01 15:22] serbinsh opened #532 "Following upload through bulk upload wizzard, date is populated but doesnt show up on RUBY/web interface"
I have noticed that if you upload data with a date field formatted properly (i.e. YYYY-MM-DD) it will show up in bety/PostgreSQL but not through the web interface.

[code]

but https://files.gitter.im/PecanProject/bety/5NPf/Screen-Shot-2017-09-01-at-9.59.11-AM.png shows that the date field does not show up as populated in the records through the web

[2017-09-01 15:27] serbinsh opened #533 "Trait/entity notes don't get populated through Bulk Upload Wizard"
In two different instances, I have noticed that properly formated .csv files uploaded through the Buld Upload Wizzard don't have their notes fields loaded into BETYdb?

This is for data related to citations

bety/citations/2000000017

and

bety/citations/2000000021

Both of which had a notes column populated with information that I was hoping to keep with the observations.

[2017-09-01 15:28] serbinsh commented on #533
[code]

[2017-09-01 15:29] serbinsh commented on #533
[code]

[2017-09-02 00:24] gsrohde commented on #532
@serbinsh This is a known bug (to me at least).  I think others were aware of it but probably have since forgotten about it.

There are, unfortunately, two sets of date time fields.  Originally, we just had `date` and `time`.  At some later time, `date_year`, `date_month`, `date_day`, `time_hour`, and `time_minute` were added, with the intention of using these instead of `date` and `time`.  Later,

[2017-09-02 12:12] serbinsh commented on #532
@gsrohde Thanks for the detailed response! It looks like I opened a can of worms here but the timeline makes sense.  The important thing is that the date field is populated so that it can be used for query / subset.  Showing the date on the web I suppose is a longer term fix to address when there is time.

[2017-09-04 06:44] akhtar-ongraph commented on #477
Can You please provide https URL

[2017-09-04 07:24] rorong commented on #477
Can You please provide https URL

[2017-09-04 15:25] dlebauer commented on #477
To the docker container? Should be localhost:5432/bety

[2017-09-07 16:56] ankurdesai opened #534 "Search by machine"
With the large number of entries in many BETY tables with multiple synced machines, it would be nice on the web interface to only show entries belonging to the machine on which BETY is running. It can takes seconds sometimes to refresh screens when searching throughs 1000s of records for the 3 or 4 I entered somewhere and need to change.

[2017-09-07 17:51] dlebauer commented on #534
@ankurdesai can you list the specific tables / pages where this is a priority?

[2017-09-07 18:01] ankurdesai commented on #534
Inputs, dbfiles, runs, workflows, formats. Places where I often muck around things when debugging, adding new data types, fixing missing data issues on server.

[2017-09-07 18:39] dlebauer commented on #534
@ankurdesai

You certainly don't have to be a wizard, and SQL select, update, insert, delete, and sorts are pretty straightforward.

The first feature - just returning results from the local machine - may be straightforward, but are there cases where you want to show all records? Should it be an option?

Is the 'open in new page' feature you mention in https://github.com/PecanProject/bety/issues/5

[2017-09-07 18:46] ankurdesai commented on #534
True right clicking is fine, just arguing it should be the default behavior. I'm pretty ok with the SQL statements, it's making sure I don't screw up the various associations, and also keeping track of all the table names, row names, appropriate IDs. When I do this in the 1-2 minute free time periods I have between other stuff, is when it gets dicey. Also I always play the guinea pig for your bene

[2017-09-07 21:32] dlebauer opened #535 "Open edit and view pages in new tab by default"
This feature was requested by @ankurdesai in https://github.com/PecanProject/bety/issues/534#issuecomment-327878052

## Feature:

When opening a new view or edit link, open in new tab by default

## Discussion

right-click --> open in new page has the same effect, but @ankurdesai suggests this should be default behavior

Should this actually happen by default? Primary concern is that the user woul

[2017-09-07 21:32] dlebauer commented on #534
Moved open in new tab feature to https://github.com/PecanProject/bety/issues/535

[2017-09-07 23:28] gsrohde commented on #535
I too have reservations about making new tabs or windows the default.  Note that if you press _enter_ (or _return_) after doing a search, it is saved in the browser history.  Then, if you go to edit or view a particular record, pressing the browser's back button will return you to the search results.  Pressing the "All Records" button, however, won't do this; but perhaps with some programming it c

[2017-09-08 00:05] gsrohde opened #536 "Search on entities page doesn't work correctly."
How to repeat:

1. Visit `<root BETYdb URL>/entities`.
2. Type anything in the search box.
3. The table rows will dim as is usual for searches, but the search never completes and the rows stay dimmed.

Similarly, trying to page through the list or change the "records per page" setting will do nothing but dim the table rows.

Doing a "hard" search doesn't work either: Pressing "Enter" after typing

[2017-09-08 15:05] ankurdesai commented on #535
I think you're right for now, right-click is fine, but also agree worth spending time looking at UI/UX guidelines and watching folks use the system. I could not replicate the browser saved search history when pressing the return button and then clicking the back arrow. In fact, in some cases, pressing back sent me to an entirely different table. This is on Chrome, Mac OS X. I last pulled and re-st

[2017-09-08 15:06] ankurdesai commented on #535
Oh wait, I see now, pressing Browser back button does work, pressing "<- All Records" resets search. Ok.

[2017-09-08 16:01] gsrohde commented on #535
@ankurdesai Still, if you could document the case where pressing "<- All Records" sends you to a different table, I'll look into it.  That shouldn't happen.

[2017-09-08 16:50] ankurdesai commented on #535
Ok, I can't replicate it, so might have been some cache issue or something. Thanks for the convo.

[2017-09-26 14:53] dlebauer opened #539 "Bulk upload should add citations_sites records if they don't exist"
If a user tries to upload new data but the sites are not associated with the citation, the upload fails.

The preferred behavior would be to add the required citations_sites records to make the upload work.

[2017-09-28 03:39] gsrohde opened #540 "Bulk Upload Wizard doesn't check for duplicate variable names"
If someone duplicates a name in the variables table, and if that name is used as a column heading in the upload file, then a trait will be added twice, once with each variable id.

A uniqueness constraint on `variables.name` should be enough to fix this.  But the sync script unfortunately circumvents database constraints, so after a sync, there may be violatations.  So it's best to have the Bulk U

[2017-10-05 20:26] serbinsh commented on #526
@robkooper @gsrohde @tobeycarman

Success!!  we think.....  @tobeycarman is sitting with me here and we migrated his old VM's version of BETY, which as you can see from this thread, didn't work until we ran it this way

[code]

This was the only way it would work.  We think it worked because the checksum on the webpage updated to Oct 5th with the correct checksum showing @robkooper changes today

[2017-10-05 21:20] gsrohde commented on #526
@robkooper Regarding your comment https://github.com/PecanProject/bety/issues/526#issuecomment-318396582, I would think the "disable trigger all" calls in `load.bety.sh` would sidestep these errors.  It does seem to prevent regular foreign-key constraint violations from being reported.  Does it only disable some kinds of constraints and not others?

[2017-10-06 17:52] robkooper commented on #526
I think it does not disable foreign key checks.

[2017-10-07 23:17] gsrohde commented on #526
Actually, as far as I can tell, it _does_ disable foreign key checks as well as user-defined triggers but _does not_ disable check constraints or uniqueness constraints.

[2017-10-09 16:42] gsrohde opened #542 "Provide a convenient method of adding SQL comments"
Currently, updates to the database schema is effected primarily through the use of Rails migrations.  This helps to ensure that different BETYdb database instances conform to the same database schema.

It is, however, desirable to have a less cumbersome method of updating database comments.

[2017-10-09 18:07] dlebauer commented on #542
Currently a lot of the documentation is in the schema metadata for the ebi_production (BETYdb.org) database. Ideally this could be propagated / syncd across instances, or stored in a single canonical location that doesn't require a migration for each edit.

[2017-10-11 02:51] gsrohde commented on #542
Pull request #543 implements this feature.

Here's how it works.

Edit the file `db/data/database_comments.sql` to add, change, or delete comments.  (Delete a comment by changing it to the empty string.)

The format of this file is roughly
[code]
(The order of the tables and the order of the key-value pairs under each table is immaterial.)

Then run the Rake task
[code]

If you want to make this t

[2017-10-13 23:48] gsrohde opened #544 "Travis is failing when attempting to install the Gem `prototype_legacy_helper`."

[2017-10-16 21:22] dlebauer opened #545 "Accept methods and datetime fields in bulk upload wizard"
neither methods or dates with times are recognized by the bulk-upload wizard.

These fields should be recognized and handled appropriately.

[2017-10-18 01:48] gsrohde commented on #545
@dlebauer If we so support a _method_ column, should it apply to all traits in the row (if more than one)?  Also, should it be an option to choose the method globally for all rows in the file (as it is for citation, treatment, access_level, etc.)?

[2017-10-18 04:48] dlebauer commented on #545
Yes and yes

Although imperfect, it will be easier to understand if the functionality is
consistent with other columns like sites, citations, covariates, entities,
etc. So if there is a method column it applies to all traits in that row.
Allowing a methods column is not as important as allowing a user to set the
method globally.

I think setting the method globally will be the most common use case

[2017-10-23 21:56] gsrohde opened #547 "Add BETYdb Rails app implementation notes to the BETYdb GitBook documentation."
Certain implementation details of a general nature would be usefully documented globally, apart from documentation in-line in the code.

[2017-10-23 22:07] gsrohde opened #548 "Document how autocompletion fields are implemented"

[2017-11-01 02:41] gsrohde commented on #545
@dlebauer

Can we just implement setting the method-per-trait globally rather than supporting a _method_ column?  This seems much easier to implement and I can't see supporting a _method_ column being that useful.

As for setting the method for each trait globally, should it be _required_ that a method be associated with each trait?

[2017-11-01 02:46] serbinsh commented on #545
Perhaps I'm out of the loop but in many cases the same trait can be derived using different methods so from my perspective you should be able to set various methods per trait.

On Oct 31, 2017, at 10:41 PM, Scott Rohde <notifications@github.com<mailto:notifications@github.com>> wrote:

@dlebauer<https://github.com/dlebauer>

Can we just implement setting the method-per-trait globally rather than s

[2017-11-01 02:53] gsrohde commented on #545
@serbinsh I realize that any given trait can be derived using a variety of methods, but how often would the method used vary within a single data set?

[2017-11-01 05:02] dlebauer commented on #545
Scott yes setting method globally is sufficient

Shawn - if there were a dataset in which the same trait were measured with
two methods, the dataset could be split and then uploaded. If it happens
frequently we can revisit a more complicated implementation.
On Tue, Oct 31, 2017 at 9:53 PM Scott Rohde <notifications@github.com>
wrote:

[2017-11-01 11:30] serbinsh commented on #545
@dlebauer @gsrohde I was worried that you might have a dataset under a single reference that could have a trait measured with different approaches, such as elemental analyzer and the spectroscopic approach for C:N or pigments and that what you were discussing was only allowing one method to be associated.  But it sounds more like just breaking up the uploads so that each upload is a single method,

[2017-11-01 11:33] serbinsh commented on #533
@gsrohde @dlebauer could we revisit this?  There are some datasets where I would like to keep the notes field as it contains information, such as plot number or lat/long for the measurement.  But as I mentioned, the notes field is recognized in the upload but after upload the notes are empty

[2017-11-01 11:35] serbinsh commented on #533
Perhaps it wasnt the intention to keep the notes field?

[2017-11-01 11:45] serbinsh commented on #533
For example

![screen shot 2017-11-01 at 7 45 09 am](https://user-images.githubusercontent.com/3067369/32273381-a8106fa2-bed8-11e7-9f20-f30b61bc79d3.png)

[2017-11-01 12:12] dlebauer commented on #545
a single citation.

In the example you give there would be two trait records each with a
different method but they could have the same entity.

It is more a matter of ease of implementation than of allowing this case.

[2017-11-01 12:42] serbinsh commented on #545
OK, sounds good.  Thanks for clarifying!

[2017-11-01 19:19] gsrohde commented on #533
@serbinsh This was caused by a subtle but easy-to-fix bug introduced in March in release 4.15.  I will try to do a new release soon with this fixed.

[2017-11-01 21:39] gsrohde commented on #533
P.S.  The notes always go into `traits.notes`, not `entities.notes`.  There is no way to populate the `entities.notes` column via the Bulk Upload Wizard.  This could possibly be changed if there is some agreement on how this should ideally work.

[2017-11-02 00:40] gsrohde commented on #533
Pull request #549 fixes this.

[2017-11-02 00:45] gsrohde commented on #545
@dlebauer You didn't answer the second of my two questions: Should traits be _required_ to have a specified method?

[2017-11-02 02:40] dlebauer commented on #545
No
On Wed, Nov 1, 2017 at 7:46 PM Scott Rohde <notifications@github.com> wrote:

[2017-11-03 15:41] serbinsh commented on #533
Thanks @gsrohde!  It looks like the checks failed, do we need to modify anything before we can merge this fix?

[2017-11-03 18:06] gsrohde commented on #501
Updated test_structure.sql.  Can be closed after next release.

[2017-11-03 18:07] #501 closed

[2017-11-03 18:09] gsrohde commented on #533
@serbinsh If you mean the Travis checks, this is a known problem; see #544.

[2017-11-06 14:05] serbinsh commented on #533
OK.  Does that mean we can merge your PR so that I can try the upload again?  @gsrohde @dlebauer

[2017-11-06 19:37] gsrohde commented on #533
I'm waiting for one of the reviewers—@max-zilla, @robkooper, or @dlebauer—to approve the PR before I merge it.  I suppose you could check out the `bulk_upload_notes_fix` branch to your deployment copy in the meantime.

[2017-11-06 19:57] gsrohde commented on #533
@serbinsh This is merged now, but I haven't done a new release yet.  If you don't want to wait, you could just pull the latest changes from master—there aren't any new database migrations since the last release.

[2017-11-06 20:28] serbinsh commented on #533
Ok. Thanks!  I will likely pull the changes in master and then restart.

Sent from my iPhone

On Nov 6, 2017, at 2:58 PM, Scott Rohde <notifications@github.com<mailto:notifications@github.com>> wrote:

@serbinsh<https://github.com/serbinsh> This is merged now, but I haven't done a new release yet. If you don't want to wait, you could just pull the latest changes from master—there aren't any new da

[2017-11-06 20:31] gsrohde opened #551 "JavaScript errors on every page change"
Every time the user goes to a new page, to errors recur:

    Uncaught ReferenceError: GUnload is not defined at onunload

and

    Uncaught Error: jquery-ujs has already been loaded! at Function.error

These show up only in the console.  They may be harmless or they may be a sign that something isn't working properly or has the potential to not work properly.  In any case, they are distracting, p

[2017-11-06 21:43] gsrohde opened #552 "Travis fails trying to create postgis extension."
The error message is `The command "psql -U bety -d test -c "CREATE EXTENSION postgis;"" failed and exited with 1 during .`

[2017-11-07 18:20] serbinsh commented on #533
Just to confirm, I will just pull the latest master branch and touch tmp/restart to load the updated code, correct?

[2017-11-07 18:46] gsrohde commented on #533
`touch tmp/restart.txt`

[2017-11-07 19:02] serbinsh commented on #533
Thanks

[2017-11-09 21:04] gsrohde opened #553 "Traits having no citation specified can't be edited."

[2017-11-27 16:31] infotroph opened #555 "foreign key errors on load into Postgres 10.1"
Upgraded my local Postgres from 9.6 to 10.1 and Postgis from 2.3.x to 2.4.2. Load works except for a few foreign key errors that seem to be records with bad IDs:

[code]

As per @robkooper, these IDs correspond to the following records for me:

[code]

[2017-11-27 16:35] robkooper commented on #555
before anything, please check to make sure I parsed the error correctly and listed the right records.

[2017-11-27 18:03] gsrohde commented on #555
This may be related to issue #500.

[2017-11-27 18:20] robkooper commented on #500
This more due to the fact that you only load half the database effectively.

[2017-11-27 18:22] robkooper commented on #555
This is due to the fact that there seem to be orphaned items in the database. Problem is that a citation was removed, maybe updating a record betydb.org, but not on the host that holds the master version of that record. Next sync the record is reset the original state.

[2017-11-27 19:08] gsrohde commented on #500
Off of the top of my head, it would seem that if the maintainer of machine X imports from machine Y, and if the maintainer of machine Y has imported from machines A, B, and C, then there is no guarantee that importing from machine Y won't create dangling foreign-key references unless maintainer of X imports from A, B, and C as well.

[2017-11-27 19:24] gsrohde commented on #555
Another factor here may be that the terra-ref database has some constraints that aren't checked in and that aren't on the EBI database.  We did this because we wanted to avoid some of the problems the EBI database has—duplicate rows and dangling foreign keys—without having to clean up the EBI database first.

One unforeseen consequence of this is that it makes a difference whether a user first cre

[2017-11-29 13:04] cupofjoakim commented on #225
Any chance the invalid test file would be uploaded again?

[2017-11-29 15:33] dlebauer commented on #225
@cupofjoakim thanks for your interest - I've updated the files with the new links, and for the record have also attached them here:
[bety_github.zip](https://github.com/PecanProject/bety/files/1514309/bety_github.zip)

[2017-11-29 15:42] dlebauer commented on #225
@cupofjoakim I'm curious what brought you this issue and if you have any thoughts or interest in submitting a fix?

[2017-11-29 18:50] cupofjoakim commented on #225
@dlebauer I was thinking of looking at it. We had a similar issue at work the other day, but ultimately decided not to support any other format than UTF-8. The issue always seems to be excel and whilst we found a couple of semi-shitty workarounds (like this one: https://stackoverflow.com/a/25647019) we didn't feel comfortable with any of them and decided to throw an error for the user instead.

[2017-11-29 20:06] dlebauer commented on #225
@gsrohde I am going to close this ... an informative error would be nice but in the scope of work we have a low priority.

[2017-11-29 20:06] #225 closed

[2017-12-19 18:21] gsrohde commented on #280
Resurrecting this: the covariate show page still needs work.

[2017-12-19 22:56] gsrohde commented on #470
Implemented by PR #557: For trait uploads, the "Specify Upload Options and Global Values" page will display a select box for each trait variable, allowing the user to associate a method with it.

[2017-12-19 23:02] gsrohde commented on #481
@serbinsh Where is this page?  Give a sample URL for accessing this form.

[2017-12-19 23:05] gsrohde commented on #453
Implemented by PR #557.

[2017-12-21 12:12] serbinsh commented on #481
@gsrohde this is a run/formats table issue when you are editing associated variables.  For example: https://www.betydb.org/formats/2000000003/edit#

[2018-01-02 22:58] gsrohde commented on #481
@serbinsh A change I made almost three years ago broke the editing function.  During this time, the "Save" button essentially did nothing.  (Unfortunately, there is no immediate user feedback that shows whether changes to a row have been saved.  Reloading the page or leaving it and returning to it are two ways to tell whether the information one has entered has been saved, but this is not very con

[2018-01-05 20:07] dlebauer opened #563 "security"

[2018-01-05 20:07] #563 closed

[2018-01-05 20:18] dlebauer commented on #276
Moved to https://github.com/PecanProject/private/issues/10 alongside other security issues in the private repo: https://github.com/PecanProject/private/issues?q=is%3Aopen+is%3Aissue+label%3Abetydb-security

[2018-01-05 20:18] #276 closed

[2018-01-05 20:21] dlebauer commented on #458
Moved to https://github.com/PecanProject/private/issues/10

[2018-01-05 20:21] #458 closed

[2018-01-12 19:44] gsrohde opened #564 "Bulk Upload Wizard: Rounding values chosen on Specify Upload Options and Global Values page aren't "sticky""
If you choose the number of significant digits to round to on this page, leave the page, and then return, the numbers revert to the default choices.

[2018-01-16 15:01] infotroph opened #565 "Mismatched cultivar_id / species_id in traits_and_yields_view"
[Task LIst, added 3-14-2018:]

* [ ] Clean up EBI data (https://www.betydb.org)
* [ ] Clean up TERRA-MEPP data (https://terra-mepp.illinois.edu/bety)

[TERRA-REF data is OK]

---

[code]

Looks like the weird one is id 49920:
[code]

[2018-01-16 16:16] infotroph commented on #565
Here's a reasonable-looking but poorly tested query to find the other mismatched records:

[code]

On my machine, this identified 610 records. The first 10:

[code]

[2018-01-16 16:23] infotroph commented on #565
The above query also won't find cultivars where all records have the *same* wrong species.

[2018-01-16 17:07] dlebauer commented on #565
@gsrohde did you ever implement a constraint that required [id, specie_id] in the cultivars table to match the [cultivar_id, specie_id] in the traits table?

[2018-01-16 17:56] gsrohde commented on #565
I don't recall if I ever drafted a constraint for this, though I noted the need for one here: https://www.overleaf.com/2086241dwjyrd#/5297403/ (section 3.26 notes the need for this constraint in the traits table, and section 3.31 notes it for the yields table).  Also, there is a Redmine issue noting the problem here: https://ebi-forecast.igb.illinois.edu/redmine/issues/2389, and Github issues #248

[2018-01-24 20:09] max-zilla commented on #398
@gsrohde reports currently on 4.1

[2018-01-25 02:19] dlebauer commented on #398
@gsrohde and @robkooper should there be a release at 4.1 to make sure it works in the wild?

[2018-01-25 03:30] robkooper commented on #398
yes please, this way we can check it out

[2018-01-25 20:42] craig-willis opened #566 "Update app to Rails 4.2 (was 4.1)"
Per TERRA-REF planning meeting, let's complete the update to 4.1 before continuing to 5.x.

Completion criteria:
* [x] Finish ~4.1~ 4.2 upgrade
* [x] Make PR
* [x] Deploy automated build using containers
* [x] Manual testing with Pecan and TERRA teams
* [x] Get approval for PR and merge
*  Deploy upgrade
    * [x] On terraref/bety
    * [x] On terraref/bety-test
    * [x] On terra-mepp
    * [ ] O

[2018-01-25 20:42] craig-willis commented on #398
https://github.com/PecanProject/bety/issues/566

[2018-01-25 21:39] dlebauer opened #567 "API does not match strings exactly"
based on the documentation https://pecan.gitbooks.io/betydb-data-access/content/API/beta_API.html

I would expect either

https://terraref.ncsa.illinois.edu/bety/api/v1/sites?key=9999999999999999999999999999999999999999&name=MAC+Field+Scanner+Field

or

https://terraref.ncsa.illinois.edu/bety/api/v1/sites?key=9999999999999999999999999999999999999999&name=MAC Field Scanner Field

To return the site

[2018-01-26 20:22] gsrohde commented on #567
@dlebauer Use "sitename=...".  Using a parameter in the query string that doesn't match any existing attribute of the database table is not an error (perhaps it should be), but neither will it filter anything out.

[2018-01-26 20:58] dlebauer commented on #567
sorry. using sitename in this table is frequently confusing!

[2018-01-26 20:58] #567 closed

[2018-01-31 17:22] robkooper commented on #552
updated to postgres 9.5

[2018-01-31 17:22] #552 closed

[2018-02-02 16:29] ashiklom opened #571 "Extend the character limit on the `citations.author` column"
It should be possible to add a complete list of authors to the `authors` column. Such a list is obtainable from the `rcrossref` package functions, among other things.

Currently, the limit of 255 characters on the author column is way too restrictive. While importing citations from the TRY database, I came across papers with a complete author field that is 1110 characters long.